.account-heading-wrapper{
    .account-link{
        li{
            a{
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    top:50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 17px;
                    background-color: $secondary;
                }               
                &.active{
                    color: $primary !important;
                }
            }
            &:last-child a{
                &:after{
                    display: none;
                }
            }
        }
    }
}
.account-content{
    .account-subcription{
        .subscription-order-table{
            border-spacing: 0 1.14rem;
            border-collapse: separate;
            thead{
                th{
                    letter-spacing: 0.036em;
                }
            }
            tbody{
                .order-item-listing{
                   .order-image-td{
                       width: 20.44rem;
                       @include media-breakpoint-down(sm) {
                           width:auto;
                       }
                      .order-image{
                        min-width: 6.071rem;
                        width: 6.071rem;
                        @include media-breakpoint-down(sm) {
                            min-width: 5rem;
                            width: 5rem;
                        }
                     }
                   } 
                   .ships-address{
                       max-width: 8.57rem
                   }
                   &.reactivate-order{
                       td{
                           opacity: 0.6;
                           pointer-events: none;
                           &.btn-action{
                               opacity: 1;
                               pointer-events: auto;
                               .expired{
                                    opacity: 0.6;
                                    pointer-events: none;
                               }
                           }
                       }
                       td{
                        //    border-top:1px solid #e8e8e8 !important;
                        //    border-bottom: 1px solid #e8e8e8 !important;
                        //    &:first-child{
                        //     border-left:1px solid #e8e8e8 !important; 
                        //    }
                        //    &:last-child{
                        //     border-right:1px solid #e8e8e8 !important; 
                        //    }

                           &.reactivate-btn{
                               a{
                                   letter-spacing: 0.072rem;
                               }
                           }
                       }
                       & + .footable-detail-row{
                           table{
                               tr{
                                   td{
                                       border:0 !important;
                                   }
                               }
                           }
                       }
                   }
                }
            }
        }
        .order-history-table{
            border-spacing: 0 1.2rem;
            border-collapse: separate;
            thead{
                th{
                    letter-spacing: 0.036em;
                }
            }
            tbody{
                .order-number{
                    width: 20.44rem;
                    @include media-breakpoint-down(sm) {
                        width:auto;
                    }
                }
            }
        }
    }
}

/******Popup********/
.account-popup{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 840px;
    max-height: 80vh;
    background-color: $white;
    overflow: hidden;
    z-index: 9999;
    display: none;
    /* easeOutExpo */
    transition: all 650ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
    
    &.opened{
        display: block
    }
    .popup-height{
        padding-bottom: 518px;
        position: relative;
        @include media-breakpoint-only(md) {
            padding-bottom: 477px;
        }
        @include media-breakpoint-only(sm) {
            padding-bottom: 507px;
        }

        .common-box{
            position: absolute;
            left: -100%;
            width: 100%;
            top: 0;
            bottom: 0;
            transition: all ease-in-out 0.5s;
            z-index: 9;
            overflow: auto;
            
            &.open{
                left: 0;
            }
            .popup-head{
                position: relative;
                
                .popup-close{
                    position: absolute;
                    top:50%;
                    right: 2.36rem;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
                .go-back-link{
                    position: absolute;
                    top:50%;
                    left: 2.36rem;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }
            .popup-body{
                min-height: 340px;
            }
            .popup-footer{
                .cancel-note{
                    h6{
                        cursor: pointer;
                        letter-spacing: 0.071rem;
                    }
                }
            }
            &.default-box{
                .individual-option{
                    cursor: pointer;
                    position: relative;

                    &:before{
                        content: '';
                        position: absolute;
                        top:0;
                        left:0;
                        width:100%;
                        height: 100%;
                        border:1px solid #cccccc;
                        transition: border ease-in-out 0.3s;
                    }
                    &:hover,
                    &:focus{
                        &:before{
                            border:2px solid $primary;
                        }
                    }

                    img{
                        height: 35px;
                    }
                }
            }
            &.change-box{
                .popup-body{
                    .mission-selector{
                        position: relative;
                        input{
                            &:checked ~ label{
                                &::before{
                                    border:2px solid $primary;
                                }
                                .product-detail-box{
                                    z-index: 1;
                                    h4,select,p{
                                        color: $primary !important;
                                    }
                                }
                            }  
                        }
                        label{
                            cursor: pointer;

                            &::before{
                                content: '';
                                position: absolute;
                                top:0;
                                left: 0;
                                height: 100%;
                                width: 100%;
                                border:1px solid #cccccc;
                            }
                            .product-detail-box{
                                position: relative;
                                z-index: -1;
                                .product-image{
                                    img{
                                        height: 8.92rem;
                                    }
                                }
                                .plan-details{
                                    h6{
                                        min-width: 5.41rem;
                                        text-align: left; 
                                    }
                                    select{
                                        max-width: 13rem;
                                        height: auto;
                                        background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 53.1 29.5' style='enable-background:new 0 0 53.1 29.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:none;stroke:%235F6060;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} %3C/style%3E%3Cpolyline class='st0' points='2.9,2.9 26.5,26.6 26.6,26.6 50.2,2.9 '/%3E%3C/svg%3E") no-repeat right 0.75rem center; 
                                        background-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
                .popup-footer{
                    > .row{
                        min-height: 45px;
                    }
                }
            }
            &.skip-shipment-box{
                .popup-body{
                    .skip-mission{
                        .skip-option{
                            input{
                                &.flatpickr-input{
                                    height: 35px !important;
                                }
                                &:checked ~ label{
                                    &::before{
                                        border:2px solid $primary;
                                    }
                                    .option-details{
                                        z-index: 1;
                                    }
                                }  
                            }
                            label{
                                cursor: pointer;

                                &::before{
                                    content: '';
                                    position: absolute;
                                    top:0;
                                    left: 0;
                                    height: 100%;
                                    width: 100%;
                                    border:1px solid #cccccc;
                                } 
                                span{
                                    position: relative;
                                }
                                .option-details{
                                    position: relative;
                                    z-index: -1;
                                    width: calc(100% - 2.64rem);
                                }
                            }
                        }
                    }
                }
            }
            &.edit-shipping-box{
                .popup-body{
                    .edit-shipping-field{
                        label{
                            color: #929292;
                        }
                    }
                }
            }
            &.gift-message-box{
                .popup-body{
                    .edit-gift-field{
                        label{
                            color: #929292;
                        }
                    }
                }
            }
            
        }
    }
}
@include media-breakpoint-up(lg) {
    .order-item-listing.reactivate-order td{
        border-bottom:1px solid $gray-200 !important;
        border-top:1px solid $gray-200 !important;
        &:first-child{
            border-left:1px solid $gray-200 !important;
        }
        &:nth-last-of-type(2){
            border-bottom:1px solid #efefef !important;
            border-top:1px solid #efefef !important;
        }
        &:last-child{
            border-right:1px solid $gray-200 !important;
        }
    }
}


.order-item-listing {
    display: table-row !important;
}
@include media-breakpoint-down(sm) {
.order-item-listing{
    .footable-toggle{
      position: relative;
      width: 12px;
      height: 12px;
      vertical-align: middle;
      &:after, &::before{
        content: '';
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width:12px;
        height: 2px;
        background: $primary;
      }
      &:before{
        width:2px;
        height: 12px;
      }
    }
    &.footable-detail-show{
      .footable-toggle{
        &:before{
          display: none;
        }
      }
    }
  }
  
  .footable-row-detail{
    .footable-row-detail-cell{    
      .footable-row-detail-row{
        display: flex;
        margin-bottom: 5px; 
        .footable-row-detail-name{
           font-family: $text-latoMedium;
           text-transform: uppercase;
        }
        .footable-row-detail-name,
        .footable-row-detail-value{
          width: 50%;
        }
      }
    }
  }
  
    .table-borderless.footable>tbody{
      > tr{
        &.order-item-listing.shadow{
            box-shadow: none !important;
        }
        > td{
          position: relative;
          &:after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 1px solid #d7d7d7;
          }
          .btn{
              vertical-align: top;
          }
        }
      }
    }    
}

#content__customers__orders{
    &.page__customers__orders{
        min-height: 60vh;
    }
}