/*---------------------------------------------------------------------------------*/
/*  Responsive typography
/*---------------------------------------------------------------------------------*/
html {
  padding-bottom: 0 !important; // removes padding from 3rd party apps

  // better font-rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // base font size
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 12px;
  }
}
@include media-breakpoint-up(md) {
  html {
    font-size: 12px;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 14px;
  }
}

/*---------------------------------------------------------------------------------*/

/*  Typography - Custom Extra classes
/*---------------------------------------------------------------------------------*/
a {
  text-decoration: none;
  @include transition(color .25s ease-in-out);
}

/*---------------------------------------------------------------------------------*/

/*  Utilities - Custom Extra Helper Classes
/*---------------------------------------------------------------------------------*/
.img-fluid {
  width: 100%;
}

img{
  max-width: 100%;
}

.table-borderless{
  th, td{
    border: 0 !important;
  }
}

.bg-img {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mt-gutter {
  margin-top: $grid-gutter-width;
}

.mb-gutter {
  margin-bottom: $grid-gutter-width;
}

.ml-gutter {
  margin-left: $grid-gutter-width;
}

.mr-gutter {
  margin-right: $grid-gutter-width;
}

.rte {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.border-radius-0{
  border-radius: 0 !important;
}
.box-shadow-1 {
  box-shadow: $shadow-1;
}

.box-shadow-2 {
  box-shadow: $shadow-2;
}

.filter-blur {
  -webkit-filter: blur(30px);
  filter: blur(30px);
}

/* styles for lazy load images */
img[data-sizes="auto"] {
  display: block;
  width: 100%;
}

.object-fit-cover{
  object-fit: cover;
}

.lazyload {
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: $transition-base;

  &.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

.lazyloading {
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: $transition-base;
}

.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: $transition-base;
}

.spin::before {
  transform-origin: 47% 50%;
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.word-wrap-break{
  word-wrap: break-word;
}

/*---------------------------------------------------------------------------------*/

/*  Vue.js related
/*---------------------------------------------------------------------------------*/

/* helper directive hide during loading */
[v-cloak] {
  display: none !important;
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: $transition-fade;
}

/* .fade-leave-active below version 2.1.8 */
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.collection-tween-enter-active,
.collection-tween-leave-active {
  transition: $transition-fade;

  .card-product {
    transition: all 0.3s ease-out;
  }
}

.collection-tween-enter,
.collection-tween-leave-to {
  opacity: 0;

  .card-product {
    transform: translate3d(0, 5px, 0);
  }
}

/*---------------------------------------------------------------------------------*/

/*  Layout related stuff & Elements
/*---------------------------------------------------------------------------------*/
#app.loading * {
  cursor: wait !important;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: $transition-fade;
  background-color: rgba(0,0,0,0.5);
  //background: transparentize($gray-900, 0.4);

  &.site-overlay {
    position: fixed;
    z-index: $zindex-modal-backdrop;
    // z-index: 9999999;
    visibility: hidden;
    opacity: 0;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

// helper class to be used inside a .row class
// removes the Bootstrap's default left right padding in the container
// it is useful for container-fluid to make it 100% real screen width

.row-full-width [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.no-gutters .carousel-cell {
  padding-right: 0;
  padding-left: 0;
}

.shopify-challenge__container {
  padding: $spacer*6 0;
}

.shopify-challenge__button {
  background: $primary;
  color: #ffffff;
}

/* Quantity - Numeric Stepper => Turn Off Number Input Spinners */
.quantity-wrapper {
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .btn-decrease,
  .btn-increase,
  input.quantity {
    padding-right: 5px;
    padding-left: 5px;
  }

  input.quantity:focus,
  input.quantity:hover {
    box-shadow: none !important;
  }
}

/* input checkbox or radio as Color swatch */
.color-swatch {
  label {
    line-height: 0;
    border: $border-width solid $gray-300;
    border-radius: $border-radius;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    margin: 0;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 0.9rem;
    border-style: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    transition: $transition-base;
    opacity: 0;

    &:checked {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABrSURBVEhL7Y9hCsAgCEY7xeiOHXi30fmBwpCSrflvPghR+17UiuIxzNyJaGibi8pPqZz+iJOjdl1956dyCYwokCFfBjHbloNIEO1eMRPNZnp9Dy9MlRsQmRikyg0Ibz/IlRsiP3C0LQpPaxc2+CJ4/uaJEgAAAABJRU5ErkJggg==");
      opacity: 1;
      background-color: rgba(0,0,0,0.1);
    }
  }
}

/* input checkbox or radio as Size swatch */
.size-swatch {
  position: relative;
  label {
    line-height: 1.4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0.7rem 1.5rem;
    margin: 0;
    border: 2px solid $gray-300;
    border-radius: $border-radius;
    transition: $transition-base;
  }

  input {
    -webkit-appearance: none;
    outline: none;
    padding: 0rem;
    text-align: center;
    border: $border-width solid $gray-300;
    border-radius: $border-radius;
    transition: $transition-base;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    // &::after {
    //   content: attr(value);
    //   font-size: 0.7rem;
    //   letter-spacing: 1px;
    // }

    &:hover + label{
      border: 2px solid $gray-500;
    }

    &:checked + label{
      border: 2px solid $primary;
    }
  }
}

/* Cart Dropdown */
.cart-dropdown .popover {
  min-width: 350px;
  max-width: 350px;
  margin-top: 0;

  .popover-header {
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .popover-body {
    .inner {
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      max-height: 270px;
      margin: (-0.6em) (-$popover-body-padding-x) $popover-body-padding-y;
      padding: 0 $popover-body-padding-y;

      .cart-item {
        position: relative;
        display: block;
        padding: 0.8em 1.2em;
        border-bottom: 1px solid $gray-200;
        transition: $transition-fade;

        &.updating{
          opacity: 0.5;
        }
      }

      .badge {
        position: absolute;
        top: 2em;
        left: 2em;
      }
    }

    .item-price {
      font-size: 0.8rem;
    }

    .btn-remove {
      font-size: 1.4rem;
    }
  }
}
/* Cart Drawer Addons */
.cart-drawer-addons {
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // z-index: -1;
  // visibility: hidden;
  // background: #fff;
  // max-width: 925px;
  // width: 100%;
  // /* easeOutExpo */
  // transform: translate(-50%,-50%) translateZ(0);
  // -o-transform: translate(-50%,-50%) translateZ(0);
  // -ms-transform: translate(-50%,-50%) translateZ(0);
  // -webkit-transform: translate(-50%,-50%) translateZ(0);
  // -moz-transform: translate(-50%,-50%) translateZ(0);
  // background: #ffffff;
  // overflow: auto;
  // max-height: 90%;
  // @include media-breakpoint-down(lg) {
  //   width: 100%;
  //   max-width: 90%;
  // }
  // @include media-breakpoint-down(md) {
  //   max-width: 95%;
  // }
  // &.opened {
  //   visibility: visible;
  //   z-index: $zindex-modal;
  //   margin-top: 1px;
  // }
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1072;
  z-index: 9999999;
  overflow: hidden;
  opacity: 0;
  outline: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out;
  &.opened {
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    visibility: visible;
    .cart-addons-dialog{
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
    }
  }
  .cart-addons-dialog{
    position: relative;
    width: auto;
    margin: 1.75rem auto;
    pointer-events: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    max-width: 925px;
    width: 100%;
    min-height: calc(100% - (1.75rem * 2));
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
    .cart-addons-content{
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: .3rem;
      outline: 0;
      max-height: 80vh;
      overflow: auto; 
    }
  }
  .cartPopupH{
    @include media-breakpoint-down(sm) {
      border-right: 0 !important;
    }
  }
  .drawer-header{
    backface-visibility: hidden;
    h4{
        font-size: $h3-font-size;
        @include media-breakpoint-down(sm) {
            font-size: $h4-font-size;
        }
    }
    .itemLabel{
        &::before{
            content: "\f149";
            font-family: "Ionicons";
            color:$primary;
            font-size: 2.5rem;
            margin-right: 20px;
        }
    }
    .btn-close{
        position: absolute;
        top: 1.3rem;
        right: 1.8rem;
        font-size: 1.79rem;
        @include media-breakpoint-down(xs) {
          top: 0.1rem;
          right: 0.8rem;
        }
    }
  }
  .drawer-body{
    backface-visibility: hidden;
      .cart-item{
          .item-image{
              &::before{
                  padding-bottom: 100%;
                  display: block;
                  content: '';
              }
              img{
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  max-width: 100%;
                  max-height: 100%;
                  margin: auto;
                  object-fit: cover;
              }
          }
          .item-properties{
              p{
                letter-spacing: 0;
                  &:last-child{
                      margin-bottom: 0 !important;
                  }
                @include media-breakpoint-down(md) {
                    font-size: 12px;
                }
              }
          }
          .add-product{
            font-size: 0.93rem !important;
          }
      }
  }
  .drawer-relatedProduct{
      .featured-heading{
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
            background-color: #c9c9c9;
            z-index: 1;
          }
          span{
            z-index: 2;
            position: relative;
            background-color: $white;
            padding: 0 1.57rem;
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
          }
      }
      .popup-slider{
        .slick-track{
          display: flex;
          align-items: stretch;
          
          .slick-slide{
            height: auto;
            padding-bottom: 5px;
            & > div{
              height: 100%;
              .card{
                display: flex !important;
              }
            }
          }
        }
      }
  }
}
/* Cart Drawer */
.cart-drawer {
  position: fixed;
  z-index: $zindex-modal;
  top: 0;
  right: 0;
  left: auto;
  display: block;
  overflow: hidden;
  max-width: 340px;
  width:90%;
  height: 100%;

  /* easeOutExpo */
  transition: all 650ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transform: translate3d(100%, 0, 0);
  background: #ffffff;

  &.opened {
    transform: translate3d(0, 0, 0);
    box-shadow: $shadow-1;
  }

  @include media-breakpoint-down(sm) {
    width: 90%;
  }

  .drawer-header {
    .btn-close {
      line-height: 0;
      font-size: 1.8rem;
    }
  }

  .drawer-body {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .icon i {
      color: $gray-200;
      font-size: 6rem;
    }
  }

  .cart-item {
    border-bottom: 1px solid $gray-100;
    transition: $transition-fade;

    &.updating{
      opacity: 0.5;
    }

    .badge {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    .item-image {
      // width: 80px;
      // min-width: 80px;
      @include media-breakpoint-down(xs) {
        // width: 65px;
        // min-width: 65px;
      }
    }

    .item-price {
      font-size: 1rem;
    }

    .btn-remove {
      font-size: 1.4rem;
      i{
        &::before{
          font-size: 21px;
        }
      }
    }
  }
}

/* Product Mobile Toolbar (product form - options) */
[data-product-toolbar-mobile]{
  /* easeOutExpo */
  transition: all 650ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transform: translateY(100%);
  visibility: hidden;

  [data-product-form]{
    transition: $transition-base;
    opacity: 0;
  }

  .toolbar-mobile{
    min-height: 50px;
  }

  .btn-close {
    line-height: 0;
    font-size: 1.8rem;
  }

  &.semi-opened{
    visibility: visible;
    transform: translateY(62%);
    box-shadow: $shadow-1;
  }

  &.fully-opened{
    visibility: visible;
    transform: translateY(0);
    box-shadow: $shadow-1;

    [data-product-form]{
      opacity: 1;
    }
  }
}

/* Quick Shop */
[data-quickshop]{
  .modal-body{
    position: relative;
    opacity: 0;
    transform: translateY(3%);
    transition: all 650ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);

    &.opened{
      opacity: 1;
      transform: translateY(0);
    }

    .carousel{
      width: 100%;
      height: 450px;
      overflow: hidden;

      .carousel-cell{
        width: 100%;
        height: 100%;
      }

      .flickity-page-dots {
        bottom: 25px;
      }
    }
  }
}
