/* Main Navbar */
.navbar-main {
  z-index: $zindex-fixed;
  width: 100%;
  transition: $transition-base;
  background: $navbar-dark-color;
  @include media-breakpoint-up(ex-lg) {
    padding: 0;
  }
  &.fixed-top {
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .nav-link,
  .navbar-brand {
    color: $navbar-light-color;
  }
  
  .navbar-brand img {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    @include media-breakpoint-down(md) {
      height: 35px;
      width: auto;
    }
  }

  .nav-link {
    @include media-breakpoint-up(md) {
      padding: 1em 0;
    }
  }

  .nav-item {
    padding: 0.4em;

    &:last-child .nav-link {
      padding-right: 0;
    }
  }

  .nav-icon {
    padding: 0 0.3em;

    i {
      font-size: 1.6rem;
      @include media-breakpoint-down(md) {
        font-size: 1.8rem;
      }
    }
  }

  .badge {
    display: inline-block;
    margin: -24px 0 0 -8px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
  }

  .dropdown-menu {
    overflow: hidden;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: $transition-base;
    transform: translate3d(0, -2%, 0);

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, -2%, 0);
    }

    .dropdown-item {
      padding: 0.6em 1em;
    }
  }
}

// Sticky styles for navbar
body {

  &.is-scrolled-down {
    header.fixed-top {
      // transform: translate3d(0, -100%, 0);
      box-shadow: $box-shadow-sm;
      border-bottom: 0 !important;
    }
  }

  &.is-scrolled-up {
    header.fixed-top {
      box-shadow: $box-shadow-sm;
      border-bottom: 0 !important;
    }
  }

  &.is-scrolled-top.template-index .header-transparent {
    .navbar-main.fixed-top {
      background: transparent;

      .nav-link,
      .navbar-brand {
        color: $navbar-dark-color;
      }

      &:hover {
        background: rgba(255,255,255,0.2);
      }
    }
  }
  &.template-index{
    header.fixed-top {
      border-bottom: 0 !important;
    }
  }
}

/* Navbar with centered logo - Additional styles */
.navbar-centered-logo {
  .navbar-icon-links {
    position: absolute;
    right: $navbar-padding-x;
  }

  .navbar-logo-mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Mobile Navbar => left drawer */
.navbar-mobile {
  .nav-link {
    padding: 0.2em 1.2em;
    text-transform: uppercase;
    color: $navbar-light-color;
    font-size: 1.1rem;
  }

  .submenu {
    background: $gray-100;

    .nav-link {
      padding: 0.3em 1.2em;
      text-transform: capitalize;

      &:first-child {
        padding-top: 1.2em;
      }

      &:last-child {
        padding-bottom: 1.2em;
      }
    }
  }

  .icon-toggle {
    font-size: 1.6rem;
    font-style: normal;

    &::before {
      font-family: "Ionicons";
    }
  }

  a[aria-expanded="false"] {
    background: transparent;

    .icon-toggle::before {
      content: "\f3d0";
    }
  }

  a[aria-expanded="true"] {
    background: $gray-200;

    .icon-toggle::before {
      content: "\f3d8";
    }
  }
}

.navbar-mobile-secondary {
  border-top: 1px solid $gray-200;
  margin-top: 0.5rem;
  padding-top: 0.5rem;

  .nav-link {
    font-size: 1rem;
  }

  .icon-toggle {
    font-size: 1.4rem;
  }
}

// Megamenu classes
.megamenu {
  position: static !important;

  .dropdown-menu{
    width: 100%;
  }
}
