{% include 'breadcrumb' %}

<section class="section-content bloomsyPedia"> 
    <div class="container">
        <div class="row"> 
            <div class="col-12 col-md-4 col-lg-3 mb-md-0 mb-sm-6 mb-5">
                <h5 class="mb-5 text-primary mt-3 font-weight-bold">Categories</h5>
                <ul class="list-group list-group-flush text-uppercase font-weight-medium font-size-lg">
                    {% for article in blog.articles %}
                        <li class="list-group-item pl-0"><a href="{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 {% if blog.metafields.global.featured_images != blank %}col-md-8 col-lg-6{% endif %} mb-md-0 mb-sm-6 mb-5">
                <h2 class="mb-4">{{ blog.title }}</h2>
                {{ blog.metafields.global.description }}
            </div>
            {% if blog.metafields.global.featured_images != blank %}
            <div class="col-12 col-lg-3 mt-lg-0 mt-md-8">  
                <div class="pediaPost_img"> 
                    <img src="{{ blog.metafields.global.featured_images }}" />  
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% section 'blog-selling-categories' %}

