{% section 'collection-header-slider' %}

{% section 'new-collection' %}
{% section 'collection-banner' %}
{% section 'collection-blocks' %}

{% comment %} {% section 'new-subscription-page' %} {% endcomment %}
{% comment %} {% section 'content-martha-stewart' %} {% endcomment %}