  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-12 px-sm-4 text-center">
          <h1 class="page-title">{{ page.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="rte">{{ page.content }}</div>
        </div>
      </div>
    </div>
  </section>

