

<section class="section-content bloomsyPedia"> 
    <div class="container">
        <div class="row"> 
            <div class="col-12 col-md-4 col-lg-3 mb-md-0 mb-sm-6 mb-5">
                <h5 class="mb-5 text-primary mt-3 font-weight-bold">Categories</h5>
                <ul class="list-group list-group-flush text-uppercase font-weight-medium font-size-lg">
                    <li class="list-group-item pl-0"><a href="">Birthday</a></li>
                    <li class="list-group-item pl-0"><a href="">Anniversary</a></li>
                    <li class="list-group-item pl-0"><a href="">Valentine’s Day</a></li>
                    <li class="list-group-item pl-0"><a href="">Mother’s day</a></li>
                    <li class="list-group-item pl-0"><a href="">International Women’s day</a></li>
                    <li class="list-group-item pl-0"><a href="">Birthday</a></li>
                    <li class="list-group-item pl-0"><a href="">Anniversary</a></li>
                    <li class="list-group-item pl-0"><a href="">Valentine’s Day</a></li>
                    <li class="list-group-item pl-0"><a href="">Birthday</a></li>
                    <li class="list-group-item pl-0"><a href="">Anniversary</a></li>
                    <li class="list-group-item pl-0"><a href="">Valentine’s Day</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-8 col-lg-6 mb-md-0 mb-sm-6 mb-5">
                <h2 class="mb-4">Occasions</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-12 col-lg-3 mt-lg-0 mt-md-8">  
                <div class="pediaPost_img"> 
                    <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/DSC_3581-768x1151.jpg?3170" />  
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-content Bloomsypedia-categories" style="background:#f5f5f5;"> 
    <div class="container">
        <div class="row mb-md-3"> 
            <div class="col-12 text-center">
                <h6>Bloomsy Box Featured Products</h6>
                <h2 class="text-primary">Top Selling Categories</h2> 
            </div>
        </div> 
        <div class="row carousel-pedia" 
            data-flickity='{
              "contain": true,
              "freeScroll": false,
              "groupCells": "100%",  
              "cellAlign": "left",
              "draggable": true,
              "pageDots": false,
              "arrowShape": {"x0": 20, "x1": 75, "y1": 50, "x2": 80, "y2": 40, "x3": 35}
            }'>
            <div class="col-sm-6 col-lg-4 mt-3 d-flex align-items-stretch">
                <div class="card bg-white text-left border-0 border-radious-0 bg-transparent">
                    <div class="card-img pedia-img">
                        <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                    </div>
                    <div class="card-body px-0 pb-0">
                        <h3 class="card-title text-center font-weight-normal mb-0">
                            <a href="">Ocassions</a>
                        </h3> 
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-3 d-flex align-items-stretch">
                <div class="card bg-white text-left border-0 border-radious-0 bg-transparent">
                    <div class="card-img pedia-img">
                        <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                    </div>
                    <div class="card-body px-0 pb-0">
                        <h3 class="card-title text-center font-weight-normal mb-0">
                            <a href="">Ocassions</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-3 d-flex align-items-stretch">
                <div class="card bg-white text-left border-0 border-radious-0 bg-transparent">   
                    <div class="card-img pedia-img">
                        <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                    </div>
                    <div class="card-body px-0 pb-0">
                        <h3 class="card-title text-center font-weight-normal mb-0">
                            <a href="">Ocassions</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-3 d-flex align-items-stretch">
                <div class="card bg-white text-left border-0 border-radious-0 bg-transparent">   
                    <div class="card-img pedia-img">
                        <img data-sizes="auto" src="//cdn.shopify.com/s/files/1/0084/0617/1763/articles/Unknown-1100x731.jpeg?v=1551166209">
                    </div>
                    <div class="card-body px-0 pb-0">
                        <h3 class="card-title text-center font-weight-normal mb-0">
                            <a href="">Ocassions</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>          
