<template v-for="promo in promoProducts">
  <div v-if="promo.isVisible && !promo.isInCart" data-promo-product :data-mode="promo.mode" class="card d-block mb-3">
    <span class="badges">
      <span class="badge bg-success text-white">Free Gift!</span>
    </span>
    <div class="row no-gutters">
      <div class="col-12 col-sm-3 col-lg-2 d-flex align-items-center">
        <a :href="'/products/' + promo.handle">
          <img :src="promo.featuredImage" class="img-fluid" :alt="promo.title">
        </a>
      </div>
      <div class="col-8 col-sm-6 col-lg-8 d-flex align-items-center">
        <div class="inner p-4">
          <div v-if="promo.isTeaserEnabled && promo.qualifier === 'minimum_cart_amount'" class="h5">
            Spend <span v-text="_calcRemainingAmount(promo.qualifierAmount)"></span> more and get a FREE GIFT!
          </div>
          <div v-else class="h5" v-html="promo.customMessage"></div>
          <div><a href="/products/{{ product_gwp.handle }}" v-text="promo.title"></a></div>
          <a href="#" v-if="!promo.isTeaserEnabled" @click.prevent="_addPromoToCart(promo.id)" rel="nofollow" class="btn btn-primary btn-sm mt-2">{{ 'products.product.add_to_cart' | t }}</a>
        </div>
      </div>
      <div class="col-4 col-sm-3 col-lg-2 d-flex align-items-center">
        <div class="inner text-center p-4">
          <s class="price text-gray-600 m-0 p-0" v-html="_formatMoney(promo.price)"></s>
          <div>FREE</div>
        </div>
      </div>
    </div>
  </div>
</template>
