{% assign total_items = block.settings.related_products_view | plus: 1  %} 

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
    {% assign found_a_collection = false %}
    {% for c in product.collections %}
        {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
            {% assign found_a_collection = true %}
            {% assign collection = c %}
        {% endif %}
    {% endfor %}
{% endif %}
<section class="also-like-section section-related-products {% if block.settings.related_products_section_padding %}section-content{% endif %}" style="background-color: {{ block.settings.related_products_section_bg_color }}; color: {{ block.settings.related_products_section_txt_color }}" {{ block.shopify_attributes }} >
    <div class="{% if block.settings.related_products_fluid_layout %}container-fluid{%else%}container{% endif %}">
        {% if block.settings.related_products_heading_txt != '' %}
            <h4 class="display-3 mb-md-5 mb-3 text-center">{{ block.settings.related_products_heading_txt }}</h4>
        {% endif %}
        <div class="row {% if block.settings.related_products_section_no_gutters %}no-gutters{% endif %}">

                {% assign current_product = product %}
                {% assign current_product_found = false %}

                {% for product in collection.products limit: total_items %}
                    {% if product.handle == current_product.handle %}
                    {% assign current_product_found = true %}
                    {% else %}
                    {% unless current_product_found == false and forloop.last %}
                    <div class="py-3 py-md-0 {% if block.settings.fluid_related_products_section %}col-12 col-sm-6 col-lg-4 col-xl-3{% else %}col-12 col-md-4{% endif %} d-flex">
                        <div class="shadow w-100">
                                <div class="row align-items-center">
                                    <div class="col-5 col-sm-6 pl-4">
                                        <div class="product-img">
                                            <img
                                                data-sizes="100vw"
                                                src="{{ product.featured_image | img_url: 'pico' }}"
                                                data-srcset="
                                                {{ product.featured_image | img_url: 'large' }} 576w,
                                                {{ product.featured_image | img_url: '600x' }} 768w,
                                                {{ product.featured_image | img_url: '600x' }} 992w,
                                                {{ product.featured_image | img_url: '600x' }} 1200w
                                                "
                                                class="lazyload"
                                                alt="{{ product.featured_image.alt | escape }}"/>
                                        </div>
                                    </div>
                                    <div class="col-7 col-sm-6 my-3"> 
                                        <h2 class="font-size-lg mb-2"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h2>
                                        <h5 class="text-Roboto font-weight-light text-secondary mb-4">{{ product.price | money }}</h5>
                                        <a href="{{ product.url | within: collection }}" class="btn btn-sm btn-primary">Shop</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                    {% endunless %}
                    {% endif %}
                {% endfor %}
            </div>
    </div>
</section>
