{% assign total_items = block.settings.related_products_view | plus: 1  %} 

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
    {% assign found_a_collection = false %}
    {% for c in product.collections %}
        {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
            {% assign found_a_collection = true %}
            {% assign collection = c %}
        {% endif %}
    {% endfor %}
{% endif %}

<section class="section-related-products {% if block.settings.related_products_section_padding %}section-content{% endif %}" style="background-color: {{ block.settings.related_products_section_bg_color }}; color: {{ block.settings.related_products_section_txt_color }}" {{ block.shopify_attributes }} >
  <div class="{% if block.settings.related_products_fluid_layout %}container-fluid{%else%}container{% endif %}">
    <div class="row {% if block.settings.related_products_section_no_gutters %}no-gutters{% endif %}">
      <div class="col text-center">

        {% if block.settings.related_products_heading_txt != '' %}
          <h2 class="section-title mb-4">{{ block.settings.related_products_heading_txt }}</h2>
        {% endif %}

        <div class="carousel"
           data-flickity='{
             "adaptiveHeight": true,
             "contain": true,
             "wrapAround": false,
             "freeScroll": false,
             "groupCells": "100%",
             "accessibility": true,
             "setGallerySize": true,
             "dragThreshold": 20,
             "prevNextButtons": {{block.settings.related_products_nav_arrows}},
             "pageDots": {{block.settings.related_products_nav_dots}},
             {% if block.settings.related_products_auto_play > 0 %}"autoPlay": {{block.settings.related_products_auto_play}}000,{% endif %}
             "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
           }'>
            {% assign current_product = product %}
            {% assign current_product_found = false %}

            {% for product in collection.products limit: total_items %}
                {% if product.handle == current_product.handle %}
                  {% assign current_product_found = true %}
                {% else %}
                  {% unless current_product_found == false and forloop.last %}
                    <div class="carousel-cell d-flex equal-height
                    {% if block.settings.fluid_related_products_section %}col-12 col-sm-6 col-lg-4 col-xl-3{% else %}col-12 col-sm-6 col-lg-4{% endif %}
                    ">
                      {% include 'card-product-style-1' %}
                    </div>
                  {% endunless %}
                {% endif %}
            {% endfor %}
        </div>

      </div>
    </div>
  </div>
</section>
