<div class="breadcrumb-navigation">
    <div class="container">
    {% unless template == 'index' or template == 'cart' %}
        <nav class="breadcrumb pt-4 pb-0" role="navigation" aria-label="breadcrumbs">
            <a href="/" title="{{ 'general.breadcrumbs.home' | t }}">
             <img src="{{ 'breadcrob_logo.png' | file_img_url: 'pico' }}">
            </a>                                                    

            {% if template contains 'blog' %}
                <span aria-hidden="true" class="link-divider px-3"><img src="{{ 'next-arrow.png' | file_img_url: 'pico' }}"></span>
                <a href="{{pages['bloomsypedia'].url}}" class="text-uppercase font-weight-normal" title="">{{pages['bloomsypedia'].title}}</a>                                
                <span aria-hidden="true" class="link-divider px-3"><img src="{{ 'next-arrow.png' | file_img_url: 'pico' }}"></span>
                {% if current_tags %}
                    <a href="{{blog.url}}" class="text-uppercase font-weight-normal" title="">{{blog.title}}</a>                
                    <span aria-hidden="true" class="link-divider px-3"><img src="{{ 'next-arrow.png' | file_img_url: 'pico' }}"></span>
                    <span>{{ current_tags | join: " + " }}</span>
                {% else %}
                    <span class="text-uppercase font-weight-normal">{{ blog.title }}</span>
                {% endif %}
            {% elsif template contains 'article' %}
                <span aria-hidden="true" class="link-divider px-3"><img src="{{ 'next-arrow.png' | file_img_url: 'pico' }}"></span>
                <a href="{{pages['bloomsypedia'].url}}" class="text-uppercase font-weight-normal" title="">{{pages['bloomsypedia'].title}}</a>                                
                <span aria-hidden="true" class="link-divider px-3"><img src="{{ 'next-arrow.png' | file_img_url: 'pico' }}"></span>
                    <a href="{{blog.url}}" class="text-uppercase font-weight-normal" title="">{{blog.title}}</a>                                
                <span aria-hidden="true" class="link-divider px-3"><img src="{{ 'next-arrow.png' | file_img_url: 'pico' }}"></span>
                <span class="text-uppercase font-weight-normal">{{ article.title }}</span>           
            {% endif %}
        </nav>
    {% endunless %}
    </div>
</div>