<div class="card text-left border-0 shadow-lg rounded-0">
  <span class="badges l-0 t-0 r-auto">
    <span v-if="product.compare_at_price > product.price" class="badge badge-right bg-warning text-white">{{ 'products.product.on_sale' | t | escape }}</span>
  </span>
  <div class="card-img text-center rounded-0" :class="{'bg-gray-300': !product.featured_image}">
    <a v-if="product.featured_image" :href="'/products/' + product.handle" class="product-img">
      <img
          :src="_getSizedImageUrl(product.featured_image, '600x')"
          :data-src="_getSizedImageUrl(product.featured_image, '600x')"
          class="lazyload m-auto position-absolute l-0 t-0 r-0 b-0 mh-100"
          :alt="product.title"/>
    </a>
    <span v-else>
      {{ 'product-1' | placeholder_svg_tag: 'img-fluid' }}
    </span>
  </div>
  <div class="card-body p-3 p-xl-4 mx-lg-1 d-flex align-items-start justify-content-between">
    <div class="pr-2">
      <h5 class="card-title text-Roboto font-weight-bold text-capitalize mb-2"><a :href="'/products/' + product.handle" v-text="product.title"></a></h5>
      <p class="h5 text-Roboto font-weight-light mb-0 text-primary"><s v-if="product.compare_at_price > product.price" v-html="_formatMoney(product.compare_at_price)"  class="text-gray-600 mr-2"></s>
      <span v-html="_formatMoney(product.price)"></span>
    </div>
      <a href="#" @click.prevent="_addToCart('grid-item', product.variants[0].id)" class="btn btn-primary btn-sm" :class="{'disabled': !product.available}" title="{{ 'products.product.add_to_cart' | t | escape }}" rel="nofollow" aria-label="{{ 'products.product.add_to_cart' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
        Shop
      </a>

      {% if settings.enable_quickshop %}
        <a href="#" @click.prevent="_viewQuickShop(product.handle)" class="btn btn-outline-primary btn-sm" title="{{ 'products.product.quickshop' | t | escape }}" rel="nofollow" aria-label="{{ 'products.product.quickshop' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
          <i class="icon ion-md-eye"></i>
      </a>
      {% endif %}

      {% if settings.enable_wishlist %}
        <template v-if="!_checkWishlist(product.variants[0].id)" >
          <a href="#" @click.prevent="_addVariantToWishlist(product.handle, product.variants[0].id)" class="btn btn-outline-primary btn-sm" title="{{ 'general.wishlist.add_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
            <i class="icon ion-md-star-outline"></i>
          </a>
        </template>
        <template v-else>
          <a class="btn btn-outline-primary btn-sm" rel="nofollow" title="{{ 'general.wishlist.added_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
            <i class="icon ion-md-star"></i>
          </a>
        </template>
      {% endif %}
    {% comment %} <div class="col-12 col-md-4 mt-2 mt-md-0 text-left text-md-right">
      <div data-item-reviews :data-product-id="product.id"></div>
    </div> {% endcomment %}
  </div>
</div>
