{% assign current_variant = product.selected_or_first_available_variant %}

<div class="card text-left border-0 shadow-lg rounded-0">
  <div class="card-img text-center rounded-0 {% if product.featured_image.size == 0 %}bg-gray-300{% endif %}">
    <span class="badges l-0 t-0 r-auto"> 
      {% if current_variant.compare_at_price > current_variant.price %}
      <h5 class="bg-gray-100 text-primary py-2 px-3 m-0">
        {{ 'products.product.on_sale' | t | escape }}
      </h5>
      {% endif %}
    </span>
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
    {% if product.featured_image.size > 0 %}
        <a href="{{ product.url | within: collection }}" class="product-img">
          <img
            data-sizes="100vw"
            src="{{ product.featured_image | img_url: 'pico' }}"
            data-srcset="
              {{ product.featured_image | img_url: 'large' }} 576w,
              {{ product.featured_image | img_url: '600x' }} 768w,
              {{ product.featured_image | img_url: '600x' }} 992w,
              {{ product.featured_image | img_url: '600x' }} 1200w
              "
            class="lazyload m-auto position-absolute l-0 t-0 r-0 b-0 mh-100"
            alt="{{ product.featured_image.alt | escape }}"/>
        </a>
    {% else %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
    {% endif %}
  </div>
  <div class="card-body p-3 p-xl-4 mx-lg-1 d-flex align-items-start justify-content-between">  
    <div class="pr-2">
      <h5 class="card-title text-Roboto font-weight-bold text-capitalize mb-2">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </h5>
      <p class="h5 text-Roboto font-weight-light mb-0 text-primary">{{ product.price | money }}<strike class="text-gray-600 ml-2">{% if current_variant.compare_at_price > product.price %}{{ product.compare_at_price | money }}{% endif %}</strike></p>
    </div>
    <a href="{{ product.url | within: collection }}" class="btn btn-primary btn-sm {% unless product.available %}disabled{% endunless %}" title="{{ 'products.product.add_to_cart' | t | escape }}" rel="nofollow" aria-label="{{ 'products.product.add_to_cart' | t | escape }}" data-trigger="hover" data-placement="top">
        shop
      </a>

      {% if settings.enable_quickshop %}
        <a href="#" rel="nofollow" @click.prevent="_viewQuickShop('{{ product.handle }}')" class="btn btn-outline-primary btn-sm" title="{{ 'products.product.quickshop' | t | escape }}" aria-label="{{ 'products.product.quickshop' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
          <i class="icon ion-md-eye"></i>
      </a>
      {% endif %}

      {% if settings.enable_wishlist %}
        <template v-if="!_checkWishlist({{ current_variant.id }})">
          <a href="#" rel="nofollow"  @click.prevent="_addVariantToWishlist('{{ product.handle }}', {{ current_variant.id }})" class="btn btn-outline-primary btn-sm" title="{{ 'general.wishlist.add_to_wishlist' | t }}" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
            <i class="icon ion-md-star-outline"></i>
          </a>
        </template>
        <template v-else>
          <a class="btn btn-outline-primary btn-sm" rel="nofollow" title="{{ 'general.wishlist.added_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
            <i class="icon ion-md-star"></i>
          </a>
        </template>
      {% endif %}
    {% comment %} <div class="col-md-8">
        <h6 class="card-title m-0">
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </h6>
    </div>
  	<div class="col-md-4 text-left text-md-right">
    		{% if current_variant.compare_at_price > product.price %}
    			<s class="price text-gray-600 m-0 p-0">{{ product.compare_at_price | money }}</s>
    		{% endif %}
        <span class="price m-0 p-0">{{ product.price | money }}</span>
  	</div>
    <div class="col-12 col-md-8 mt-2">
      <a href="#" @click.prevent="_addToCart('grid-item', {{ current_variant.id }})" class="btn btn-primary btn-sm {% unless product.available %}disabled{% endunless %}" title="{{ 'products.product.add_to_cart' | t | escape }}" rel="nofollow" aria-label="{{ 'products.product.add_to_cart' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
        <i class="icon ion-md-cart"></i>
      </a>

      {% if settings.enable_quickshop %}
        <a href="#" rel="nofollow" @click.prevent="_viewQuickShop('{{ product.handle }}')" class="btn btn-outline-primary btn-sm" title="{{ 'products.product.quickshop' | t | escape }}" aria-label="{{ 'products.product.quickshop' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
          <i class="icon ion-md-eye"></i>
      </a>
      {% endif %}

      {% if settings.enable_wishlist %}
        <template v-if="!_checkWishlist({{ current_variant.id }})">
          <a href="#" rel="nofollow"  @click.prevent="_addVariantToWishlist('{{ product.handle }}', {{ current_variant.id }})" class="btn btn-outline-primary btn-sm" title="{{ 'general.wishlist.add_to_wishlist' | t }}" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
            <i class="icon ion-md-star-outline"></i>
          </a>
        </template>
        <template v-else>
          <a class="btn btn-outline-primary btn-sm" rel="nofollow" title="{{ 'general.wishlist.added_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
            <i class="icon ion-md-star"></i>
          </a>
        </template>
      {% endif %}
    </div>
    <div class="col-12 col-md-4 mt-2 mt-md-0 text-left text-md-right">
      <div data-item-reviews data-product-id="{{product.id}}"></div>
    </div> {% endcomment %}
  </div>
</div>
