{% assign current_variant = product.selected_or_first_available_variant %}

<div class="card card-product text-left">
  <span class="badges">
    {% if current_variant.compare_at_price > current_variant.price %}
    <span class="badge badge-right bg-warning text-white" >
      {{ 'products.product.on_sale' | t | escape }}
    </span>
    {% endif %}
  </span>

  <div class="card-img text-center {% if product.featured_image.size == 0 %}bg-gray-300{% endif %}">
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}

    {% if product.featured_image == blank %}
      {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
    {% endif %}

    {% if product.images.size == 1 %}
      <a href="{{ product.url | within: collection }}">
        <img
          data-sizes="auto"
          src="{{ product.featured_image | img_url: 'pico' }}"
          data-srcset="
            {{ product.featured_image | img_url: 'large' }} 576w,
            {{ product.featured_image | img_url: '600x' }} 768w,
            {{ product.featured_image | img_url: '600x' }} 992w,
            {{ product.featured_image | img_url: '600x' }} 1200w
            "
          class="lazyload"
          alt="{{ product.featured_image.alt | escape }}"/>
      </a>
    {% else %}
      <div data-flickity='{
           "contain": true,
           "wrapAround": false,
           "freeScroll": false,
           "setGallerySize": true,
           "prevNextButtons": true,
           "pageDots": false,
           "lazyLoad": 1,
           "dragThreshold": 20,
           "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
         }'>
        {% for image in product.images %}
          <img class="carousel-cell img-fluid"
            data-flickity-lazyload-src="{{ product.featured_image | img_url: 'pico' }}"
            data-flickity-lazyload-srcset="
              {{ image.src | img_url: 'large' }} 576w,
              {{ image.src | img_url: '600x' }} 768w,
              {{ image.src | img_url: '600x' }} 992w,
              {{ image.src | img_url: '600x' }} 1200w
              "
            sizes="(min-width: 1024px) 720px, 360px"
            data-variant-title="{{ image.alt | escape }}"
            alt="{{ image.alt | escape }}"/>
        {% endfor %}
      </div>

    {% endif %}

    <div class="variant-selector">
      <form action="/cart/add" method="post" enctype="multipart/form-data" class="form-row">
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            {% assign option_name = option.name | downcase %}
            <div class="selector-wrapper col">
              {% if option_name == 'color' %}
                {% comment %} Color swatches {% endcomment %}
                {% assign file_extension = '.jpg' %}
                <ul class="list-unstyled list-inline my-0 py-0">
                  {% for value in option.values %}
                    <li class="list-inline-item">
                      <div class="color-swatch">
                        <label data-toggle="tooltip" data-trigger="hover" title="{{ value | escape | replace: '-', ' ' }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: file_extension | asset_url }})">
                            <input
                              type="radio"
                              name='color'
                              value="{{ value | escape }}"
                              data-single-option-selector
                              data-index="option{{ option.position }}"
                              @change="_showVariant"
                              {% if option.selected_value == value %}checked="checked"{% endif %} >
                        </label>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        {% endunless %}

        {% comment %} Hidden select - needed for variant selection {% endcomment %}
        <select name="id" class="form-control form-control-sm d-none">
          {% for variant in product.variants %}
            <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              :value="currentVariant.id">
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>
      </form>
    </div>

  </div>
  <div class="card-body row no-gutters">
    <div class="col-md-8">
        <h6 class="card-title m-0">
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </h6>
    </div>
    <div class="col-md-4 text-left text-md-right">
      {% if current_variant.compare_at_price > product.price %}
        <s class="price text-gray-600 m-0 p-0">{{ product.compare_at_price | money }}</s>
      {% endif %}
        <span class="price m-0 p-0">{{ product.price | money }}</span>
    </div>
    <div class="col-12 col-md-8 mt-2">
      <a href="#" @click.prevent="_addToCart('grid-item', {{ current_variant.id }})" class="btn btn-primary btn-sm {% unless product.available %}disabled{% endunless %}" title="{{ 'products.product.add_to_cart' | t | escape }}" rel="nofollow" aria-label="{{ 'products.product.add_to_cart' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
        <i class="icon ion-md-cart"></i>
      </a>

      {% if settings.enable_quickshop %}
        <a href="#" rel="nofollow" @click.prevent="_viewQuickShop('{{ product.handle }}')" class="btn btn-outline-primary btn-sm" title="{{ 'products.product.quickshop' | t | escape }}" aria-label="{{ 'products.product.quickshop' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
          <i class="icon ion-md-eye"></i>
      </a>
      {% endif %}

      {% if settings.enable_wishlist %}
        <template v-if="!_checkWishlist({{ current_variant.id }})">
          <a href="#" rel="nofollow"  @click.prevent="_addVariantToWishlist('{{ product.handle }}', {{ current_variant.id }})" class="btn btn-outline-primary btn-sm" title="{{ 'general.wishlist.add_to_wishlist' | t }}" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
            <i class="icon ion-md-star-outline"></i>
          </a>
        </template>
        <template v-else>
          <a class="btn btn-outline-primary btn-sm" rel="nofollow" title="{{ 'general.wishlist.added_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
            <i class="icon ion-md-star"></i>
          </a>
        </template>
      {% endif %}
    </div>
    <div class="col-12 col-md-4 mt-2 mt-md-0 text-left text-md-right">
      <div data-item-reviews data-product-id="{{product.id}}"></div>
    </div>
  </div>
</div>
