<div class="cart-drawer d-flex flex-column" :class="{'opened shadow': isCartDrawerOpen}">

  <div class="drawer-header d-flex justify-content-between align-items-center px-4 py-3 bg-gray-100">
    <h4 class="my-0">{{ 'cart.general.title' | t }}</h4>
    <a href="#" class="btn-close float-right" @click.prevent="_toggleCartDrawer" rel="nofollow" aria-label="Close" title="Close"><i class="icon ion-md-close text-gray-900"></i></a>
  </div>

  <div class="drawer-body px-4 py-3" data-touch-moveable>
    <template v-if="cart.item_count > 0">
      <div v-for="(item, index, key) in cart.items" :key="item.id" class="row cart-item py-3" data-cart-item :class="{'border-bottom-0': index === (cart.item_count - 1)}">

        <div class="col-3 d-flex align-items-center pr-0">
          <div class="item-image">
            <template v-if="item.product_type == 'add-on'">
                <img :src="_getSizedImageUrl(item.image, 'large')" class="img-fluid" :alt="item.product_title" />
            </template>
            <template v-else>
                <a v-if="item.image != null" :href="item.url">
                <!-- <span class="badge badge-secondary" v-text="item.quantity"></span> -->
                <img :src="_getSizedImageUrl(item.image, 'large')" class="img-fluid" :alt="item.product_title" />
                </a>
                <a v-else :href="item.url">{{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}</a>
            </template>
          </div>
        </div>

        <div class="col-9">
          <div class="d-flex justify-content-between align-items-center">
            <template v-if="item.product_type == 'add-on'">
                <span v-text="item.product_title" class="text-Roboto font-weight-bold text-capitalize pr-3"></span>
            </template>
            <template v-else>
                <a :href="item.url" v-text="item.product_title" :title="item.product_title" class="item-title font-weight-bold text-capitalize pr-3"></a>
            </template>
            
            <a href="#" @click.prevent="_removeFromCart($event, index+1)" class="btn-remove text-danger" rel="nofollow" aria-label="{{ 'cart.general.remove' | t }}" title="{{ 'cart.general.remove' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="left"><i class="icon ion-md-remove-circle-outline"></i></a>
          </div>

          <ul v-show="item.variant_options.length > 0" class="list-unstyled">
            <li v-for="variant of item.variant_options">
              <span v-if="variant != 'Default Title'" v-text="variant" class="text-muted"></span>
            </li>
          </ul>

          <div class="row align-items-center">
            <div class="col-7">
              <div class="quantity-wrapper" data-qty-container>
                <div class="input-group input-group-sm w-auto">
                  <div class="input-group-prepend">
                    <span class="input-group-text p-0 border-right-0 bg-transparent border-gray-400">
                      <a href="#" class="btn-decrease" data-qty-decrease @click.prevent="_updateCart($event, index+1)" rel="nofollow" aria-label="decrease" title="decrease"></a>
                    </span>
                  </div>
                  <input readonly type="number" id="Quantity" name="quantity" aria-label="quantity" :value="item.quantity" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity px-0 bg-transparent form-control border-left-0 border-right-0 border-gray-400 text-center text-lato font-weight-normal">
                  <div class="input-group-append">
                    <span class="input-group-text p-0 border-left-0 bg-transparent border-gray-400">
                      <a href="#" class="btn-increase" data-qty-increase @click.prevent="_updateCart($event, index+1)" rel="nofollow" aria-label="increase" title="increase"></a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 text-right">
              <span v-html="_formatMoney(item.line_price)" class="item-price font-weight-normal"></span>
            </div>
          </div>
        </div>

      </div>
    </template>

    <div v-else class="text-center mt-5">
      <div class="icon"><i class="icon ion-md-cart"></i></div>
      <p class="mb-3 text-muted">{{ 'cart.general.empty' | t }}</p>
      <a href="/collections" class="btn btn-primary btn-sm">{{ 'cart.general.continue_browsing' | t }}</a>
    </div>

  </div>

  <div v-if="cart.item_count > 0" class="drawer-footer px-4 py-3 bg-gray-100 text-center mt-auto">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <span class="h4 d-inline-block">{{ 'cart.general.subtotal' | t }}</span>
      <span v-html="_formatMoney(cart.total_price)" class="h4"></span>
    </div>
    <p class="mb-2">{{ 'cart.general.shipping_at_checkout' | t }}</p>
    <div class="btn-group btn-group btn-group-justified" role="group">
      <a href="/cart" class="btn btn-outline-primary btn-sm px-2">{{ 'cart.general.viewcart' | t }}</a>
      <a href="/checkout" @click.prevent="_btnRedirectDrwaer()" class="btn btn-primary btn-sm btn-checkout px-2">{{ 'cart.general.checkout' | t }} <i class="icon ion-md-arrow-forward"></i></a>
    </div>
  </div>

</div>
