<div class="cart-drawer-addons p-4" :class="{'opened': isCartDrawerAddOnsOpen}">
    <div class="cart-addons-dialog">
        <div class="cart-addons-content">
            <div class="drawer-header px-2 px-sm-4 py-3">
                <h4 class="my-0 itemLabel d-flex align-items-center justify-content-center" v-text="recentlyCart.length+' items added to your cart'"></h4>
                <a href="#" class="btn-close" @click.prevent="_toggleCartDrawerAddOns" rel="nofollow" aria-label="Close" title="Close"><i class="icon ion-md-close text-gray-900"></i></a>
            </div>

            <div class="drawer-body pb-6 px-5" data-touch-moveable>
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-9 border-right my-sm-4 cartPopupH">
                        <div v-if="recentlyCart.length > 0" class="row custom-row">
                            <div v-for="(item, index, key) in recentlyCart" :key="item.id" class="col-12 col-sm-6 cart-item mb-4 mb-sm-2" data-cart-item :class="{'border-bottom-0': index === (cart.item_count - 1)}">
                                <div class="row align-items-center custom-row">
                                    <div class="col-4 col-sm-5">
                                        <div class="item-image position-relative" v-if="item.image != null">
                                            <img :src="_getSizedImageUrl(item.image, 'large')" class="img-fluid" :alt="item.product_title" />
                                        </div>
                                        <div v-else class="item-image">{{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}</div>
                                    </div>
                                    <div class="col-8 col-sm-7">
                                        <small v-if="item.product_type == 'add-on'" class="text-uppercase d-block h6 text-primary text-RobotoCondensed mb-2" v-text="item.product_type"></small>
                                        <h2 class="font-size-lg mb-2" :class="{'add-product': 'add-on' === item.product_type}" v-text="item.product_title" :title="item.product_title"></h2>
                                        <p class="lead mb-0 item-price" v-html="_formatMoney(item.price)"></p>
                                        <template v-if="item.product_type != 'add-on'">
                                        <div v-if="item.properties" class="item-properties">
                                            <p class="lead mb-0" v-for="(value, key, index) in item.properties">
                                            ${key} : ${value}
                                            </p>
                                        </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else class="text-center mt-5">
                            <div class="icon"><i class="icon ion-md-cart"></i></div>
                            <p class="mb-3 text-muted">{{ 'cart.general.empty' | t }}</p>
                            <button class="btn btn-primary btn-sm" @click.prevent="_toggleCartDrawerAddOns">{{ 'cart.general.continue_browsing' | t }}</button>
                        </div>
                    </div>
                    <div v-if="recentlyCart.length > 0" class="col-12 col-md-3 my-4 text-center">
                        <a href="/collections" class="btn-link text-gray-800 mb-4 d-block text-uppercase text-lato font-weight-bold">{{ 'cart.general.continue_browsing' | t }}</a>
                        <a href="/cart" class="btn btn-primary">{{ 'cart.general.checkout' | t }}</a>
                    </div>
                </div>
                <div class="clearfix drawer-relatedProduct">
                    {%- assign enableSection = false -%}
                    {% assign addOnsInProduct = product.metafields.product_manager.add_ons | remove :',' %}
                    
                    {% for product in collections['add-ons'].products offset: 4 %}
                        {% assign enableSection = true %}
                    {% endfor %}
                    {% if enableSection %}
                    <div class="featured-heading mt-5 mb-3 text-center position-relative">
                        <span class="h3 text-RobotoCondensed font-weight-light mb-0 ">YOU MAY ALSO LIKE</span>
                    </div>
                     {% endif %}
                    {% comment %} <div class="popup-slider" data-addons-sliderInPopup data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "infinite": false}'>
                        <div class="card border-0 rounded-0 product-item px-3 h-100" v-for="product in standalone" v-if="!selectedAddOns.selectProduct.find(x => x == product.handle)">
                            <div class="card-img product-img">
                                <img :src="_getSizedImageUrl(product.featured_image, 'large')" :alt="product.title"/>
                            </div>
                            <div class="card-body p-0 product-info text-center">
                                <p class="font-weight-bold mb-1" v-text="product.title"></p>
                                <p class="mb-2" v-text="_formatMoney(product.price)"></p>
                            </div>
                            <div class="card-footer p-0 border-0 bg-transparent text-center">
                                    <button class="btn btn-sm btn-success-added bg-transparent d-none cartAddedRemove" :id="'cartAdded_'+product.variants[0].id">
                                        <i class="ion ion-success text-primary display-3 align-middle mr-1 position-relative"></i> Item added
                                    </button>
                                    <button class="cartaddedShow btn btn-sm btn-outline-primary"
                                        :class="'cartAdded_'+product.variants[0].id"
                                        type="submit"
                                        name="add"
                                        :disabled='isLoading && loadingEvent == "cartAdding_"+product.variants[0].id || !product.variants[0].available'
                                        @click.prevent="_addToCartADDONS($event, product.variants[0].id)">
                                        <template v-if="isLoading && loadingEvent == 'cartAdding_'+product.variants[0].id">
                                            <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                                        </template>
                                        <template v-else>
                                            <span v-if="product.variants[0].available">
                                                {{ 'products.product.add_to_cart' | t }}
                                            </span>
                                            <span v-else>
                                                {{ 'products.product.sold_out' | t }}
                                            </span>
                                        </template>
                                    </button>
                            </div>
                        </div>  {% endcomment %}
                        <div class="popup-slider" data-addons-sliderInPopup data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "infinite": false}'>
                        {% for product in collections['add-ons'].products %}{{product.title}}
                                <div class="card border-0 rounded-0 product-item px-3 h-100">
                                    <div class="card-img product-img">
                                        <img
                                            data-sizes="100vw"
                                            src="{{ product.featured_image | img_url: 'pico' }}"
                                            data-srcset="
                                            {{ product.featured_image | img_url: 'large' }} 576w,
                                            {{ product.featured_image | img_url: '600x' }} 768w,
                                            {{ product.featured_image | img_url: '600x' }} 992w,
                                            {{ product.featured_image | img_url: '600x' }} 1200w
                                            "
                                            class="lazyload"
                                            alt="{{ product.featured_image.alt | escape }}"/>
                                    </div>
                                    <div class="card-body p-0 product-info text-center">
                                        <p class="font-weight-bold mb-1">{{ product.title }}</p>
                                        <p class="mb-2">{{ product.price | money_without_trailing_zeros }}</p>
                                    </div>
                                    <div class="card-footer p-0 border-0 bg-transparent text-center">
                                            <button class="btn btn-sm btn-success-added bg-transparent d-none cartAddedRemove" id="cartAdded_{{product.selected_or_first_available_variant.id}}">
                                                <i class="ion ion-success text-primary display-3 align-middle mr-1 position-relative"></i> Item added
                                            </button>
                                            
                                            <button class="cartaddedShow cartAdded_{{product.selected_or_first_available_variant.id}} btn btn-sm btn-outline-primary"
                                            type="submit"
                                            name="add"
                                            :disabled="isLoading && loadingEvent == 'cartAdding_{{product.selected_or_first_available_variant.id}}' || !currentVariant.available"
                                            @click.prevent="_addToCartADDONS($event, {{product.selected_or_first_available_variant.id}})">
                                                <template v-if="isLoading && loadingEvent == 'cartAdding_{{product.selected_or_first_available_variant.id}}'">
                                                    <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                                                </template>
                                                <template v-else>
                                                    <span v-if="currentVariant.available">
                                                        {{ 'products.product.add_to_cart' | t }}
                                                    </span>
                                                    <span v-else>
                                                        {{ 'products.product.sold_out' | t }}
                                                    </span>
                                                </template>
                                            </button>
                                    </div>
                                </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
