<div v-if="!isLoading && collProducts.length > 0" class="pagination" v-cloak>

  {% if pagination_type == 'page_numbers' %}

      <template v-if="collPagination.previous">
        <a :href="collPagination.previous.url" :title="collPagination.previous.title" @click.prevent="_parseFilters()" data-filter-type="pagination">
          {{ 'collections.pagination.previous' | t }}
        </a>
        <span class="sep">/</span>
      </template>

    	<template v-for="part in collPagination.parts">
        <template v-if="part.is_link">
          <a :href="part.url" @click.prevent="_parseFilters()" data-filter-type="pagination">
            <span v-text="part.title"></span>
          </a>
          <span class="sep">/</span>
        </template>
    		<template v-else>
    			<span v-if="part.title == collPagination.current_page">
            <span v-text="part.title" class="active"></span>
            <span class="sep">/</span>
          </span>
    			<span v-else v-html="part.title"></span>
    		</template>
    	</template>

      <a v-if="collPagination.next" :href="collPagination.next.url" :title="collPagination.next.title" @click.prevent="_parseFilters()" data-filter-type="pagination">
        {{ 'collections.pagination.next' | t }}
      </a>

  {% else %}

      <div v-if="collPagination.next" class="text-center">
        <a :href="collPagination.next.url" class="btn btn-primary btn-sm" @click.prevent="_loadMore($event)">
          {{ 'collections.pagination.more' | t }}
        </a>
      </div>

  {% endif %}

</div>
