<form data-form-product data-productid="{{product.id}}" action="/cart/add" method="post" enctype="multipart/form-data" class="form-row mt-5"name="">

  {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
      {% assign option_name = option.name | downcase %}
      <div class="selector-wrapper col mb-2">
        <label for="SingleOptionSelector-{{ forloop.index0 }}">
          {{ option.name }}
        </label>
        {% if enable_color_swatches and option_name == 'color' %}
          {% comment %} Color swatches {% endcomment %}
          {% assign file_extension = '.jpg' %}
          <ul class="list-unstyled list-inline my-0 py-0">
            {% for value in option.values %}
              <li class="list-inline-item">
                <div class="color-swatch">
                  <label data-toggle="tooltip" data-trigger="hover" title="{{ value | escape | replace: '-', ' ' }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: file_extension | asset_url }})">
                      <input
                        type="radio"
                        name='color'
                        value="{{ value | escape }}"
                        data-single-option-selector
                        data-index="option{{ option.position }}"
                        @change="_getVariant($event)"
                        {% if option.selected_value == value %}checked="checked"{% endif %} >
                  </label>
                </div>
              </li>
            {% endfor %}
          </ul>

        {% elsif enable_size_swatches and option_name == 'size' %}
          {% comment %} Size swatches {% endcomment %}
          <ul class="list-unstyled list-inline my-0 py-0">
            {% for value in option.values %}
              <li class="list-inline-item">
                <div class="size-swatch">
                  <label>
                      <input
                        type="radio"
                        name='size'
                        value="{{ value | escape }}"
                        data-single-option-selector
                        data-index="option{{ option.position }}"
                        @change="_getVariant($event)"
                        {% if option.selected_value == value %}checked="checked"{% endif %} >
                  </label>
                </div>
              </li>
            {% endfor %}
          </ul>

        {% else %}
          {% comment %} Normal select {% endcomment %}
          <select
            class="form-control form-control-sm"
            data-single-option-selector
            data-index="option{{ option.position }}"
            data-productid="{{product.id}}"
            @change="_getVariant($event)">
            {% for value in option.values %}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ value }}
              </option>
            {% endfor %}
          </select>
        {% endif %}

      </div>
    {% endfor %}
  {% endunless %}

  {% comment %} Hidden select - needed for variant selection {% endcomment %}
  <select class="form-control form-control-sm d-none"
    name="id"
    data-productid="{{product.id}}">
    {% for variant in product.variants %}
      <option
        {% if variant == current_variant %}selected="selected"{% endif %}
        {% unless variant.available %}disabled="disabled"{% endunless %}
        :value="currentVariant.id">
          {{ variant.title }}
      </option>
    {% endfor %}
  </select>

  <!-- <div class="w-100"></div> -->

  <div class="col-4 col-md-5 mb-3 quantity-column">
    <div class="quantity-wrapper" data-qty-container>
      <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <a href="#" class="btn-decrease" data-qty-decrease @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Decrease" title="Decrease"><i class="icon ion-md-remove"></i></a>
          </span>
        </div>
        <input type="number" name="quantity" value="1" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity form-control text-center">
        <div class="input-group-append">
          <span class="input-group-text">
            <a href="#" class="btn-increase" data-qty-increase @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Increase" title="Increase"><i class="icon ion-md-add"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>

  {% if settings.enable_recharge and product.available %}
    <div data-recharge-subscription-widget class="col-12 mb-3">
      <h6 class="my-2">Subscription:</h6>
      <div class="inner"></div>
    </div>
  {% endif %}

  <div class="col-12 mb-3">
    <button class="btn btn-primary btn-block"
      type="submit"
      name="add"
      :disabled="isLoading && loadingEvent == 'cartAdding' || !currentVariant.available"
      {% if settings.enable_recharge %} @click.prevent="_addToCart($event, currentVariant.id)" {% else %} @click.prevent="_addToCart($event, currentVariant.id)" {% endif %}>
        <template v-if="isLoading && loadingEvent == 'cartAdding'">
          <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
        </template>
        <template v-else>
          <span v-if="currentVariant.available">
            {{ 'products.product.add_to_cart' | t }}
          </span>
          <span v-else>
            {{ 'products.product.sold_out' | t }}
          </span>
        </template>
    </button>

    {% if settings.enable_wishlist %}
      <div class="mt-2 text-right">
        <div v-if="!_checkWishlist(currentVariant.id)">
          <a href="#" @click.prevent="_addVariantToWishlist(product.handle, currentVariant.id)" rel="nofollow">
            <i class="icon ion-md-star-outline"></i> {{ 'general.wishlist.add_to_wishlist' | t }}
          </a>
        </div>
        <div v-else>
          <span><i class="icon ion-md-star"></i> Added to <a href="#" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">Wishlist</a>
        </div>
      </div>
    {% endif %}

  </div>
</form>
