<div id="customerRecoverForm" data-recover-form class="collapse">
  {% form 'recover_customer_password' %}
  <p class="text-center">{{ 'customer.recover_password.subtext' | t }}</p>
  {% if form.errors %}
  <div class="alert alert-warning">
    {{ form.errors | default_errors }}
  </div>
  {% endif %}
  {% if form.posted_successfully? %} {% assign resetPassword = true %} {% endif %}
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="RecoverEmail"><i class="icon ion-md-mail"></i></label>
    </div>
     <input type="email" value="" name="email" id="RecoverEmail" class="form-control" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off" required>
  </div>
  <input type="submit" class="btn btn-primary btn-block btn-sm" value="{{ 'customer.recover_password.submit' | t }}">
  <p class="text-right mt-2 font-italic"><a href="#" data-cancel-recover-link rel="nofollow" aria-label="Cancel" title="Cancel">Cancel</a></p>
  {% endform %}
</div>
