<div id="customerRegisterForm" data-register-form>
  {% form 'create_customer' %}

    {% comment %}
    <h3 class="text-center">{{ 'customer.register.title' | t }}</h3>
    {% endcomment %}

    {% if form.errors %}
    <div class="alert alert-warning">
      {{ form.errors | default_errors }}
    </div>
    {% endif %}

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="registerCustomerFirstName"><i class="icon ion-md-person"></i></label>
      </div>
      <input type="text" id="registerCustomerFirstName" name="customer[first_name]" class="form-control " placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}" {% endif %} required>

      <input type="text" id="customerLastName" name="customer[last_name]" class="form-control" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}" {% endif %} required>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="registerCustomerEmail"><i class="icon ion-md-mail"></i></label>
      </div>
      <input type="email" id="registerCustomerEmail" name="customer[email]" class="form-control {% if form.errors contains 'email' %} is-invalid{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}" {% endif %} v-model="loginFormHelper.customerEmail" autocorrect="off" autocapitalize="off" required>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="registerCustomerPassword"><i class="icon ion-md-key"></i></label>
      </div>
      <input type="password" id="registerCustomerPassword" data-password-input name="customer[password]" class="form-control {% if form.errors contains 'password' %} is-invalid{% endif %}" placeholder="{{ 'customer.register.password' | t }}" required>
    </div>

    <div class="form-check mb-4 custom-checkbox pl-0">
        <input type="hidden" name="customer[accepts_marketing]" value="" />
        <input type="checkbox" id="accepts_marketing" name="customer[accepts_marketing]" class="form-check-input" checked="checked" />    
        <label for="accepts_marketing" class="form-check-label"><span class="position-relative d-inline-block mr-3"></span>{{ 'customer.register.newsletter_subscribe' | t }}</label>
    </div>

    <input type="submit" class="btn btn-primary btn-block btn-sm" value="{{ 'customer.register.submit' | t }}">

  {% endform %}
</div>
