
{% assign cart_type = section.settings.cart_type %}
{% case cart_type %}
  {% when 'cart_dropdown' %}

    <a id="cartDropdown" class="nav-link p-0 text-primary d-flex align-items-center cart-dropdown" href="#" rel="nofollow" aria-label="Cart">
      <img src='https://cdn.shopify.com/s/files/1/0084/0617/1763/files/cart-icon.svg?7119711935848010500' alt="Cart" class="icon" />
      <span v-text="cart.item_count" class="text-latoMedium mb-0 ml-2"></span>
    </a>
    <b-popover target="cartDropdown" placement="bottom" container="cartDropdown" triggers="hover focus" class="d-none">
      <template slot="title">{{ 'cart.general.title' | t }}</template>
      {% include 'cart-dropdown' %}
    </b-popover>

  {% when 'cart_drawer' %}

    <a class="nav-link p-0 text-primary d-flex align-items-center" href="#" @click.prevent="_toggleCartDrawer" rel="nofollow" aria-label="Cart" >
      <img src='https://cdn.shopify.com/s/files/1/0084/0617/1763/files/cart-icon.svg?7119711935848010500' alt="Cart" class="icon" />
      <span v-text="cart.item_count" class="text-latoMedium mb-0 ml-2"></span>
    </a>

  {% else %}
    <a class="nav-link p-0 text-primary d-flex align-items-center" href="/cart">
      <img src='https://cdn.shopify.com/s/files/1/0084/0617/1763/files/cart-icon.svg?7119711935848010500' alt="Cart" class="icon" />
      <span v-text="cart.item_count" class="text-latoMedium mb-0 ml-2"></span>
    </a>

{% endcase %}
