
<ul class="navbar-nav align-items-center list-inline d-inline-block d-lg-none">
  <li class="nav-item list-inline-item nav-icon">
    <a class="nav-link" href="#" @click.prevent="_toggleMobileNavDrawer()" rel="nofollow" aria-label="Cart" title="Cart">
      <i class="icon ion-md-menu"></i>
    </a>
  </li>
</ul>

<div class="collapse navbar-collapse">
  <ul class="navbar-nav ml-auto mr-auto align-items-center">
    {% assign main_nav_links = linklists[section.settings.main_linklist].links %}
    {% assign half_links = main_nav_links.size | plus: 2 | divided_by: 2 | floor %}

    {% for link in main_nav_links %}

      {% if forloop.index == half_links %}
      <li class="nav-item mx-4">
        <a href="/" class="navbar-brand logo-link mx-0" title="{{ shop.name | escape }}" v-cloak>
          {% if logo contains 'no-image' %}
            <span class="h5 text-primary"><i class="ion-pound text-warning"></i> {{ shop.name | escape }}</span>
          {% else %}
            <img v-if="isLogoLight" src="{{ logo_light }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ logo_width }}px">
            <img v-else src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ logo_width }}px">
          {% endif %}
        </a>
      </li>
      {% endif %}

      {% assign child_list_handle = link.title | handleize %}
      {% if menus[child_list_handle].links != blank %}
        <li class="nav-item dropdown {% if link.active %} active{% endif %}">
          <a class="nav-link d-flex align-items-center justify-content-between {{ link.handle }}" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <span>{{ link.title }}</span> <i class="icon ion-md-arrow-dropdown ml-1"></i>
          </a>
          <ul class="dropdown-menu">
            {% for childlink in menus[child_list_handle].links %}
              <li><a class="dropdown-item {% if childlink.active %} active{% endif %} {{ childlink.handle }}" href="{{ childlink.url }}">{{ childlink.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="nav-item {% if link.active %} active{% endif %}"><a class="nav-link {{ link.handle }}" href="{{ link.url }}">{{ link.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="navbar-nav navbar-icon-links align-items-center">

    {% if shop.customer_accounts_enabled %}
    <li class="nav-item nav-icon">
      <a class="nav-link" href="/account">
        <i class="icon ion-md-contact"></i>
      </a>
    </li>
    {% endif %}


    <li class="nav-item nav-icon">
      <a class="nav-link" href="#" @click.prevent="_toggleSearch()" rel="nofollow" aria-label="Search">
        <i class="icon ion-md-search"></i>
      </a>
    </li>
    <li class="nav-item nav-icon">
      {% include 'header-cart-link' %}
    </li>
  </ul>
</div>

<ul class="navbar-nav navbar-logo-mobile align-items-center list-inline d-lg-none">
  <li class="nav-item list-inline-item">
    <a href="/" class="navbar-brand px-0 mx-0" title="{{ shop.name | escape }}" v-cloak>
      {% if logo contains 'no-image' %}
        <span class="h5 text-primary"><i class="ion-pound text-warning"></i> {{ shop.name | escape }}</span>
      {% else %}
        <img v-if="isLogoLight" src="{{ logo_light }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ logo_width }}px">
        <img v-else src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ logo_width }}px">
      {% endif %}
    </a>
  </li>
</ul>

<ul class="navbar-nav align-items-center list-inline d-inline-block d-lg-none ml-auto">

  {% if shop.customer_accounts_enabled %}
  <li class="nav-item list-inline-item nav-icon d-none d-lg-inline-block">
    <a class="nav-link" href="/account">
      <i class="icon ion-md-contact"></i>
    </a>
  </li>
  {% endif %}

  <li class="nav-item list-inline-item nav-icon">
    <a class="nav-link" href="#" @click.prevent="_toggleSearch()" rel="nofollow" aria-label="Search">
      <i class="icon ion-md-search"></i>
    </a>
  </li>
  <li class="nav-item list-inline-item nav-icon">
    {% include 'header-cart-link' %}
  </li>
</ul>
