<div class="pagination">

  {% if paginate.previous %}
    <a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">{{ 'collections.pagination.previous' | t }}</a>
    <span class="sep">/</span>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <a href="{{ part.url }}">{{ part.title }}</a>
      <span class="sep">/</span>
    {% else %}
      {% if part.title == paginate.current_page %}
        <span class="active">{{ part.title }}</span>
        <span class="sep">/</span>
      {% else %}
        <span>{{ part.title }}</span>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next %}
    <a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">{{ 'collections.pagination.next' | t }}</a>
  {% endif %}

</div>
