<template v-if="isRechargeDrawerOpen == true">
    <div class="account-popup" data-recharge-subscription :class="{'opened shadow': isRechargeDrawerOpen}">
        <div class="popup-height">
            <div class="bg-white common-box default-box open">
                <div class="popup-head p-5 bg-gray-100 text-center">
                   
                    <h4 class="display-3 mb-0">EDIT MY SUBSCRIPTION</h4>
                    <div class="popup-close" @click.prevent="_toggleRechargeDrawer($event)">
                        <i class="ion ion-md-close display-3 mb-0"></i>
                    </div>
                </div>
                <div class="popup-body p-3 p-md-5">
                    <div class="form-row align-items-stretch">
                        <div class="col-6 col-md-3 mb-3">
                            <div class="individual-option h-100 p-3 p-sm-5 p-lg-6 text-center" @click.prevent="_getCurrentTarget($event,'change-box')">
                                <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/change-sub.svg?11394627658373131759" alt="" class="mw-100 mb-4" />
                                <p class="mb-0 text-latoMedium font-weight-medium text-gray-700 text-uppercase">Change Subscription</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 mb-3">
                            <div class="individual-option h-100 p-3 p-sm-5 p-lg-6 text-center" @click.prevent="_getCurrentTarget($event,'skip-shipment-box');_get_nextdate(rechargeDashbord.currentSubscription.id, rechargeDashbord.currentSubscription.next_charge_scheduled_at, rechargeDashbord.currentSubscription.order_interval_unit, rechargeDashbord.currentSubscription.order_interval_frequency)">
                                <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/shipment.svg?13309006892786300027" alt="" class="mw-100 mb-4" />
                                <p class="mb-0 text-latoMedium font-weight-medium text-gray-700 text-uppercase">Skip a shipment</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 mb-3">
                            <div class="individual-option h-100 p-3 p-sm-5 p-lg-6 text-center" @click.prevent="_getCurrentTarget($event,'edit-shipping-box')">
                                <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/shipping-address.svg?15321914934347599971" alt="" class="mw-100 mb-4" />
                                <p class="mb-0 text-latoMedium font-weight-medium text-gray-700 text-uppercase">edit shipping address</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 mb-3">
                            <div class="individual-option h-100 p-3 p-sm-5 p-lg-6 text-center" @click.prevent="_getCurrentTarget($event,'gift-message-box')">
                                <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/gift-message.svg?9729159237901877518" alt="" class="mw-100 mb-4" />
                                <p class="mb-0 text-latoMedium font-weight-medium text-gray-700 text-uppercase">Edit / add Gift Message</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-footer px-5 pb-5">
                    <div class="row custom-row">
                        <div class="col-12 col-md-5 text-center text-md-right order-md-2 my-2 my-md-0 cancel-note">
                            <h6 class="mb-0 text-lato font-weight-bold text-gray-800" @click.prevent="_getCurrentTarget($event,'cancel-subscription-box')">CANCEL SUBSCRIPTION</h6>
                        </div>
                        <div class="col-12 col-md-7 order-md-1 text-center my-2 my-md-0 text-md-left need_help">
                            <p class="mb-0">
                                <span class="text-latoMedium text-uppercase lead text-primary mr-lg-2">Need Help?</span>
                                Email us at <a href="mailto:info@bloomsybox.com">info@bloomsybox.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="bg-white common-box change-box" :class="{'open': isChangeSubscriptionBox}">
                {% comment %} <template v-if="!isUpdateSubscription == false"> {% endcomment %}
                <div class="popup-head p-5 bg-gray-100 text-center">
                    <div class="go-back-link">
                        <p class="mb-0" @click.prevent="_gobackPopup($event)">
                            <i class="ion ion-ios-arrow-back font-size-lg mr-1"></i>
                            <span class="text-uppercase text-latoMedium font-weight-medium d-none d-md-inline-block">GO BACK</span>
                        </p>
                    </div>
                    <h4 class="display-3 mb-0">Change Subscription</h4>
                </div>
                <div class="popup-body p-3 p-md-5">
                    {% section 'update-subscription' %}
                </div>
                <div class="popup-footer px-5 pb-5">
                    <div class="row custom-row align-items-center">
                        <div class="col-12 col-md-5 text-center text-md-right order-md-2 my-2 my-md-0 cancel-note">
                            <template v-if="isUpdateSubscription == true">
                                <a href="#" class="btn btn-sm btn-primary" :disabled="isLoading && loadingEvent == 'updateSubscription'" @click.prevent="_updateAPICall(rechargeDashbord.currentSubscription.id)">
                                    <template v-if="isLoading && loadingEvent == 'updateSubscription'">
                                        <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                                    </template>
                                    <template v-else>
                                        UPDATE SUBSCRIPTION
                                    </template>
                                </a>
                            </template>
                        </div>
                        <div class="col-12 col-md-7 order-md-1 text-center text-md-left my-2 my-md-0">
                            <p class="mb-0">
                                <span class="text-latoMedium text-uppercase lead text-primary mr-lg-2">Need Help?</span>
                                Email us at <a href="mailto:info@bloomsybox.com">info@bloomsybox.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% comment %} </template>    {% endcomment %}
            </div>
            
            <div class="bg-white common-box skip-shipment-box" :class="{'open': isSkipBox}">
                <template v-if="!isSkipBox == false">
                <div class="popup-head p-5 bg-gray-100 text-center">
                    <div class="go-back-link">
                        <p class="mb-0" @click.prevent="_gobackPopup($event)">
                            <i class="ion ion-ios-arrow-back font-size-lg mr-1"></i>
                            <span class="text-uppercase text-latoMedium font-weight-medium d-none d-md-inline-block ">GO BACK</span>
                        </p>
                    </div>
                    <h4 class="display-3 mb-0">skip shipment</h4>
                </div>
                <div class="popup-body px-3 py-5 px-md-6">
                    <div class="form-row align-items-stretch">
                        <div class="col-12 col-md-6 mb-1 my-2 my-md-0">
                            <div class="skip-mission h-100">
                                <div class="custom-checkbox skip-option h-100">
                                    <input type="radio" value="Skip"  @change="_selectButtonHide($event);" id="pause-next" name="skip-shipment" data-skip-date/>
                                    <label for="pause-next" class="mb-0 h-100 p-4 w-100 d-flex align-items-center">
                                        <span class="mr-4 input-box"></span>
                                        <div class="p-2 option-details">
                                            <h5 class="mb-1 lead font-weight-medium">Skip next shipment</h5>
                                            <p class="mb-0 text-gray-700">Resumes <span v-text="rechargeDashbord.skip_shippment.dateFormate"></span></p>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-1 my-2 my-md-0">
                            <div class="skip-mission h-100">
                                <div class="custom-checkbox skip-option h-100">
                                    <input type="radio" value="Pause" @change="_selectButtonHide($event);" id="skip-next" name="skip-shipment" data-skip-date/>
                                    <label for="skip-next" class="mb-0 h-100 p-4 w-100 d-flex align-items-center">
                                        <span class="mr-4 input-box"></span>
                                        <div class="py-1 px-2 option-details">
                                            <h5 class="mb-1 lead font-weight-medium">Pause My subscription Until...</h5>
                                            <div class="mb-3 mb-md-0 date--picker">
                                                <flat-pickr
                                                    value="{{ cart.attributes.date }}"
                                                    id="pauseSubscriptionPicker"
                                                    :required="true"
                                                    readonly
                                                    placeholder="Select Date To Resume"
                                                    class="form-control bg-white secondary-placeholder h-auto">
                                                </flat-pickr>
                                                {% comment %} <input type="date" id="pauseSubscriptionPicker" readonly placeholder="Select Date To Resume" class="form-control bg-white secondary-placeholder h-auto">  {% endcomment %}
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-footer px-5 pb-5">
                    <div class="row custom-row align-items-center">
                        <div class="col-12 col-md-5 text-center text-md-right order-md-2 cancel-note my-2 my-md-0">
                        <template v-if="!isSkipUpdate == false">
                            <a href="javascript:void(0);" class="btn btn-sm btn-primary" :disabled="isLoading && loadingEvent == 'skipSubscription'" @click.prevent="_updateNextChargeDate(rechargeDashbord.currentSubscription.id);">
                                <template v-if="isLoading && loadingEvent == 'skipSubscription'">
                                    <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                                </template>
                                <template v-else>
                                     <span class="btnChange" v-text="rechargeDashbord.skip_shippment.textSkip">SKIP</span> NEXT SHIPMENT
                                </template>
                            </a>
                        </template>
                        </div>
                        <div class="col-12 col-md-7 order-md-1 my-2 my-md-0 text-center text-md-left">
                            <p class="mb-0">
                                <span class="text-latoMedium text-uppercase lead text-primary mr-lg-2">Need Help?</span>
                                Email us at <a href="mailto:info@bloomsybox.com">info@bloomsybox.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                </template>   
            </div>

            <div class="bg-white common-box edit-shipping-box" :class="{'open': isAddressesBox}"> 
                <template v-if="isAddressesBox == true">
                <div class="popup-head p-5 bg-gray-100 text-center">
                    <div class="go-back-link" @click.prevent="_gobackPopup($event)">
                        <p class="mb-0">
                            <i class="ion ion-ios-arrow-back font-size-lg mr-1"></i>
                            <span class="text-uppercase text-latoMedium font-weight-medium d-none d-md-inline-block">GO BACK</span>
                        </p>
                    </div>
                    <h4 class="display-3 mb-0">Edit shipping address</h4>
                </div>
                <div class="popup-body py-5 px-3 px-md-6">
                        <form>
                            <div class="row custom-row align-items-center edit-shipping-field">
                                <div class="col-12 col-md-6 mb-1">
                                    <label class="mb-1 h6">First Name</label>
                                    <input type="text" data-first-name :value="rechargeDashbord.address.first_name"  name="first_name" class="form-control text-lato font-weight-normal h-auto py-1" />                                   
                                </div>
                                <div class="col-12 col-md-6 mb-1">
                                    <label class="mb-1 h6">Last Name</label>
                                    <input type="text" data-last-name :value="rechargeDashbord.address.last_name"  name="last_name" class="form-control text-lato font-weight-normal h-auto py-1" />
                                </div>
                                <div class="col-12 col-md-6 mb-1">
                                    <label class="mb-1 h6">Address Line 1</label>
                                    <input type="text" data-address1 :value="rechargeDashbord.address.address1"  name="address1" class="form-control text-lato font-weight-normal h-auto py-1" />
                                </div>
                                <div class="col-12 col-md-6 mb-1">
                                    <label class="mb-1 h6">Address Line 2</label>
                                    <input type="text" data-address2 :value="rechargeDashbord.address.address2"  name="address2" class="form-control text-lato font-weight-normal h-auto py-1" />
                                </div>
                                <div class="col-12">
                                    <label class="mb-1 h6">Company</label>
                                    <input type="text" data-company :value="rechargeDashbord.address.company"  name="company" class="form-control text-lato font-weight-normal h-auto py-1" />
                                </div>
                                <div class="col-12 col-md-5">
                                    <label class="mb-1 h6">City</label>
                                    <input type="text" data-city :value="rechargeDashbord.address.city"  name="city" class="form-control text-lato font-weight-normal h-auto py-1" />
                                </div>
                                <div class="col-12 col-md-4">
                                    <div id="AddressProvinceContainerNew" style="display:none">
                                    <label class="mb-1 h6">State</label>
                                        <select data-province placeholder="{{ 'customer.addresses.province' | t }}" :value="rechargeDashbord.address.province" name="city" id="AddressProvinceNew" class="form-control text-lato font-weight-normal h-auto py-1" name="province" :data-default="rechargeDashbord.address.province"></select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <label class="mb-1 h6">Zipcode</label>
                                    <input data-zip type="text" :value="rechargeDashbord.address.zip" name="zip" class="form-control text-lato font-weight-normal h-auto py-1" />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="mb-1 h6 ">Country</label>
                                    <select data-country placeholder="{{ 'customer.addresses.country' | t }}" id="AddressCountryNew" class="form-control custom-select h-auto py-1" name="country" data-default="{{form.country}}">
                                        {{ all_country_option_tags }}
                                    </select>  
                                </div>
                                <div class="col-12 col-md-6 mb-1">
                                    <p class="mb-0 font-size-sm text-gray-600 pt-4">Additional shipping charges may apply.</p>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="popup-footer px-5 pb-5">
                    <div class="row custom-row align-items-center">
                        <div class="col-12 col-md-5 text-center text-md-right order-md-2 my-2 my-md-0 cancel-note">
                            <template v-if="isupdateAddress == true">
                            <a href="#" class="btn btn-sm btn-primary" :disabled="isLoading && loadingEvent == 'updateSubscription'" @click.prevent="_updateAddress(rechargeDashbord.currentSubscription.address_id);">
                                <template v-if="isLoading && loadingEvent == 'updateSubscription'">
                                    <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                                </template>
                                <template v-else>
                                    UPDATE SHIPPING ADDRESS
                                </template>
                            </a>
                            </template>
                        </div>
                        <div class="col-12 col-md-7 order-md-1 my-2 my-md-0 text-center text-md-left">
                            <p class="mb-0">
                                <span class="text-latoMedium text-uppercase lead text-primary mr-lg-2">Need Help?</span>
                                Email us at <a href="mailto:info@bloomsybox.com">info@bloomsybox.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                </template>   
            </div>

            <div class="bg-white common-box gift-message-box" :class="{'open': isGiftNote}">
            <template v-if="isGiftNote == true">
                <div class="popup-head p-5 bg-gray-100 text-center">
                    <div class="go-back-link">
                        <p class="mb-0" @click.prevent="_gobackPopup($event)">
                            <i class="ion ion-ios-arrow-back font-size-lg mr-1"></i>
                            <span class="text-uppercase text-latoMedium font-weight-medium d-none d-md-inline-block">GO BACK</span>
                        </p>
                    </div>
                    <h4 class="display-3 mb-0">Edit Gift Message</h4>
                </div>
                <div class="popup-body py-5 px-3 px-md-6">
                    <p class="mb-2 font-size-sm text-gray-500">*If this gift message is not updated before the next shipment date, the recipient will receive the message below.</p>
                    <p class="mb-2 font-size-sm text-gray-500">*If left blank, recipient will not recieve a message.</p> 
                    <form>
                        <div class="row custom-row align-items-center edit-gift-field">
                            <div class="col-12 col-md-4 my-2">
                                <label class="mb-1 h6">TO:</label>
                                <input type="text" data-gift-to :value="rechargeDashbord.gift_message.to" class="form-control text-lato font-weight-normal h-auto py-1" />
                            </div>
                            <div class="col-12 col-md-4 my-2">
                                <label class="mb-1 h6">FROM:</label>
                                <input type="text" data-gift-from :value="rechargeDashbord.gift_message.from" class="form-control text-lato font-weight-normal h-auto py-1" />
                            </div> 
                            <div class="col-12 my-2">
                                <textarea data-gift-msg class="form-control text-lato font-weight-normal h-auto py-1" rows="6" v-text="rechargeDashbord.gift_message.message"></textarea>
                            </div>
                        </div>
                    </form>     
                </div>
                <div class="popup-footer px-5 pb-5">
                    <div class="row custom-row align-items-center">
                        <div class="col-12 col-md-5 text-center text-md-right order-md-2 cancel-note my-2 my-md-0">
                            <template v-if="!isGiftUpdate == false">
                                <a href="#" class="btn btn-sm btn-primary" :disabled="isLoading && loadingEvent == 'isGiftNote'" @click.prevent="_updateGiftNote(rechargeDashbord.currentSubscription.address_id);">
                                <template v-if="isLoading && loadingEvent == 'isGiftNote'">
                                    <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                                </template>
                                <template v-else>
                                    SAVE GIFT MESSAGE
                                </template>
                                </a>
                            </template>
                        </div>
                        <div class="col-12 col-md-7 order-md-1 my-2 my-md-0 text-center text-md-left">
                            <p class="mb-0">
                                <span class="text-latoMedium text-uppercase lead text-primary mr-lg-2">Need Help?</span>
                                Email us at <a href="mailto:info@bloomsybox.com">info@bloomsybox.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </template>   
            </div>

            <div class="bg-white common-box cancel-subscription-box" :class="{'open': isCancel}">
                <template v-if="isCancel == true">
                    <div class="popup-head p-5 bg-gray-100 text-center">
                        <div class="go-back-link">
                            <p class="mb-0" @click.prevent="_gobackPopup($event)">
                                <i class="ion ion-ios-arrow-back font-size-lg mr-1"></i>
                                <span class="text-uppercase text-latoMedium font-weight-medium d-none d-md-inline-block">GO BACK</span>
                            </p>
                        </div>
                        <h4 class="display-3 mb-0">cancel my subscription</h4>
                    </div>
                    <div class="popup-body py-3 py-md-5 px-3 px-md-6">
                        <h4 class="mb-2 text-primary">WANT TO CANCEL?</h4>  
                        <div class="row custom-row">
                            <div class="col-12 col-md-8 mb-4">
                                <p class="mb-2 text-gray-600">Please help us process your request by telling us why you’re cancelling.</p>
                                <select name="cancellation_reason" class="custom-select h-auto py-1 w-50 text-lato" @change="_getReasonFromOptions($event)">
                                    <option value="no_reson">Select a Reason</option>
                                    <option value="This is too expensive">This is too expensive</option>
                                    <option value="This was created by accident">This was created by accident</option>
                                    <option value="I already have more than I need">I already have more than I need</option>
                                    <option value="I need it sooner">I need it sooner</option>
                                    <option value="I no longer use this product">I no longer use this product</option>
                                    <option value="I want a different product">I want a different product</option>
                                  	<option value="I want a different flavor/ scent/count">I want a different flavor/ scent/count</option> 
                                    <option value="Other Reason">Other Reason</option>
                                </select>
                            </div>
                            <template v-if="isCancelOption == true">
                            <div class="col-12" data-cancel-btn>
                                <p class="mb-2 text-gray-600">Have some feedback for us? We love hearing from you.</p>
                                <textarea class="form-control text-Roboto font-weight-normal h-auto py-1" rows="4"></textarea>
                            </div>
                            </template>   
                        </div> 
                    </div>
                    <div class="popup-footer px-5 pb-5">
                        <div class="row custom-row align-items-center">
                            <div class="col-12 col-md-5 order-md-2 cancel-note my-2 my-md-0">
                                <template v-if="isCancelOption == true">
                                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                                        <a href="#" class="mb-0 text-lato font-weight-bold text-gray-800 mr-4" @click.prevent="_gobackPopup($event)">NEVERMIND</a>
                                        <a href="#" class="btn btn-sm btn-primary" :disabled="isLoading && loadingEvent == 'cancel_subscription'" @click.prevent="_putCancelSubscription($event, rechargeDashbord.currentSubscription.id)">
                                            <template v-if="isLoading && loadingEvent == 'cancel_subscription'">
                                                <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                                            </template>
                                            <template v-else>
                                                CONFIRM
                                            </template>
                                        </a>
                                </div>
                                </template>   
                            </div>
                            <div class="col-12 col-md-7 order-md-1 my-2 my-md-0 text-center text-md-left">
                                <p class="mb-0">
                                    <span class="text-latoMedium text-uppercase lead text-primary mr-lg-2">Need Help?</span>
                                    Email us at <a href="mailto:info@bloomsybox.com">info@bloomsybox.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </template>   
            </div>
        </div>
    </div>
</template>   