<aside class="collection-filters {% if sidebar_is_sticky %}sticky-top{% endif %}">

  {% comment %} <div class="card mb-3 border-0">
    <div class="card-header">{{ 'collections.sorting.title' | t }}</div>
    <div class="card-body">
      {% include 'form-collection-sorting' %}
    </div>
  </div> {% endcomment %}
  <div class="filter-header d-flex align-items-center justify-content-between">
    <h2>Shop By</h2>
    <span class="ion ion-ios-close display-4 close-filter px-2 d-lg-none"></span>
  </div>
 
{% assign count= 0 %}

  {% for block in section.blocks %}

      {% comment %} collections filter {% endcomment %}
      {% if block.settings.enable_collections_filter %}
      {% assign count=  count | plus: 1 %}      
        {% assign collection_link_list = block.settings.collection_link_list %}
        <div class="card mb-3 border-0" {{ block.shopify_attributes }}>
          <div class="card-header h4 bg-transparent border-0 px-0 d-flex align-items-center justify-content-between">{{ block.settings.collections_filter_title }}  <a href="" class="text-primary text-uppercase font-weight-bold font-size-sm float-right {% if count > 1 %}d-none{% endif %}" @click.prevent="_clearAllFilters()">Clear All</a></div>
          {% if linklists[collection_link_list].links.size > 0 %}
            <ul class="list-group list-group-flush">
              {% for link in linklists[collection_link_list].links %}
              
                {% comment %} ===============Local changes=============== {% endcomment %}
                {% assign collectionLink = '' %}                             
                {% if link.type == 'collection_link' %}               
                  {% assign collHandle = link.url | split: '/collections/' | handle %}
                  {% assign collectionLink = collections[collHandle] %}   
                {% endif %}

                <li class="list-group-item border-0 py-1 px-0 my-1">
                  {% comment %} <a href="{{ link.url }}" @click.prevent="_parseFilters($event)" rel="nofollow" data-filter data-filter-type="collection" data-handle="{{ link.handle }}"><span>{{ link.title }}</span></a>                   {% endcomment %}
                  <div class="form-check">                                       
                    {% comment %} ===============Local changes=============== {% endcomment %}
                    <input href="{{ link.url }}" type="radio" rel="nofollow" @change="_parseFilters($event)" name="collections" id="{{ link.title | handle }}"
                        data-filter data-filter-type="collection" 
                        data-collection-banner="{% if collectionLink.image != blank %}{{ collectionLink.image | img_url: 'original' }}{% else %}{{'default-banner.png'| file_img_url:'1024x1024'}}{% endif %}"
                        data-handle="{{ link.handle }}" data-collection-title="{{collectionLink.title}}" {% if collection.handle == collectionLink.handle %}checked{% endif %}>                    
                    {% comment %} <input href="{{ link.url }}" type="radio" rel="nofollow" @change="_parseFilters($event)" name="collections" id="{{ link.title | handle }}"
                        data-filter data-filter-type="collection" data-handle="{{ link.handle }}" > {% endcomment %}
                        
                    <label class="form-check-label" for="{{ link.title | handle }}">
                        <span></span>{{ link.title }}
                    </label>
                  </div>  
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endif %}

      {% comment %} colors filter {% endcomment %}
      {% if block.settings.enable_colors_filter %}
        <div class="card mb-3 border-0" {{ block.shopify_attributes }} data-filter-tag>
          <div class="card-header h4 bg-transparent border-0 px-0">{{ block.settings.colors_filter_title }}</div>
          <div class="card-body p-0">
          	<ul class="list-unstyled list-inline my-0 py-0 colors-list">
              {% assign colors_list = block.settings.colors_list | newline_to_br | split:'<br />' %}
              {% for color in colors_list %}
                {% assign colors_array = color | split: ':' %}
                {% assign color_name = colors_array[0] | strip_newlines %}
                {% assign color_hex = colors_array[1] | remove: " " %}
                <li class="list-inline-item d-block py-1 px-0 my-1">
                  <div class="form-check">
                    <input type="radio"
                        name="{{ block.settings.colors_filter_title | remove: ':' }}" value="{{color_name}}" id="{{color_name}}" @click="_parseFilters($event)" data-filter data-filter-type="tag" v-model="activeFilters">
                    <label class="form-check-label" for="{{color_name}}">
                        <span></span>{{color_name}}
                    </label>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% comment %} prices filter {% endcomment %}
      {% if block.settings.enable_prices_filter %}
        <div class="card mb-3 border-0" {{ block.shopify_attributes }} data-filter-tag>
          <div class="card-header h4 bg-transparent border-0 px-0">{{ block.settings.prices_filter_title }}</div>
          <div class="card-body p-0">
          	<ul class="list-unstyled prices-list my-0 py-0">
              {% assign prices_list = block.settings.prices_list | newline_to_br | split:'<br />' %}
              {% for price in prices_list %}
                {% assign filter_price = price | strip_newlines | remove: " " %}
                <li class="list-inline-item d-block border-0 py-1 px-0 my-1">
                  <div class="form-check">
                    <input type="radio" name="{{ block.settings.prices_filter_title | remove: ':' }}" id="{{ filter_price }}" value="{{ filter_price | handle }}" class="form-check-input" @click="_parseFilters($event)" data-filter data-filter-type="tag" v-model="activeFilters">
                    <label class="form-check-label" for="{{ filter_price }}">
                      <span></span>{{ filter_price }}
                    </label>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% comment %} tags based filter - is repeated block {% endcomment %}
      {% if block.settings.enable_tags_filter %}
        <div class="card mb-3 border-0" {{ block.shopify_attributes }} data-filter-tag>
          <div class="card-header h4 bg-transparent border-0 px-0">{{ block.settings.tags_filter_title }}</div>
          <div class="card-body p-0">
          	<ul class="list-unstyled tags-list my-0 py-0">
              {% assign tags_list = block.settings.tags_list | newline_to_br | split:'<br />' %}
              {% for tag in tags_list %}
                {% assign filter_tag = tag | strip_newlines | remove: " " %}
                <li class="list-inline-item d-block border-0 py-1 px-0 my-1">
                  <div class="form-check">
                    <input type="radio" name="{{ block.settings.tags_filter_title | remove: ':' }}"  id="{{ filter_tag }}" value="{{ filter_tag | handle }}" class="form-check-input d-none" @click="_parseFilters($event)" data-filter data-filter-type="tag" v-model="activeFilters">
                    <label class="form-check-label text-capitalize" for="{{ filter_tag }}">
                      <span></span>{{ filter_tag | replace: "-", " " }}
                    </label>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

  {% endfor %}

</aside>