<div class="col-12 col-md-3 my-3 my-md-0">

{% if section.settings.show_social_links %}
<div class="ocial-icon d-flex mb-4 justify-content-start">
<ul class="list-unstyled text-capitalize d-flex align-items-center justify-content-around m-0">
    {% if section.settings.social_icon_facebook %}
    <li class="list-inline-item">
        <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_facebook_link }}" title="Facebook">
        <i class="fab fa-facebook-f display-5 mb-0"></i>
        </a>
    </li>
    {% endif %}


    {% if section.settings.social_icon_instagram %}
    <li class="list-inline-item">
        <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_instagram_link }}" title="Instagram">
        <i class="fab fa-instagram display-5 mb-0"></i>
        </a>
    </li>
    {% endif %}


    {% if section.settings.social_icon_twitter %}
    <li class="list-inline-item">
        <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_twitter_link }}" title="Twitter">
        <i class="fab fa-twitter display-5 mb-0"></i>
        </a>
    </li>
    {% endif %}


    {% if section.settings.social_icon_pinterest %}
    <li class="list-inline-item">
        <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_pinterest_link }}" title="Pinterest">
        <i class="fab fa-pinterest display-5 mb-0"></i>
        </a> 
    </li>
    {% endif %}

    {% if section.settings.social_icon_youtube %}
    <li class="list-inline-item">
        <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_youtube_link }}" title="Youtube">
        <i class="fab fa-youtube display-5 mb-0"></i>
        </a>
    </li>
    {% endif %}
    
    {% if section.settings.social_icon_googleplus %}
    <li class="list-inline-item">
        <a class="mr-md-5 ml-md-0 mx-3" target="_blank" href="{{ settings.social_googleplus_link }}" title="Google+">
        <i class="icon ion-logo-googleplus display-5"></i>
        </a>
    </li>
    {% endif %}

</ul>
</div>
{% endif %}
    <h4 class="mb-2">Subscribe</h4>
    <p class="mb-3">Get the latest articles in your inbox</p>          
    <form action="{{ settings.newsletter_url }}"
        method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate p-0">
        <div id="mc_embed_signup_scroll" class="mb-3"> 
            <input type="email" value="" name="EMAIL" class="form-control w-100 mb-3 mr-3 required email primary-placeholder" id="mce-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" required>
            <div class="d-flex">
                <input type="submit" value="Sign Me Up" name="subscribe" id="mc-embedded-subscribe" @click.prevent="_register($event)" class="btn btn-dark py-2 w-100 mc-button">
            </div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_0c40673ee006d073a9d3f1644_9ac63c44a2" tabindex="-1" value="">
        </div>
        <div id="subscribe-result">
        </div>
    </form>                  
</div>