<ul class="list-unstyled d-flex align-items-center justify-content-around m-0">
    <li class="ml-3">
        <a href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" target="_blank" class="text-gray-600 d-inline-block" title="Share on Facebook">
          <i class="fab fa-facebook-f h5 mb-0"></i>
        </a>
    </li>
    <li class="ml-3">
      <a class="text-gray-600 d-inline-block" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" target="_blank" title="Share on Twitter">
        <i class="fab fa-twitter h5 mb-0"></i>
      </a>
    </li>
    <li class="ml-3">
      <a class="text-gray-600 d-inline-block" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" target="_blank" title="Share on Pinterest">
        <i class="fab fa-pinterest h5 mb-0"></i>
      </a>
    </li>
    <li class="ml-3">
      <a class="text-gray-600 d-inline-block" href="//plus.google.com/share?url={{ shop.url | append: share_permalink }}" target="_blank" title="Share on Google+">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
</ul>
