<section  class="section-content" data-template="product">
    <div class="container">
        <div class="row text-center d-block">
            <h4 class="text-uppercase"> what you might find in our</h4>
            <h3 class="text-capitalize display-4 font-weight-bold mb-7">{{product.title}}</h3>
        </div>
        <div class="row justify-content-center">
            {% for field in product.metafields.global %}
            <div class="col-lg-2 col-md-3 col-6 mb-lg-0 mb-5">  
                {{ field | last }}
            </div>
            {% endfor %} 
        </div>
    </div>
</section>