{% assign images_length = product.images.size %}

<div class="template-product-subscription-product">
  <section class="pt-3" data-template="product" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
    <div class="container">
        <div class="row py-9">
            <div class="col-lg-6 col-12 order-lg-1 order-2 text-lg-left text-center">
                <h4 class="text-uppercase font-size-lg">{{ section.settings.title_text }}</h4>
                <h1 class="text-capitalize">{{ product.title }}</h1>
                <div class="d-md-flex d-block mb-4">
                    <div class="price-wrapper font-size30 border-md-right border-0 pr-xl-5 pr-md-3 pr-0 mb-md-0 mb-3"> 
                        <span class="actual-price" v-html="_formatMoney(currentVariant.price)"></span><span>/{{product.metafields.subscriptions.shipping_interval_unit_type}}</span>
                    </div>  
                    <div class="d-flex px-xl-5 px-3">
                        <div class="d-flex align-items-center">
                            <img src="{{ 'shipping.svg' | file_url}}" class="pr-3" alt="{{shop.name}}">  
                            <p class="mb-0 mr-3 text-uppercase">{{ section.settings.shipping_text}}</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <img src="{{ 'cancel-icon.svg' | file_url}}" class="pr-3" alt="{{shop.name}}">
                            <p  class="mb-0 text-uppercase">{{ section.settings.cancel_text}}</p>
                        </div>
                    </div>  
                </div>
                <div>
                    <h4 class="text-uppercase">{{ section.settings.description_title }}</h4>
                </div>
                <div>
                    <p>{{ product.description }}</p>
                </div>
                <div class="d-sm-flex d-block align-items-center">
                    <div class="pr-xl-7 pr-5">
                        {% if section.settings.btn_txt != '' %}
                            <a class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }} text-uppercase letter-spacing-100" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}</a>
                        {% endif %}
                    </div>
                    <div class="d-flex align-items-center mt-sm-0 mt-5">
                        <i class="ion ion-md-information-circle-outline h3 text-gray-500 mr-3 mr-lg-4 mb-0 pr-xl-0 pr-2"></i>
                        <p class="text-gray-500 font-size13 mb-0">{{ section.settings.info_text }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 order-lg-2 order-1 subscription-img mb-lg-0 mb-4">
                <div class="position-relative subProduct h-100">  
                    <img src="{{product.featured_image  | img_url: '1024x'}}" class="position-absolute mw-100 mh-100 pl-lg-7 w-auto m-auto"> 
                </div>
            </div>   
             
        </div>     
    </div>
  </section> 
   
</div>
