<section class="section-content template-product-classic">
    <div class="{% if fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-images-wrapper pr-lg-4 text-center">

                    {% if featured_image != blank %}

                      <div class="carousel carousel-main" role="tree"
                          data-carousel-main
                          data-flickity='{
                           "adaptiveHeight": true,
                           "contain": true,
                           "wrapAround": false,
                           "freeScroll": false,
                           "accessibility": false,
                           "setGallerySize": true,
                           "prevNextButtons": true,
                           "pageDots": true,
                           "lazyLoad": true,
                           "fullscreen": true,
                           "dragThreshold": 20,
                           "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
                         }'>
                        {% for image in product.images %}
                          <img class="carousel-cell img-fluid" role="treeitem"
                            data-flickity-lazyload-src="{{ image.src | img_url: 'large' }}"
                            data-flickity-lazyload-srcset="
                              {{ image.src | img_url: 'large' }} 576w,
                              {{ image.src | img_url: '1280x' }} 768w,
                              {{ image.src | img_url: '1440x' }} 992w,
                              {{ image.src | img_url: '1920x' }} 1200w
                              "
                            data-variant-title="{{ image.alt | escape }}"
                            alt="{{ image.alt | escape }}"/>
                        {% endfor %}
                      </div>

                      {% if product.images.size > 1 %}
                      <div class="carousel carousel-nav d-none d-lg-block" role="tree"
                         data-carousel-nav
                         data-flickity='{
                           "asNavFor": ".carousel-main",
                           "adaptiveHeight": false,
                           "contain": true,
                           "wrapAround": false,
                           "freeScroll": false,
                           "accessibility": true,
                           "setGallerySize": true,
                           "prevNextButtons": false,
                           "pageDots": false,
                           "dragThreshold": 20,
                           "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
                         }'>
                        {% for image in product.images %}
                          <a href="#" @click.prevent="_getVariant($event)" class="carousel-cell" role="treeitem">
                            <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="img-fluid" data-thumbnail>
                          </a>
                        {% endfor %}
                      </div>
                      {% endif %}

                    {% else %}
                      {{ 'image' | append: current | placeholder_svg_tag: 'img-fluid' }}
                    {% endif %}

                </div>
            </div>

            <div class="col-lg-4">
                <div class="product-details-wrapper mt-5 mt-lg-0">
                  <h1>{{ product.title }}</h1>

                  <div class="align-items-center">
                    {% if show_vendor %}
                      <span class="my-0">{{ product.vendor }}</span>
                    {% endif %}

                    <a v-if="totalReviews > 0"  href="#" @click.prevent="_scrollToReviews" class="float-right">
                      <span v-text="totalReviews"></span> Review<span v-if="totalReviews > 1">s</span>
                      <span v-html="_getAvgRating()"></span>
                    </a>
                  </div>

                  <div class="price-wrapper mt-2">
                    <s v-if="_formatMoney(currentVariant.compare_at_price) > _formatMoney(currentVariant.price)" class="h6 text-gray-600 mr-2" v-html="_formatMoney(currentVariant.compare_at_price)"></s>
                    <span class="h5 actual-price"></span>
                    <!-- <span class="h5 actual-price" v-html="_formatMoney(currentVariant.price + storeUtilities.productAddons.totalValue)"></span> -->
                  </div>

                  {% include 'product-form' %}
                  {%- comment -%}{% include 'app-utilities-product-addons' %}{%- endcomment -%}    

                  {% if product.description %}
                  <h6 class="mt-5 mb-2">{{ 'products.product.description' | t }}</h6>
                  <div class="rte">
                    {{ product.description }}
                  </div>
                  {% endif %}

                  {% if section.settings.show_social_share %}
                  <h6 class="mt-5 mb-2">{{ 'general.social.share' | t }}</h6>
                  {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                  {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>


{% for collection in product.collections %}
    {% if collection.handle contains 'plan' %}
        <script type="application/json" data-collection-subscribe-json>
            {{ collection | json }}
        </script>
        <script type="application/json" data-product-subscribe-json id="{{ collection.handle | escape }}">
            {{ collection.products | json }}
        </script>

    {% endif %}
{% endfor %}

{% for variant in product.variants %}
    {% if variant.metafields.subscriptions.charge_interval_frequency != blank %}
        <script type="application/json" data-{{variant.id}}-charge-frq-json>
            {{ variant.metafields.subscriptions.charge_interval_frequency | json }}
        </script>
    {% endif %}    
{% endfor %}

{% if product.metafields.global.description_tag != blank %}
<script type="application/json" data-{{product.handle}}-json>
    {{ product.metafields.global.description_tag }}
</script>
{% endif %}

<script type="application/json" data-{{product.handle}}-subscribe-json>[{ {% for field in product.metafields.subscriptions %}"{{ field | first }}": "{{ field | last }}"{% unless forloop.last %},{% endunless %}{% endfor %} }]</script>