{% assign is_promo_in_cart = false %}
{% assign promoPrices = '' %}

<div class="row">
  <div class="col-12">

    <form data-cart-form action="/cart" method="post">
      <div class="cart-layout">

          <div class="cart-header py-2 px-3 bg-gray-100">
                <div class="row align-items-center">
                    <div class="col-4 col-md-5 cart-product-name">
                        <p class="mb-0 text-gray-700 text-latoMedium text-uppercase">{{ 'cart.label.product' | t }}</p>
                    </div>
                    <div class="d-none cart-product-price d-md-block text-center col-md-2">
                        <p class="mb-0 text-gray-700 text-latoMedium text-uppercase">{{ 'cart.label.price' | t }}</p>
                    </div>
                    <div class="col-4 col-md-3 cart-product-quantity text-center">
                        <p class="mb-0 text-gray-700 text-latoMedium text-uppercase">{{ 'cart.label.quantity' | t }}</p>
                    </div>
                    <div class="col-4 cart-product-subtotal col-md-2 text-right">
                        <p class="mb-0 text-gray-700 text-latoMedium text-uppercase">{{ 'cart.label.total' | t }}</p>
                    </div>
                </div>
            </div>
          {% include 'cart-item-template' %}
          
          {% comment %} <tbody class="bg-white">
            {% for item in cart.items %}
              {% assign is_promo_product = false %}
              {% assign add_method = 'manual' %}

              {% assign recurringchecked = "false" %}

              {% for property in item.properties %}
                {% if property.first == 'promo_product' and property.last == 'true' %}
                  {% assign is_promo_in_cart = true %}
                  {% assign is_promo_product = true %}
                  {% assign promoPrices = promoPrices | plus: item.line_price %}
                {% endif %}
                {% if property.first == 'add_method' and property.last == 'auto' %}
                  {% assign add_method = 'auto' %}
                {% endif %}
                {% if property.first == 'shipping_interval_frequency' %}
                  {% assign frequency = property.last %}
                  {% assign recurringchecked = "true" %}
                {% endif %}
                {% if property.first == 'shipping_interval_unit_type' %}
                  {% if frequency == '1'%}
                    {% if property.last == 'Days' %}
                      {% assign frequency_unit = 'Day' %}
                    {% elsif property.last == 'Months'%}
                      {% assign frequency_unit = 'Month' %}
                    {% elsif property.last == 'Weeks'%}
                      {% assign frequency_unit = 'Week' %}
                    {% endif %}
                  {% else %}
                    {% assign frequency_unit = property.last %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              <tr>
                <td width="100" class="align-middle">
                  <a href="{{ item.url | within: collections.all }}">
                    {% if item.image != blank %}
                      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" class="img-fluid item-img"/>
                    {% else %}
                      {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                    {% endif %}
                  </a>
                </td>

                <td class="align-middle">
                  <a href="{{ item.url }}">
                    {{ item.product.title }}
                    {% unless item.variant.title contains 'Default' %}
                      <span class="small text-muted">({{ item.variant.title }})</span>
                    {% endunless %}
                  </a>

                  {% if recurringchecked == "true" %}
                    <div class="small">Recurring Delivery every {{frequency}} {{frequency_unit}}. Change or cancel anytime </div>
                  {% endif %}
                </td>

                <td class="align-middle">
                  {% if is_promo_product %}
                    <s class="text-muted m-0 p-0">{{ item.price | money }}</s>
                  {% else %}
                    {% if item.product.compare_at_price > item.price %}
                      <s class="text-muted m-0 p-0">{{ item.product.compare_at_price | money }}</s>
                    {% endif %}
                    <span class="m-0 p-0">{{ item.price | money }}</span>
                  {% endif %}
                </td>

                <td width="140" class="align-middle text-center">
                  {% if is_promo_product %}
                    1
                    <input type="hidden" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                  {% else %}
                    <div class="quantity-wrapper" data-qty-container>
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <a href="#" class="btn-decrease" data-qty-decrease @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Decrease" title="Decrease"><i class="icon ion-md-remove"></i></a>
                          </span>
                        </div>
                        <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <a href="#" class="input-group-addon btn-increase" data-qty-increase @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Increase" title="Increase"><i class="icon ion-md-add"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </td>

                <td class="align-middle">
                  {% if is_promo_product %}
                    FREE
                  {% else %}
                    <span class="amount">{{ item.line_price | money }}</span>
                  {% endif %}
                </td>

                <td width="50" class="align-middle text-right">
                  {% unless is_promo_product and add_method == 'auto' %}
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="top" class="text-danger lead"><i class="icon ion-md-remove-circle-outline"></i></a>
                  {% endunless %}
                </td>
              </tr>

            {% endfor %}
          </tbody> {% endcomment %}
      </div>

    <div class="mt-7">
        <div class="row">
            <div class="col-12 col-md-6 pr-lg-8">
                {% if section.settings.show_back_btn %}
                    <div class="col-6">
                        <a href="/collections" class="btn btn-info btn-sm"><i class="icon ion-md-arrow-back"></i> {{ 'cart.general.back_to_shop' | t }}</a>
                    </div>
                {% endif %}
                {% if section.settings.enable_cart_notes %}
                <div class="col-md-6 col-lg-4 ml-right text-left mb-4">
                    <textarea name="note" class="form-control" rows="5" placeholder="{{ 'cart.general.note' | t }}">{{ cart.note }}</textarea>
                </div>
                {% endif %}
                <div class="d-flex align-items-end mb-1">
                    <div class="d-flex align-items-center">
                        <div class="custom-checkbox">
                            <input type="checkbox" id="gift" name="properties[isGift]" data-gift v-bind="{'checked': !isGiftcartForm}" v-on:click="isGiftcartForm = !isGiftcartForm;_giftCartForm($event);"/>
                            <label for="gift" class="mb-0">
                                <span class="mr-3 d-inline-block align-middle position-relative"></span>
                                <h4 class="display-3 mb-0 text-primary d-inline-block align-middle">Is This a gift?</h4>
                                <p class="mb-0 font-italic text-gray-500 d-inline-block align-bottom">Optional</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="gift-details" data-giftForm :class="{'disabled': isGiftcartForm}">
                    <div class="form-row">
                        {% comment %} <div class="col-12 col-sm-6 py-3">
                            <input type="text" class="form-control secondary-placeholder" data-name-to value='{{ cart.attributes["To"] }}' placeholder="To" name="attributes[To]" :class="{'disabled': isGiftcartForm}" v-bind="{'required': !isGiftcartForm}">
                        </div>
                        <div class="col-12 col-sm-6 py-3">
                            <input type="text" class="form-control secondary-placeholder"  data-name-from value='{{ cart.attributes["From"] }}' placeholder="From" name="attributes[From]" :class="{'disabled': isGiftcartForm}" v-bind="{'required': !isGiftcartForm}">
                        </div> {% endcomment %}
                        <div class="col-12 py-3">
                                <textarea rows="6" maxlength="280" class="form-control secondary-placeholder" data-name-message value='{{ cart.attributes["Gift_Message"] }}' name="attributes[Gift_Message]" placeholder="Gift Message" :class="{'disabled': isGiftcartForm}" v-bind="{'required': !isGiftcartForm}">{{ cart.attributes["Gift_Message"] }}</textarea>
                        </div>
                    </div>
                    <div class="mt-4 text-center text-sm-left">
                        <h5>Gifting Faq’s</h5>
                        <div class="row align-items-start">
                            <div class="col-12 col-sm-7">
                                <p class="mb-0 font-size-sm font-weight-bold">Sending your gift directly to the recipient?</p>
                                <p class="mb-0 font-size-sm">Fill in recipient address during checkout.</p>
                            </div>
                            <div class="col-12 col-sm-5 mt-3 mt-sm-0">
                                <p class="mb-0 font-size-sm font-weight-bold">Sending gifts to multiple people?</p>
                                <p class="mb-0 font-size-sm">Please place a separate order for each address.</p>
                            </div>
                        </div>
                        <p class="mb-0 font-size-sm font-weight-normal">Need Help? <a href="/pages/contact" class="text-primary"><u>Contact Us</u></a></p>
                    </div>
                </div>
                {% if section.settings.enable_delivery_date_selection %}
                <div class="col-md-6 col-lg-4 ml-right text-left mb-5">
                    <label>{{ 'cart.general.delivery_date' | t }}</label>
                    <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="icon ion-md-calendar"></i>
                        </span>
                    </div>
                    <flat-pickr
                        value="{{ cart.attributes.date }}"
                        :config="datePickerConfig"
                        :required="false"
                        name="attributes[date]"
                        readonly
                        class="form-control">
                    </flat-pickr>
                    </div>
                    <p class="small font-italic">{{ 'cart.general.delivery_date_note' | t }}</p>
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 text-center text-md-right mt-4 mt-md-0">
                {% if is_promo_in_cart %}
                <h3 class="subtotal-text px-3">{{ 'cart.general.subtotal' | t }}: <span class="font-weight-light">{{ cart.total_price | minus: promoPrices | money }}</span></h3>
                {% else %}
                <h3 class="subtotal-text px-3">{{ 'cart.general.subtotal' | t }}: <span class="font-weight-light" v-html="_formatMoney(cart.total_price)">{{ cart.total_price | money }}</span></h3>
                {% endif %}
                {% if cart.total_discounts > 0 %}
                <h6 class="my-0">{{ 'cart.general.savings' | t }}: <span class="font-weight-light">{{ cart.total_discounts | money }}</span></h6>
                {% endif %}
                <div class="d-block d-sm-flex align-items-center justify-content-center justify-content-md-end py-2 py-sm-5">
                    <a href="/collections" class="btn btn-outline-primary mr-0 mr-sm-4 my-2 my-sm-0">Continue Shopping</a>
                    <button class="btn px-lg-8 btn-primary my-2 my-sm-0"
                        type="submit"
                        name="checkout"
                        >
                        {{ 'cart.general.checkout' | t }}
                    </button>
                </div>
                <p class="mb-0 text-gray-600">{{ 'cart.general.shipping_at_checkout' | t}}</p>
                
                {% if additional_checkout_buttons %}
                {% comment %}span wrapper tag is needed by the ReCharce App{% endcomment %}
                <span class="additional-checkout-buttons">
                    <div class="additional-checkout-buttons">
                    {{ content_for_additional_checkout_buttons }}
                    </div>
                </span>
                {% endif %}
            </div>
        </div>
    </div>
     </form>
  </div>
</div>
