<div class="col_blks text-center">
  <div class="container">
  <h2>{{ section.settings.blk_heading }}</h2>
  <h4>{{ section.settings.sml_heading }}</h4>
  {% if section.blocks.size > 0 %}
    <div class="clctn-clk">
    <div class="row">
   {% for block in section.blocks %}
    <div class="col-md-4 col-sm-4">
      <div class="img-txt">
      <div class="blk-imgss">
      <img src="{{ block.settings.blk_img | img_url:"original" }}">
        {% if block.settings.blk_logo != blank %}
        <img class="col-logoimg" src="{{ block.settings.blk_logo | img_url:"original" }}">
        <span class="img-ovrlyr"></span>
        {% endif %}
      </div>
      <div class="wht-btm">
      <p class="bh-btr-blm text-Roboto">{{ block.settings.first_head }}</p>
      <p class="btm-txt text-Roboto">{{ block.settings.para }}</p>
      </div>
      </div>
  	</div>
  {% endfor %}
    </div>
    </div>
  {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Collection Blocks",
    "settings": [
        {
            "type":"text",
            "id":"blk_heading",
            "label":"Heading"
        },
        {
            "type":"text",
            "id":"sml_heading",
            "label":"Small Heading"
        }
    ],
   "blocks": [
    {
        "type": "image",
        "name": "Image slide",
        "settings": [
            {
                "type":"image_picker",
                "id":"blk_img",
                "label":"Image"
            },
            {
                "type":"image_picker",
                "id":"blk_logo",
                "label":"Logo Image"
            },
            {
                "type":"text",
                "id":"first_head",
                "label":"Heading"
            },
            {
                "type":"textarea",
                "id":"para",
                "label":"Paragraph"
            }
        ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
