<div class="collection-banner" style=" background-image: url('{{ section.settings.col_bnr | img_url:"original" }}')">
<!--   <img class="col-bnr" src=""> -->
  <div class="bnr-log-text-btn">
    <img src="{{ section.settings.col_logo | img_url:"180x180" }}">
    <p>{{ section.settings.heading }}</p>
    <a href="{{ section.settings.btn_link }}">
      {{ section.settings.btn_nam }}
    </a>
  </div>
</div>
{% schema %}
  {
    "name": "Collection Banner",
    "settings": [
    {
        "type":"image_picker",
        "id":"col_bnr",
        "label":"Banner Image"
    },
    {
        "type":"image_picker",
        "id":"col_logo",
        "label":"Banner Logo"
    },
    {
        "type":"text",
        "id":"heading",
        "label":"Heading"
    },
    {
        "type":"text",
        "id":"btn_nam",
        "label":"Button Name"
    },
    {
        "type":"url",
        "id":"btn_link",
        "label":"link"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
