<div style="background:url({{ section.settings.heroBG_img | img_url:'1920x' }}) top center no-repeat #ecedef; ">
    
    <div id="martha-hero-banner" class="py-10" >
      <div class="container">
        <div class="martha-details wave-border white-wave" class="shadow-1 position-relative">    
        {% comment %} <span class="top-wave wave"></span><span class="bottom-wave wave"></span><span class="left-wave wave"></span><span class="right-wave wave"></span>         {% endcomment %}
            {% comment %} <img src="{{section.settings.hero_banner_img | img_url:'1240x' }}" class="d-none d-md-block" />  
            <img src="{{section.settings.mobile_hero_banner_img | img_url:'767x' }}" class="d-block d-md-none" />   {% endcomment %}
            <img
                data-sizes="100vw"
                src="{{ section.settings.hero_banner_img | img_url: 'small'}}"
                data-srcset="
                {{ section.settings.hero_banner_img | img_url: '1024x' }} 576w,
                {{ section.settings.hero_banner_img | img_url: '1280x' }} 768w,
                {{ section.settings.hero_banner_img | img_url: '1440x' }} 992w,
                {{ section.settings.hero_banner_img | img_url: '1920x' }} 1200w"
                class="lazyload d-none d-md-block  w-100" alt="{{ section.settings.work_heading_txt | escape }}" />
            <img
                data-sizes="100vw"
                src="{{ section.settings.mobile_hero_banner_img | img_url: 'small'}}"
                data-srcset="
                {{ section.settings.mobile_hero_banner_img | img_url: '1024x' }} 576w,
                {{ section.settings.mobile_hero_banner_img | img_url: '1280x' }} 768w,
                {{ section.settings.mobile_hero_banner_img | img_url: '1440x' }} 992w,
                {{ section.settings.mobile_hero_banner_img | img_url: '1920x' }} 1200w"
                class="lazyload d-block d-md-none  w-100" alt="{{ section.settings.work_heading_txt | escape }}" />
            <div class="row justify-content-center justify-content-md-start position-absolute t-0 l-0 h-100">
              <div class="col-sm-10 col-md-6 col-lg-5 px-xl-8 py-8 py-md-8 py-lg-10 mx-md-8 d-flex align-items-center pb-xs-0"> 
                <div class="martha-captions text-center px-2 px-md-0"> 
                  {% if section.settings.marth_logo != blank %} 
                    <img src="{{ section.settings.marth_logo | img_url:'large' }}" style="max-width:{{ section.settings.marth_logo_width }}px" class="mb-6 mb-lg-7 martha-logo" />     
                    <div class="dividers bg-pink mx-auto pt-2 mb-6 mb-md-4 mb-lg-6 col-1"></div>  
                  {% endif %}
                  {% if section.settings.lead_txt != blank %}
                    <div class="display-5 line-height-lg text-miller-semibold text-gray-700">{{ section.settings.lead_txt }}</div>  
                  {% endif %}
                  {% if section.settings.sub_lead_txt != blank %}
                    <h5 class="mt-4 mt-md-7 subLeadingText font-weight-bold display-5 text-pink text-trade-gothic text-uppercase">{{ section.settings.sub_lead_txt }}</h5>
                  {% endif %}
                  <div class="select-options mt-4 mt-md-7">
                    {% if section.settings.btn_txt != blank and section.settings.btn_url != blank %}
                        <a href="{{ section.settings.btn_url }}" class="btn martha-btn {% if section.settings.btn_variant == 'light' %}text-pink{% endif %} btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }} mx-2">{{section.settings.btn_txt}}</a> 
                    {% endif %} 
                    {% if section.settings.btn_txt_other != blank and section.settings.btn_url_other != blank %}
                        <a href="{{ section.settings.btn_url_other }}" class="btn martha-btn {% if section.settings.btn_variant_other == 'light' %}text-pink{% endif %} btn{% if section.settings.btn_type_other == 'outline' %}-{% endif %}{{ section.settings.btn_type_other }}-{{ section.settings.btn_variant_other }} {{ section.settings.btn_size_other }} mx-2">{{section.settings.btn_txt_other}}</a>
                    {% endif %}
                  </div>
                </div>  
              </div>
            </div>
           
            
        </div>
      </div>
    </div>

    {% assign count = 0 | plus: 0 %}
    {% assign blockId = '' %}
    <div id="how-it-works" class="pb-7">      
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-4">
            {% if section.settings.work_heading_txt != blank %}
            <h2 class="text-uppercase text-trade-gothic mb-3 text-gray-700 line-height-sm">{{ section.settings.work_heading_txt }}</h2>   
            {% endif %}
            {% for block in section.blocks %}
                {% if block.type == 'workFlow' and count < 1 %}
                {% assign count = count | plus: 1 %}
                {% assign blockId = blockId | append: block.id %}
                <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                    <h2 class="font-italic display-4 text-chronicle-italic text-gray-700 line-height-sm mb-0">{{ count }}</h2>
                </div>
                <div class="col-12 col-md-10"> 
                    <div class="works_step row">
                    <div class="col-12">
                        <div class="step-img mb-4 mb-md-2">
                            {% if block.settings.banner_img != blank %}
                            <img
                                data-sizes="100vw"
                                src="{{ block.settings.banner_img | img_url: 'small'}}"
                                data-srcset="
                                {{ block.settings.banner_img | img_url: '1024x' }} 576w,
                                {{ block.settings.banner_img | img_url: '1280x' }} 768w,
                                {{ block.settings.banner_img | img_url: '1440x' }} 992w,
                                {{ block.settings.banner_img | img_url: '1920x' }} 1200w"
                                class="lazyload img-fluid mw-100 mb-2" alt="{{ block.settings.heading_txt_1 | escape }}" />
                            {% else %}
                                {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="step-caption text-miller-semibold font-size-lg text-gray-700 line-height-base font-weight-semiBold">  
                        {% if block.settings.heading_txt_1 != blank %}
                        <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_1 }}</h4>
                        {% endif %}
                        {% if block.settings.lead_txt_1 != blank %}
                        {{ block.settings.lead_txt_1 }}
                        {% endif %}
                        {% if block.settings.heading_txt_2 != blank %}
                        <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_2 }}</h4>
                        {% endif %}
                        {% if block.settings.lead_txt_2 != blank %}
                        {{ block.settings.lead_txt_2 }}
                        {% endif %}
                        {% if block.settings.heading_txt_3 != blank %}
                        <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_3 }}</h4>   
                        {% endif %}
                        {% if block.settings.lead_txt_3 != blank %}
                        {{ block.settings.lead_txt_3 }}
                        {% endif %}                  
                        </div>
                    </div>   
                    </div>
                </div>
                </div>
                {% endif %}
            {% endfor %}  
          </div>
          <div class="col-12 col-md-7 col-lg-8">  
            {% for block in section.blocks %}
                {% if block.type == 'workFlow' and count >= 1 %}
                    {% unless blockId contains block.id %}
                    {% assign count = count | plus: 1 %}
                    <div class="works_step row mb-5">                
                        <div class="col-12 col-lg-5 col-md-7">
                            <div class="step-img mb-4 mb-md-0">
                                {% if block.settings.banner_img != blank %}
                                <img
                                    data-sizes="100vw"
                                    src="{{ block.settings.banner_img | img_url: 'small'}}"
                                    data-srcset="
                                    {{ block.settings.banner_img | img_url: '1024x' }} 576w,
                                    {{ block.settings.banner_img | img_url: '1280x' }} 768w,
                                    {{ block.settings.banner_img | img_url: '1440x' }} 992w,
                                    {{ block.settings.banner_img | img_url: '1920x' }} 1200w"
                                    class="lazyload img-fluid mw-100 mb-2" alt="{{ block.settings.heading_txt_1 | escape }}" />
                                {% else %}
                                    {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-lg-7 col-md-5">
                            <h2 class="font-italic text-chronicle-italic text-gray-700 display-4 line-height-sm mb-0 d-none d-md-block">{{ count }}</h2>
                            <div class="step-caption text-miller-semibold font-size-lg text-gray-700 line-height-base font-weight-semiBold">
                            {% if block.settings.heading_txt_1 != blank %}
                            <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_1 }}</h4>
                            {% endif %}
                            {% if block.settings.lead_txt_1 != blank %}
                            {{ block.settings.lead_txt_1 }}
                            {% endif %}
                            {% if block.settings.heading_txt_2 != blank %}
                            <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_2 }}</h4>
                            {% endif %}
                            {% if block.settings.lead_txt_2 != blank %}
                            {{ block.settings.lead_txt_2 }}
                            {% endif %}
                            {% if block.settings.heading_txt_3 != blank %}
                            <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_3 }}</h4>
                            {% endif %}
                            {% if block.settings.lead_txt_3 != blank %}
                            {{ block.settings.lead_txt_3 }}
                            {% endif %}  
                            </div>
                        </div> 
                    </div> 
                    {% endunless %}          
                {% endif %}
            {% endfor %}
                 
          </div>
        </div>
        <div class="select-options mt-7 text-center"> 
          {% if section.settings.work_btn_txt != blank and section.settings.work_btn_url != blank %}
                <a href="{{ section.settings.work_btn_url }}" class="btn martha-btn {% if section.settings.work_btn_variant == 'light' %}text-pink{% endif %} btn{% if section.settings.work_btn_type == 'outline' %}-{% endif %}{{ section.settings.work_btn_type }}-{{ section.settings.work_btn_variant }} {{ section.settings.work_btn_size }} mx-2">{{section.settings.work_btn_txt}}</a> 
            {% endif %}
            {% if section.settings.work_btn_txt_other != blank and section.settings.work_btn_url_other != blank %}
                <a href="{{ section.settings.work_btn_url_other }}" class="btn martha-btn {% if section.settings.work_btn_variant_other == 'light' %}text-pink{% endif %} btn{% if section.settings.work_btn_type_other == 'outline' %}-{% endif %}{{ section.settings.work_btn_type_other }}-{{ section.settings.work_btn_variant_other }} {{ section.settings.work_btn_size_other }} mx-2">{{section.settings.work_btn_txt_other}}</a>
            {% endif %}
        </div>
      </div>
    </div>


    <div id="perfect-gift-silder" class="py-md-6 py-5">
      <div class="container">
        
        <div class="gift-carousel" data-flickity='{
              "contain": true,
              "freeScroll": false,
              "groupCells": "100%",
              "cellAlign": "left",
              "draggable": true,
              "pageDots": false,
              "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 50, "x3": 60} 
            }'>
            {% for block in section.blocks %}
                {% if block.type == 'silder' %}
                    <div class="w-100 carousel-cell">  
                        {% if section.settings.gift_heading_txt != blank %}
                            <h2 class="text-uppercase text-trade-gothic mb-4 subLeadingText text-gray-700 line-height-sm text-center">{{ block.settings.heading_txt }}</h2>  
                        {% endif %} 
                        {% if block.settings.banner_img != blank %}
                            <img
                                data-sizes="100vw"
                                src="{{ block.settings.banner_img | img_url: 'small'}}"
                                data-srcset="
                                {{ block.settings.banner_img | img_url: '1024x' }} 576w,
                                {{ block.settings.banner_img | img_url: '1280x' }} 768w,
                                {{ block.settings.banner_img | img_url: '1440x' }} 992w,
                                {{ block.settings.banner_img | img_url: '1920x' }} 1200w"
                                class="lazyload h-100 object-fit-cover img-fluid" alt="{{ block.settings.heading_txt_1 | escape }}" />
                            {% else %}
                                {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                            {% endif %}
                        <div class="position-absolute l-0 r-0 b-0 justify-content-end pt-6 pb-3 pt-md-0 pb-md-0">
                            <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-12 col-md-9 col-lg-7 col-xl-5">
                                <div class="d-flex align-items-center justify-content-end justify-content-center-mb py-5 px-4">
                                    {% if block.settings.btn_txt != blank and block.settings.btn_url != blank %}
                                        <a href="{{ block.settings.btn_url }}" class="btn martha-btn {% if block.settings.btn_variant == 'light' %}text-pink{% endif %} btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} mr-3 mr-lg-4 ">{{block.settings.btn_txt}}</a> 
                                    {% endif %}
                                    {% if block.settings.btn_txt_other != blank and block.settings.btn_url_other != blank %}
                                        <a href="{{ block.settings.btn_url_other }}" class="btn martha-btn {% if block.settings.btn_variant_other == 'light' %}text-pink{% endif %} btn{% if block.settings.btn_type_other == 'outline' %}-{% endif %}{{ block.settings.btn_type_other }}-{{ block.settings.btn_variant_other }} {{ block.settings.btn_size_other }}">{{block.settings.btn_txt_other}}</a>
                                    {% endif %}
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            
        </div>
      </div>
    </div>

    <div class="py-md-6 py-5 varieties-section">
      <div class="container">
        <div class="text-center">
            {% if section.settings.varieties_heading_txt != blank %}
                <h2 class="text-uppercase text-trade-gothic mb-1 text-gray-700 line-height-sm">{{section.settings.varieties_heading_txt}}</h2>
            {% endif %}
            {% if section.settings.varieties_subheading_txt != blank %}
                <h4 class="font-size-lg text-gray-700 mb-1 text-transform-none text-miller-semibold">{{section.settings.varieties_subheading_txt}}</h4> 
            {% endif %}
        </div>
        <div class="varieties-img">
            {% if  section.settings.varieties_banner_img %}
            <img
                data-sizes="100vw"
                src="{{ section.settings.varieties_banner_img | img_url: 'small'}}"
                data-srcset="
                {{ section.settings.varieties_banner_img | img_url: '1024x' }} 576w,
                {{ section.settings.varieties_banner_img | img_url: '1280x' }} 768w,
                {{ section.settings.varieties_banner_img | img_url: '1440x' }} 992w,
                {{ section.settings.varieties_banner_img | img_url: '1920x' }} 1200w"
                class="lazyload img-fluid object-fit-cover" alt="{{ section.settings.varieties_heading_txt | escape }}" />
            {% endif %}
        </div>
        <div class="d-flex align-items-center justify-content-center pt-3">

          {% if section.settings.varieties_btn_txt != blank and section.settings.varieties_btn_url != blank %}
                <a href="{{ section.settings.varieties_btn_url }}" class="btn martha-btn {% if section.settings.varieties_btn_variant == 'light' %}text-pink{% endif %} btn{% if section.settings.varieties_btn_type == 'outline' %}-{% endif %}{{ section.settings.varieties_btn_type }}-{{ section.settings.varieties_btn_variant }} {{ section.settings.varieties_btn_size }} mr-3 mr-lg-4 ">{{section.settings.varieties_btn_txt}}</a> 
            {% endif %}
            {% if section.settings.varieties_btn_txt_other != blank and section.settings.varieties_btn_url_other != blank %}
                <a href="{{ section.settings.varieties_btn_url_other }}" class="btn martha-btn {% if section.settings.varieties_btn_variant_other == 'light' %}text-pink{% endif %} btn{% if section.settings.varieties_btn_type_other == 'outline' %}-{% endif %}{{ section.settings.varieties_btn_type_other }}-{{ section.settings.varieties_btn_variant_other }} {{ section.settings.varieties_btn_size_other }}">{{section.settings.varieties_btn_txt_other}}</a>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="py-md-6 py-5 varieties-banner">
      <div class="container">
        <div class="carousel-cell position-relative">
            {% if  section.settings.sign_banner_img %}
            <img
                data-sizes="100vw"
                src="{{ section.settings.sign_banner_img | img_url: 'small'}}"
                data-srcset="
                {{ section.settings.sign_banner_img | img_url: '1024x' }} 576w,
                {{ section.settings.sign_banner_img | img_url: '1280x' }} 768w,
                {{ section.settings.sign_banner_img | img_url: '1440x' }} 992w,
                {{ section.settings.sign_banner_img | img_url: '1920x' }} 1200w"
                class="lazyload img-fluid h-100 object-fit-cover" alt="{{ section.settings.sign_subheading_txt | escape }}" />
            {% endif %}
           <div class="position-absolute l-0 r-0 t-50 transform-t-50 z-index-990 px-4">
            <div class="row">
              <div class="col-12 offset-md-5 col-md-5 offset-xl-7 col-xl-4 text-center">
                {% if section.settings.sign_subheading_txt != blank %}
                    <p class="text-white display-5 line-height-lg text-miller-semibold">"{{ section.settings.sign_subheading_txt }}"</p> 
                {% endif %}
                {% if section.settings.sign_img != blank %}
                    <img src="{{ section.settings.sign_img | img_url:'255x' }}" class="mw-100" alt="" />
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-md-6 pb-md-9 py-5 expect-banner">
      <div class="container">
        <div class="border border-gray-700 p-3">
          <div class="bg-white">
            <div class="row align-items-center">
              <div class="col-12 col-md-6 col-lg-5 pl-6 pr-6 pr-md-0 pl-md-7 my-4">
                {% if section.settings.fpo_heading_txt != blank %}
                    <h2 class="text-uppercase text-trade-gothic mb-4 text-gray-700 line-height-sm">{{section.settings.fpo_heading_txt}} </h2>
                {% endif %}
                <div class="dividers bg-pink ml-0 pt-2 mb-6 col-1"></div>
                {% for block in section.blocks %}
                    {% if block.type == 'blockExpect' %}
                        <div class="expect-option text-gray-700 text-miller-semibold font-size-lg line-height-base font-weight-semiBold">
                            <h3 class="text-gray-700 text-trade-gothic mb-1">{{ block.settings.heading_txt }}</h3>
                            {{ block.settings.lead_txt }}
                        </div>
                    {% endif %}
                {% endfor %}
              </div>
              <div class="col-12 col-md-6 col-lg-7">
                <div class="carousel-cell product-img position-relative">
                    {% if  section.settings.fpo_banner_img %}
                    <img
                        data-sizes="100vw"
                        src="{{ section.settings.fpo_banner_img | img_url: 'small'}}"
                        data-srcset="
                        {{ section.settings.fpo_banner_img | img_url: '1024x' }} 576w,
                        {{ section.settings.fpo_banner_img | img_url: '1280x' }} 768w,
                        {{ section.settings.fpo_banner_img | img_url: '1440x' }} 992w,
                        {{ section.settings.fpo_banner_img | img_url: '1920x' }} 1200w"
                        class="lazyload img-fluid h-100 object-fit-cover" alt="{{ section.settings.fpo_banner_txt | escape }}" />
                    {% endif %}
                  <div class="position-absolute l-0 r-0 b-0 z-index-990 expect-title">
                    {% if section.settings.fpo_banner_txt != blank %}
                        <h1 class="text-trade-gothic text-white mb-5">{{section.settings.fpo_banner_txt}}</h1>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if section.settings.giftConCard_enabled %}
    <div class="py-md-6 py-5 expect-banner">
        <div class="container">
            {% if section.settings.giftCon_heading_txt != blank %}
                <div class="text-center border-bottom border-gray-700">
                    <h2 class="text-uppercase text-trade-gothic mb-4 text-gray-700 line-height-sm">{{ section.settings.giftCon_heading_txt }}</h2>
                </div>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7">
                    <div class="row">
                        {% if section.settings.giftCon_banner_txt != blank %}
                            <div class="col-12 my-2 text-center text-miller-semibold">
                                <p class="font-size-lg my-3 text-miller-semibold font-size-lg line-height-base">{{ section.settings.giftCon_banner_txt }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">     
                <div class="col-12 col-md-10 col-lg-9">   
                    <div class="row">     
                        <div class="col-12 col-md-6 my-2">
                            <div class="product-img">                        
                                {% if  section.settings.giftCon_banner_img_2 %}
                                <img
                                    data-sizes="100vw"
                                    src="{{ section.settings.giftCon_banner_img_2 | img_url: 'small'}}"
                                    data-srcset="
                                    {{ section.settings.giftCon_banner_img_2 | img_url: '1024x' }} 576w,
                                    {{ section.settings.giftCon_banner_img_2 | img_url: '1280x' }} 768w,
                                    {{ section.settings.giftCon_banner_img_2 | img_url: '1440x' }} 992w,
                                    {{ section.settings.giftCon_banner_img_2 | img_url: '1920x' }} 1200w"
                                    class="lazyload img-fluid object-fit-cover h-100 w-100" alt="{{ section.settings.giftCon_heading_txt | escape }}" />
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-12 col-md-6 my-2">
                            <div class="product-img">
                                {% if  section.settings.giftCon_banner_img_1 %}
                                <img
                                    data-sizes="100vw"
                                    src="{{ section.settings.giftCon_banner_img_1 | img_url: 'small'}}"
                                    data-srcset="
                                    {{ section.settings.giftCon_banner_img_1 | img_url: '1024x' }} 576w,
                                    {{ section.settings.giftCon_banner_img_1 | img_url: '1280x' }} 768w,
                                    {{ section.settings.giftCon_banner_img_1 | img_url: '1440x' }} 992w,
                                    {{ section.settings.giftCon_banner_img_1 | img_url: '1920x' }} 1200w"
                                    class="lazyload img-fluid object-fit-cover h-100 w-100" alt="{{ section.settings.giftCon_heading_txt | escape }}" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    {% endif %}

</div>



{% schema %}
  {
    "name": "Martha stewart roses",
    "settings": [        
        {
            "type": "image_picker",
            "id": "heroBG_img",
            "label": "Background Image"
        },
        {
          "type": "header",
          "content": "Banner"
        },
        {
            "type": "image_picker",
            "id": "hero_banner_img",
            "label": "Image"
        },   
        {
            "type": "image_picker",
            "id": "mobile_hero_banner_img",
            "label": "Mobile Image"
        },              
        {
          "type": "image_picker",
          "id": "marth_logo",
          "label": "Martha Logo"
        },
        {
          "type": "range",
          "id": "marth_logo_width",
          "min": 5,
          "max": 300,
          "step": 5,
          "unit": "px",
          "label": "Martha Logo width",
          "default": 180
        },
        {
            "type": "richtext",
            "id": "lead_txt",
            "label": "Lead Text"
        },
        {
            "type": "textarea",
            "id": "sub_lead_txt",
            "label": "Content Text"
        },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [{
              "value": "pink",
              "label": "pink"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "gray-100",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "pink"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "text",
          "id": "btn_txt_other",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_url_other",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "btn_type_other",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "btn_variant_other",
          "label": "Button Variant",
          "options": [{
              "value": "pink",
              "label": "pink"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "pink"
        },
        {
          "type": "select",
          "id": "btn_size_other",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        
        {
          "type": "header",
          "content": "How it Work Flow"
        },
        
        {
            "type": "text",
            "id": "work_heading_txt",
            "label": "Heading Text"
        },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "text",
          "id": "work_btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "work_btn_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "work_btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "work_btn_variant",
          "label": "Button Variant",
          "options": [{
              "value": "pink",
              "label": "pink"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "pink"
        },
        {
          "type": "select",
          "id": "work_btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "text",
          "id": "work_btn_txt_other",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "work_btn_url_other",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "work_btn_type_other",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "work_btn_variant_other",
          "label": "Button Variant",
          "options": [{
              "value": "pink",
              "label": "pink"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "pink"
        },
        {
          "type": "select",
          "id": "work_btn_size_other",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "header",
          "content": "Perfect Gift"
        },
        {
            "type": "text",
            "id": "gift_heading_txt",
            "label": "Heading Text"
        },
        {
          "type": "header",
          "content": "VARIETIES"
        },
        {
            "type": "text",
            "id": "varieties_heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "text",
            "id": "varieties_subheading_txt",
            "label": "Sub Heading Text"
        },
        {
            "type": "image_picker",
            "id": "varieties_banner_img",
            "label": "Image"
        },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "text",
          "id": "varieties_btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "varieties_btn_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "varieties_btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "varieties_btn_variant",
          "label": "Button Variant",
          "options": [{
              "value": "pink",
              "label": "pink"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "pink"
        },
        {
          "type": "select",
          "id": "varieties_btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "text",
          "id": "varieties_btn_txt_other",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "varieties_btn_url_other",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "varieties_btn_type_other",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "varieties_btn_variant_other",
          "label": "Button Variant",
          "options": [{
              "value": "pink",
              "label": "pink"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "pink"
        },
        {
          "type": "select",
          "id": "varieties_btn_size_other",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "header",
          "content": "Marth stewart Banner"
        },
        {
            "type": "textarea",
            "id": "sign_subheading_txt",
            "label": "Sub Heading Text"
        },
        {
            "type": "image_picker",
            "id": "sign_banner_img",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "sign_img",
            "label": "Sign Image"
        },
        {
          "type": "header",
          "content": "FPO"
        },
        {
            "type": "text",
            "id": "fpo_heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "text",
            "id": "fpo_banner_txt",
            "label": "Banner Text"
        },
        {
            "type": "image_picker",
            "id": "fpo_banner_img",
            "label": "Image"
        },
        {
          "type": "header",
          "content": "Gift Card"
        },
        {
            "type": "checkbox",
            "id": "giftConCard_enabled",
            "label": "Enable?"
        },
        {
            "type": "text",
            "id": "giftCon_heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "textarea",
            "id": "giftCon_banner_txt",
            "label": "Banner Text"
        },
        {
            "type": "image_picker",
            "id": "giftCon_banner_img_2",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "giftCon_banner_img_1",
            "label": "Image"
        }
    ],
    "blocks": [
      {
        "type": "workFlow",
        "name": "Work Flow",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Select Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "heading_txt_1",
            "label": "Heading Text"
          },
          {
            "type": "richtext",
            "id": "lead_txt_1",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "heading_txt_2",
            "label": "Heading Text"
          },
          {
            "type": "richtext",
            "id": "lead_txt_2",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "heading_txt_3",
            "label": "Heading Text"
          },
          {
            "type": "richtext",
            "id": "lead_txt_3",
            "label": "Lead Text"
          }
        ]
      },
      {
        "type": "blockExpect",
        "name": "FPO",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          }
        ]
      },
      {
        "type": "silder",
        "name": "Image Slider",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Select Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [{
              "value": "pink",
              "label": "pink"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "gray-100",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "pink"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "text",
          "id": "btn_txt_other",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_url_other",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "btn_type_other",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "btn_variant_other",
          "label": "Button Variant",
          "options": [{
              "value": "pink",
              "label": "pink"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "pink"
        },
        {
          "type": "select",
          "id": "btn_size_other",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
        ]
      }
    ]
  }
{% endschema %}