<div class="gift-wrapper" data-gift data-section-id="{{ section.id }}">
    <section class="section-content funnelSection">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            {% if section.settings.flow_text_title != blank %}
                <h2 class="text-center mb-0 pb-3 pb-md-4 pb-lg-6">{{ section.settings.flow_text_title }}</h2>
            {% endif %}
            {% if section.blocks.size > 0 %}
            <div class="row justify-content-center" data-choosePlan>
                {% for block in section.blocks %}
                    {% if block.type == 'pick_plan' %}
                        {% assign blockCol = block.settings.title | handleize %}
                        {% assign collection = collections[blockCol] %}
                        <div class="col-12 col-sm-6 col-lg-4 my-3 d-flex align-items-stretch justify-content-around">
                            <div class="card card-product text-left border-0 shadow rounded-0 position-relative">
                                {% if block.settings.link != blank %}
                                    <a href="{{block.settings.link}}?gift=1" @click.prevent="_getPickPlanOnGift('{{ collection.handle | escape }}')" value="{{ collection.handle | escape }}" data-pickPlan @change="_getPickPlan();" data-title="{{ collection.title | escape }}" data-id="{{ collection.id }}" name="pick-plan" class="linkWrap"></a>
                                {% endif %}
                                <div class="card-img product-img text-center border-0">  
                                    {% if block.settings.image != blank %}
                                        <img src="{{ block.settings.image | img_url:'400x' }}" alt="{{ block.settings.title }}" class="img-fluid" />
                                    {% endif %}
                                </div>
                                <div class="card-body p-3 p-md-5 p-lg-5 d-flex align-items-center justify-content-between text-center text-md-left">
                                    <a href="{{block.settings.link}}?gift=1">
                                        <h4 class="card-title m-0 display-3">{{ block.settings.title }}</h4>
                                    </a>
                                    <a href="{{block.settings.link}}?gift=1" class="h3 text-primary mb-0 arrow-icon">
                                        <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/blog-arrow-right.svg?3635258085882107044" alt="" class="mw-100" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
    <section class="section-content pb-4" style="background-color: {{ section.settings.section_bg_color }};"> 
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            {% if section.settings.heading_txt != blank %}
                <h2 class="text-center mb-0 pb-3 pb-md-4 pb-lg-6">{{ section.settings.heading_txt }}</h2>
            {% endif %}
            {% if section.blocks.size > 0 %}
            <div class="row justify-content-center">
                {% for block in section.blocks %}
                    {% if block.type == 'gift_box' %}
                        <div class="col-12 col-sm-6 col-lg-6 mt-3 d-flex align-items-stretch justify-content-around">
                            <div class="text-center position-relative {% cycle 'giftBoxOdd', 'giftBoxeven'%}">
                                <div class="description">{{block.settings.content}}</div>
                                {% if block.settings.image != blank %}
                                    <img src="{{ block.settings.image | img_url:'700x' }}" alt="{{ block.settings.title }}" class="img-fluid" />
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>

    <section class="section-content py-8" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.pastsection_bg_color }};">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            <div class="row">
                <div class="col-12 text-center mb-7">
                    {% if section.settings.title_txt != '' %}
                    <h2 class="section-title mb-2 mb-md-3 text-center">{{ section.settings.title_txt }}</h2>
                    {% endif %}
                    {% if section.settings.lead_txt != '' %}
                    <p class="lead px-lg-6 col-12 mx-auto col-md-10">
                        {{ section.settings.lead_txt }}
                    </p>
                    {% endif %}

                </div>
            </div>
        
            {% assign blocks_size = section.blocks | size %}
            {% if blocks_size > 0 %}
                <div class="works-plan row mt-2"  data-flickity='{
                    "contain": true,
                    "freeScroll": false,
                    "groupCells": "100%",
                    "cellAlign": "left",
                    "draggable": true,
                    "pageDots": false,
                    "arrowShape": {"x0": 20, "x1": 75, "y1": 50, "x2": 80, "y2": 40, "x3": 35}
                    }'>
                    {% for block in section.blocks %}                        
                        {% if block.type == 'content' %}
                            <div class="col-lg-4 col-sm-6 col-12"> 
                                <div class="card card-product text-center border-0 px-3 bg-transparent">
                                    <div class="card-img text-center border-0 d-block mb-2 mb-lg-0 pb-70">
                                        {% if block.settings.image != blank %}
                                            <img src="{{block.settings.image | img_url: '400x'}}" alt="{{ block.settings.heading_txt | escape }}" />
                                        {% endif %}
                                    </div>
                                    <div class="card-body pb-0 px-0">
                                        <h3 class="card-title mb-2 text-RobotoCondensed text-uppercase font-weight-normal">{{ block.settings.heading_txt }}</h3>
                                    </div>
                                </div>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </section>

    
    <section class="py-5 py-md-6 bg-gradient-primary" style="background-color: {{ section.settings.clinet_section_bg_color }};">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} py-6">
            <div class="row justify-content-center">
                <div class="col-12 col-md-11 col-lg-9 text-center">
                    {% if section.settings.title != '' %}
                        <h2 class="mb-lg-7 mb-md-6 mb-5 text-white">{{ section.settings.title | escape }}</h2>
                    {% endif %}
                    <div class="sliderOfClinet pb-lg-7 pb-md-6 pb-5" data-flickity='{
                        "contain": true,
                        "freeScroll": false,
                        "groupCells": "100%",
                        "cellAlign": "left",
                        "draggable": true, 
                        "prevNextButtons": false,
                        "adaptiveHeight": true, 
                        "pageDots": true
                        }'> 
                        {% for block in section.blocks %}
                        {% if block.type == 'flat' and block.settings.lead_txt != '' %}
                            <div class="w-100">                                
                                <p class="text-white font-size-lg mb-0 mb-lg-7 mb-md-6 mb-5">"{{ block.settings.lead_txt }}"</p>                                                                                           
                                {% if section.settings.btn_txt != blank %}
                                    <a href="{{ section.settings.btn_url }}" class="btn {% if section.settings.btn_variant == 'gray-100' %}btn-light{% endif %} {{ section.settings.btn_size }}">{{section.settings.btn_txt}}</a>
                                {% endif %}
                            </div>
                            {% endif %}  
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


{% for block in section.blocks %}
    {% if block.type == 'pick_plan' %}
        {% assign blockCol = block.settings.collection %}
        {% assign collection = collections[blockCol] %}

        <script type="application/json" data-product-subscribe-json id="{{ collection.handle | escape }}">
            {{ collection.products | json }}
        </script>
        {% for product in collections[blockCol].products %}
            {% if product.metafields.global.description_tag != blank %}
            <script type="application/json" data-{{product.handle}}-json>
                {{ product.metafields.global.description_tag }}
            </script>
            {% endif %}
            <script type="application/json" data-{{product.handle}}-subscribe-json>[{ {% for field in product.metafields.subscriptions %}"{{ field | first }}": "{{ field | last }}"{% unless forloop.last %},{% endunless %}{% endfor %} }]</script>
            {% for variant in product.variants %}
                {% if variant.metafields.subscription.charge_internal_frequency != blank %}
                    <script type="application/json" data-{{variant.id}}-charge-frq-json>
                        {{ variant.metafields.subscription.charge_internal_frequency | json }}
                    </script>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endfor %}



{% schema %}
{
    "name": "Gift Content",
    "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "checkbox",
          "id": "fluid_layout",
          "label": "Full Width Layout?",
          "default": false
        },
        {
            "type": "text",
            "id": "flow_text_title",
            "label": "Pick Heading"
        },
        {
          "type": "header",
          "content": "Gift Box"
        },
        {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "header",
            "content": "Styling"
        },
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#f1f2f2"
        },
        
        {
          "type": "header",
          "content": "Past Bloomsies"
        },
        {
            "type": "text",
            "id": "title_txt",
            "label": "Heading Text"
        },
        {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
        },
        {
            "type": "header",
            "content": "Styling"
        },
        {
            "type": "color",
            "id": "pastsection_bg_color",
            "label": "Background Color",
            "default": "#f1f2f2"
        },
        {
          "type": "header",
          "content": "Client Saying"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading Text"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "color",
          "id": "clinet_section_bg_color",
          "label": "Background Color",
          "default": "#f8f9fa"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [{
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "gray-100",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
    ],
    "blocks":  [
        {
            "type": "pick_plan",
            "name": "Pick Your Plan",
            "limit": 2,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "gift_box",
            "name": "Gift Box",
            "limit": 2,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "Content"
                }
            ]
        },
        {
            "type": "content",
            "name": "Block Content",
            "settings": [
                {
                    "type": "header",
                    "content": "Content"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "text",
                    "id": "heading_txt",
                    "label": "Heading Text"
                }
            ]
        },
        {
            "type": "flat",
            "name": "Client Saying",  
            "settings": [
                {      
                    "type": "header",
                    "content": "Content"
                },
                {
                    "type": "textarea",
                    "id": "lead_txt",
                    "label": "Lead Text"
                }
            ]
        }
    ]
}
{% endschema %}