<div class="section-content pb-5">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} text-center">
        {% if section.settings.heading_txt != blank %}
            <h1 class="mb-2">{{ section.settings.heading_txt }}</h1>
        {% endif %}
        {% if section.settings.lead_txt != blank %}
        <h4 class="text-transform-none">{{ section.settings.lead_txt }}</h4>
        {% endif %}
    </div>
</div>
<div class="occasions-section  pb-7">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} text-center">
        <div class="row">
            {% for block in section.blocks %}
                {% if block.settings.image != blank %}
                <div class="col-12 col-sm-6 col-md-4 my-3">
                    <a href="{{ block.settings.link }}" class="occasion-box product-img pb-100 position-relative">
                        <img src="{{ block.settings.image | img_url:'500x' }}" alt="" class="w-100 h-100 object-fit-cover" />
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<section class="py-10 bg-gradient-primary">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} py-lg-6">
        <div class="row justify-content-center">
            <div class="col-12 col-md-11 col-lg-8 px-lg-8 text-center">
                {% if section.settings.content_heading_txt != blank %}
                    <h2 class="text-white mb-3">{{ section.settings.content_heading_txt }}</h2>
                {% endif %}
                {% if section.settings.content_sub_heading_txt != blank %}
                    <h4 class="text-white mb-6 text-transform-none">{{ section.settings.content_sub_heading_txt }}</h4>
                {% endif %}
                {% if section.settings.btn_txt != blank %}
                <a href="{{ section.settings.btn_url }}" class="btn {% if section.settings.btn_variant == 'light' %}text-primary{% endif %} btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }}">{{section.settings.btn_txt}}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "Occasions",
  "settings": [
      
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_header",
        "label": "Full Width Header?",
        "default": false
      },
      {
          "type": "text",
          "id": "heading_txt",
          "label": "Heading Text"
      },
      {
          "type": "textarea",
          "id": "lead_txt",
          "label": "Lead Text"
      },
      {
            "type": "header",
            "content": "Text with Button"
          },
          {
            "type": "text",
            "id": "content_heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "text",
            "id": "content_sub_heading_txt",
            "label": "SubHeading Text"
          },
          {
            "type": "richtext",
            "id": "content_lead_txt",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "btn_txt",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "select",
            "id": "btn_type",
            "label": "Button Type",
            "options": [{
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "",
                "label": "Solid"
              }
            ],
            "default": "outline"
          },
          {
            "type": "select",
            "id": "btn_variant",
            "label": "Button Variant",
            "options": [{
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "gray-900",
                "label": "Dark"
              }
            ],
            "default": "primary"
          },
          {
            "type": "select",
            "id": "btn_size",
            "label": "Button Size",
            "options": [{
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn-sm",
                "label": "Small"
              },
              {
                "value": "btn-lg",
                "label": "Large"
              }
            ],
            "default": ""
          }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Block Content",
      "settings": [
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}