
{% if section.settings.banner_enabled %}
<section class="bg-gradient-primary py-md-9 position-relative office-banner-from"  data-section-id="{{ section.id }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
    <div class="right-half">
        {% if section.settings.enable_overlay %}
            <div class="overlay" style="background-color: {{ section.settings.overlay_bg_color }}; opacity: {{section.settings.overlay_opacity}};"></div>
        {% endif %}
        <div class="w-100 h-100 d-block" style="background: url({{ section.settings.banner_img | img_url: '1920x'}}) no-repeat;background-size: cover;"></div>
    </div>
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row align-items-center">
            <div class="col-12 {% if section.settings.enable_form %}col-md-6 text-md-left{% endif %} py-4 py-md-0 text-center  office-decoration-part position-relative" style="background: url({{ section.settings.banner_img | img_url: '1920x'}}) no-repeat;background-size: cover;">
                {% if section.settings.enable_overlay %}
                    <div class="overlay" style="background-color: {{ section.settings.overlay_bg_color }}; opacity: {{section.settings.overlay_opacity}};"></div>
                {% endif %}
                <div class="office-decoration-text text-left">
                    {% if section.settings.heading_txt != '' %}
                        <h1 class="display-4 text-white mb-4">{{ section.settings.heading_txt | escape }}</h1>
                    {% endif %}
                    <hr class="bg-white w-75 ml-md-0 my-4 my-md-6 d-inline-block" />
                    {% if section.settings.sub_heading_txt != '' %}
                        <h4 class="display-3 text-white mb-3">{{ section.settings.sub_heading_txt | escape }}</h4>
                    {% endif %}
                    {% if section.settings.lead_txt != '' %}
                        <p class="text-white">{{ section.settings.lead_txt }}</p>
                    {% endif %}
                    {% if section.settings.btn_txt != blank %}
                    <a href="{{ section.settings.btn_url }}" class="btn {% if section.settings.btn_variant == 'light' %}text-primary{% endif %} btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }}">{{section.settings.btn_txt}}</a>
                    {% endif %}
                </div>
            </div>
            {% if section.settings.enable_form %}
            <div class="col-12 col-md-6 py-4 py-md-0">
                <div class="row justify-content-end">
                    <div class="col-12 col-lg-11 pl-xl-4">
                            <div style="margin:0 auto;" class="pxFormGenerator" id="ixq7XLNch8v6g_4vhjCjGw"></div>
                            {% comment %} <form>
                                <div class="form-row">
                                    <div class="col-12 col-sm-6 py-3">
                                        <input type="text" class="form-control border-0 secondary-placeholder" placeholder="First name" />
                                    </div>
                                    <div class="col-12 col-sm-6 py-3">
                                        <input type="text" class="form-control border-0 secondary-placeholder" placeholder="Last Name" />
                                    </div>
                                    <div class="col-12 col-sm-6 py-3">
                                        <input type="text" class="form-control border-0 secondary-placeholder" placeholder="Company" />
                                    </div>
                                    <div class="col-12 col-sm-6 py-3">
                                        <input type="text" class="form-control border-0 secondary-placeholder" placeholder="Phone" />
                                    </div>
                                    <div class="col-12 py-3">
                                        <input type="email" class="form-control border-0 secondary-placeholder" placeholder="Email" />
                                    </div>
                                    <div class="col-12 py-3">
                                        <textarea rows="4" class="form-control border-0 secondary-placeholder" placeholder="Comments"></textarea>
                                    </div>
                                    <div class="col-12 py-3 text-center text-md-right">
                                        <button type="submit" class="btn btn-sm px-6 btn-outline-light">Submit</button>
                                    </div>
                                </div>
                            </form> {% endcomment %}
                    </div>
                </div>
                
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}

<section class="section-content bg-gray-100">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="works-plan row" data-flickity='{
            "contain": true,
            "freeScroll": false,
            "groupCells": "100%",
            "cellAlign": "left",
            "draggable": true,
            "pageDots": false,
            "arrowShape": {"x0": 20, "x1": 75, "y1": 50, "x2": 80, "y2": 40, "x3": 35}
            }'>
            {% for block in section.blocks %}  
                {% if block.type == 'content' %}
                    <div class="col-lg-3 col-md-3 col-sm-6 card text-center border-0 px-3 bg-transparent">
                        <div class="card-img text-center d-flex justify-content-center mb-5 mb-lg-7">
                            {% if block.settings.img_svg != blank %}
                                <img src="{{ block.settings.img_svg }}" alt="{{ block.settings.heading_txt | escape }}" class="h-100"/>
                            {% else %}
                                <img
                                data-sizes="100vw"
                                src="{{ block.settings.image | img_url: 'small'}}"
                                data-srcset="
                                {{ block.settings.image | img_url: '1024x' }} 576w,
                                {{ block.settings.image | img_url: '1280x' }} 768w,
                                {{ block.settings.image | img_url: '1440x' }} 992w,
                                {{ block.settings.image | img_url: '1920x' }} 1200w"
                                class="lazyload img-fluid h-100" alt="{{ block.settings.heading_txt | escape }}" />
                            {% endif %}
                        </div> 
                        <div class="card-body p-0">
                            <h4 class="card-title px-xl-6">{{ block.settings.heading_txt | escape }}</h4>
                            {% if block.settings.lead_txt != '' %}
                                <p class="px-xl-7 mb-0">{{ block.settings.lead_txt }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>  


<section class="section-content office-flower-section">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 col-md-7 text-center">   
                {% if section.settings.sub_flower_heading_txt != '' %}
                    <h4 class="display-3">{{ section.settings.sub_flower_heading_txt | escape }}</h4>
                {% endif %}
                {% if section.settings.flower_heading_txt != '' %}
                    <h2 class="mb-2">{{ section.settings.flower_heading_txt | escape }}</h2>
                {% endif %}
                {% if section.settings.flower_lead_txt != '' %}
                    <p class="mb-5">{{ section.settings.flower_lead_txt }}</p>
                {% endif %}
                <div class="row align-items-center justify-content-center">
                    {% for block in section.blocks %}  
                        {% if block.type == 'officeBox' %}
                        <div class="col-6 col-sm-3 col-lg-3 text-center mb-sm-0 mb-4">  
                            <div class="product-img pb-100 rounded-circle shadow-lg mb-md-4 mb-2">   
                                 <img
                                    data-sizes="100vw"
                                    src="{{ block.settings.image | img_url: 'small'}}"
                                    data-srcset="
                                    {{ block.settings.image | img_url: '1024x' }} 576w,
                                    {{ block.settings.image | img_url: '1280x' }} 768w,
                                    {{ block.settings.image | img_url: '1440x' }} 992w,
                                    {{ block.settings.image | img_url: '1920x' }} 1200w"
                                    class="lazyload h-100 position-absolute l-0 t-0 r-0 b-0 m-auto mw-100" alt="{{ block.settings.heading_txt | escape }}" /> 
                            </div>
                            <h4 class="mb-0">{{ block.settings.heading_txt }}</h4>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-6 office-flower mx-auto mt-md-0 mt-5">
                <div class="product-img d-flex justify-content-center">
                    <img src="{{ section.settings.flower_img }}" alt="" class="img-fluid" />
                    <img
                        data-sizes="100vw"
                        src="{{ section.settings.flower_img | img_url: 'small'}}"
                        data-srcset="
                        {{ section.settings.flower_img | img_url: '1024x' }} 576w,
                        {{ section.settings.flower_img | img_url: '1280x' }} 768w,
                        {{ section.settings.flower_img | img_url: '1440x' }} 992w,
                        {{ section.settings.flower_img | img_url: '1920x' }} 1200w"
                        class="lazyload img-fluid h-100" alt="{{ section.settings.flower_heading_txt | escape }}" />
                </div>
            </div>
        </div>
    </div>
</section>


{% for block in section.blocks %}
    {% if block.type == 'flat' %}
    <section class="py-5 py-md-10 bg-gradient-primary" style="background-color: {{ block.settings.section_bg_color }}; color: {{ block.settings.section_txt_color }}">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %} py-6">
            <div class="row justify-content-center">
                <div class="col-12 col-md-11 col-lg-9 px-lg-8 text-center">
                    {% if block.settings.heading_txt != '' %}
                        <h2 class="mb-2 text-white">{{ block.settings.heading_txt | escape }}</h2>
                    {% endif %}
                    {% if block.settings.lead_txt != '' %}
                        <p class="mb-6 text-white">{{ block.settings.lead_txt }}</p>
                    {% endif %}
                    <div class="d-flex align-items-center justify-content-center">
                        {% if block.settings.btn_txt != blank %}
                        <a href="{{ block.settings.btn_url }}" class="btn px-md-9 {% if block.settings.btn_variant == 'light' %}{% endif %} btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{{block.settings.btn_txt}}</a>
                        {% endif %}
                        {% if block.settings.btn_txt_other != blank %}
                        <a href="{{ block.settings.btn_url_other }}" class="btn px-md-9 btn{% if block.settings.btn_type_other == 'outline' %}-{% endif %}{{ block.settings.btn_type_other }}-{{ block.settings.btn_variant_other }} {{ block.settings.btn_size_other }}">{{block.settings.btn_txt_other}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Office Box",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "checkbox",
            "id": "fluid_layout",
            "label": "Full Width Layout?",
            "default": false
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "checkbox",
          "id": "enable_overlay",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "color",
          "id": "overlay_bg_color",
          "label": "Overlay Background Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay Opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "default": 0.6
        },
        {
            "type": "header",
            "content": "Banner"
        },
        {
            "type": "checkbox",
            "id": "banner_enabled",
            "label": "Show Banner?",
            "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_form",
          "label": "Form Enabled?",
          "default": true
        },
        {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Select Image"
        },
        {
            "type": "text",
            "id": "sub_heading_txt",
            "label": "Sub Heading Text"
        },
        {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "Background Color",
          "default": "#f8f9fa"
        },
        {
          "type": "color",
          "id": "section_txt_color",
          "label": "Text Color",
          "default": "#212529"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [{
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "gray-100",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
            "type": "header",
            "content": "Flower Box"
        },
        {
            "type": "image_picker",
            "id": "flower_img",
            "label": "Select Image"
        },
        {
            "type": "text",
            "id": "sub_flower_heading_txt",
            "label": "Sub Heading Text"
        },
        {
            "type": "text",
            "id": "flower_heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "textarea",
            "id": "flower_lead_txt",
            "label": "Lead Text"
        }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Block Content",
        "limit": 4,
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "text",
            "id": "img_svg",
            "label": "SVG image"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          }
        ]
      },
      {
        "type": "officeBox",
        "name": "Flower Box",
        "limit": 4,
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          }
        ]
      },
      {
        "type": "flat",
        "name": "Flat",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "sub_heading_txt",
            "label": "SubHeading Text"
          },
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "btn_txt",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#f8f9fa"
          },
          {
            "type": "color",
            "id": "section_txt_color",
            "label": "Text Color",
            "default": "#343a40"
          },
          {
            "type": "select",
            "id": "btn_type",
            "label": "Button Type",
            "options": [{
                "value": "outline",
                "label": "Outline"
              },
              {
                "value": "",
                "label": "Solid"
              }
            ],
            "default": "outline"
          },
          {
            "type": "select",
            "id": "btn_variant",
            "label": "Button Variant",
            "options": [{
                "value": "primary",
                "label": "Primary"
              },
              {
                "value": "secondary",
                "label": "Secondary"
              },
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "gray-900",
                "label": "Dark"
              }
            ],
            "default": "primary"
          },
          {
            "type": "select",
            "id": "btn_size",
            "label": "Button Size",
            "options": [{
                "value": "",
                "label": "Default"
              },
              {
                "value": "btn-sm",
                "label": "Small"
              },
              {
                "value": "btn-lg",
                "label": "Large"
              }
            ],
            "default": ""
          }
        ]
      }
    ]
  }
{% endschema %}