{% if section.settings.banner_enabled %}
<section class="main-banner-section gift-banner position-relative">
    <div class="position-relative gift-banner-height">
        {% if section.settings.enable_overlay %}
            <div class="overlay" style="background-color: {{ section.settings.overlay_bg_color }}; opacity: {{section.settings.overlay_opacity}};"></div>
        {% endif %}
        <img
            data-sizes="auto"
            src="{{ section.settings.banner_img | img_url: 'small'}}"
            data-srcset="
            {{ section.settings.banner_img | img_url: '1024x' }} 576w,
            {{ section.settings.banner_img | img_url: '1280x' }} 768w,
            {{ section.settings.banner_img | img_url: '1440x' }} 992w,
            {{ section.settings.banner_img | img_url: '1920x' }} 1200w"
            class="lazyload img-fluid h-100 object-fit-cover" alt="{{ section.settings.heading_txt | escape }}" />
    </div>
    <div class="container banner-cation">
        <div class="row justify-content-end">
            <div class="col-12 col-md-7 col-xl-5 py-6 py-md-0 text-center">
                {% if section.settings.sub_heading_txt != '' %}
                        <h3 class="mb-2 mb-md-3 text-RobotoCondensed font-weight-normal text-uppercase">{{ section.settings.sub_heading_txt | escape }}</h3>
                {% endif %}
                {% if section.settings.title != '' %}
                    <h1 class="mb-2 mb-md-4  display-4">{{ section.settings.title | escape }}</h1>
                {% endif %}
                {% if section.settings.lead_txt != '' %}
                    <div class="leadTxt mb-0 px-3">{{ section.settings.lead_txt }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Gift Banner",
  "settings": [
      {
        "type": "header",
        "content": "Overlay"
      },
      {
        "type": "checkbox",
        "id": "enable_overlay",
        "label": "Enabled?",
        "default": true
      },
      {
        "type": "color",
        "id": "overlay_bg_color",
        "label": "Overlay Background Color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay Opacity",
        "min": 0.1,
        "max": 1,
        "step": 0.1,
        "default": 0.6
      },
      {
          "type": "header",
          "content": "Banner"
      },
      {
          "type": "checkbox",
          "id": "banner_enabled",
          "label": "Show Banner?",
          "default": true
      },
      {
          "type": "image_picker",
          "id": "banner_img",
          "label": "Select Image"
      },
      {
          "type": "text",
          "id": "sub_heading_txt",
          "label": "Sub Heading Text"
      },
      {
          "type": "text",
          "id": "title",
          "label": "Heading Text"
      },
      {
          "type": "richtext",
          "id": "lead_txt",
          "label": "Lead Text"
      }
  ]
}
{% endschema %}