<div class="col_blks text-center section-content" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
  <div class="container">
    <h2 class="text-secondary h1 text-roboto font-weight-bold text-transform-none">{{ section.settings.blk_heading }}</h2>
    <h4 class="text-secondary">{{ section.settings.sml_heading }}</h4>
    {% if section.blocks.size > 0 %}
        <div class="clctn-clk">
            <div class="row">
                {% for block in section.blocks %}
                    <div class="col-md-4 col-sm-4 mb-5">
                        <div class="img-txt">
                            <div class="blk-imgss">
                                <img src="{{ block.settings.blk_img | img_url:"original" }}">
                                {% if block.settings.blk_logo != blank %}
                                    <img class="col-logoimg" src="{{ block.settings.blk_logo | img_url:"original" }}">
                                    <span class="img-ovrlyr"></span>
                                {% endif %}
                            </div>
                            <div class="wht-btm">
                                <p class="bh-btr-blm text-Roboto">{{ block.settings.first_head }}</p>
                                <p class="btm-txt text-Roboto">{{ block.settings.para }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
  </div>
</div>

<!--<div class="col_blks bigger-blooms-alt text-center" style="background: url('{{ section.settings.bloom_img | img_url:"original" }}') no-repeat 0 0; background-size: contain; background- color: {{ section.settings.section_txt_color }}">
  <div class="blooms-container shadow-lg">
    <h2 class="text-secondary h1 text-roboto font-weight-bold text-transform-none">{{ section.settings.blk_heading }}</h2>
    <h4 class="text-secondary">{{ section.settings.sml_heading }}</h4>
    {% if section.blocks.size > 0 %}
        <div class="clctn-clk">
            <div class="row">
                {% for block in section.blocks %}
                  <div class="row-blooms">
                    {% if block.settings.row_icon != blank %}
                    <img src="{{ block.settings.row_icon | img_url:"original" }}">
                    {% endif %}
                    <p class="text-Roboto"><strong>{{ block.settings.first_head }}:</strong> {{ block.settings.para }}</p>
                  </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <a class="btn btn-primary" href="/pages/subscribe">Get Started</a>
  </div>
</div>-->




{% schema %}
  {
    "name": "Collection Blocks",
    "settings": [
        {
            "type":"text",
            "id":"blk_heading",
            "label":"Heading"
        },
        {
            "type":"text",
            "id":"sml_heading",
            "label":"Small Heading"
        },
        {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
        },
        {
            "type": "image_picker",
            "id": "bloom_img",
            "label": "Background Image"
        },
        {
            "type": "header",
            "content": "Styling"
        },
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#f8f9fa"
        },
        {
            "type": "color",
            "id": "section_txt_color",
            "label": "Text Color",
            "default": "#343a40"
        }
    ],
   "blocks": [
    {
        "type": "image",
        "name": "Image slide",
        "settings": [
            {
                "type":"image_picker",
                "id":"blk_img",
                "label":"Image"
            },
            {
                "type":"image_picker",
                "id":"blk_logo",
                "label":"Logo Image"
            },
            {
                "type":"image_picker",
                "id":"row_icon",
                "label":"Alternate Icon Image"
            },
            {
                "type":"text",
                "id":"first_head",
                "label":"Heading"
            },
            {
                "type":"textarea",
                "id":"para",
                "label":"Paragraph"
            }
        ]
    }
  ],
    "presets": [
      {
        "name": "Martha Blocks",
        "category": "Blocks"
      }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
