{% assign total_items = section.settings.instagram_view  %}

<section data-section-id="{{ section.id }}" data-instafeed data-instagram-access-token="{{ section.settings.instagram_token }}" class="section-instagram-feed connect-follow-section pb-0 {% if section.settings.section_padding %}section-content{% endif %}" style="background-color: {{ section.settings.section_bgcolor }}; color: {{ section.settings.section_color }}">
  <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">

    {% if section.settings.instagram_heading_txt != '' %}
    <div class="d-md-flex align-items-end justify-content-between mb-4 mb-xl-5 text-center text-md-left">
        <div class="d-md-flex align-items-center connect-text">
            <h2 class="mr-2 mb-0">{{ section.settings.instagram_heading_txt }}</h2>
            <h2 class="font-weight-normal text-RobotoCondensed text-capitalize font-italic mb-3 mb-md-0">{{ section.settings.instagram_sub_heading_txt }}</h2>
        </div>
        <h4 class="mb-2">{{ section.settings.instagram_caption_txt }}</h4>
    </div>
    {% endif %}

    {% if section.settings.instagram_token != '' %}
      {% comment %} <div id="instafeed" class="row justify-content-center inst-row {% if section.settings.section_no_gutters %}no-gutters{% endif %}" data-feed-limit="{{ total_items }}"></div> {% endcomment %}

      <vue-instagram token="{{ section.settings.instagram_token }}" :count="{{ section.settings.instagram_view  }}" class="row justify-content-center inst-row {% if section.settings.section_no_gutters %}no-gutters{% endif %}">
        <template slot="feeds" slot-scope="props">
            <div class="instagram-item d-flex align-items-stretch justify-content-around col-6 col-md-3 inst-filed-col">
              <a :href="props.feed.link" target="_blank" :title="props.feed.user.full_name" rel="noreferrer" class="inst-filed shadow-1">
                <div class="overlay d-flex align-items-center justify-content-center">
                  <div class="p-lg-6 p-md-4 p-3 w-100 text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                      <h5 class="text-white mb-0 mr-4"><i class="far fa-heart mr-2"></i> ${ props.feed.likes.count }</h5>
                      <h5 class="text-white mb-0"><i class="far fa-comment mr-2"></i> ${ props.feed.comments.count }</h5>
                    </div>
                    <p class="mb-0 text-white instgram-text"> ${ props.feed.caption.text } </p> 
                  </div>
                </div>
                <img :src="props.feed.images.standard_resolution.url"/>
              </a>
            </div>
        </template>
        <template slot="error" slot-scope="props" v-if="props.error">
          <div class="alert alert-warning" role="alert"> ${ props.error.error_message } </div>
        </template>
      </vue-instagram>
    {% else %}
      <div class="row">
        {% comment %} dummy content {% endcomment %}
        {% for i in (1..6) %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            <div class="col-4 col-lg-2"><a>{{'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg'}}</a></div>
        {% endfor %}
      </div>
    {% endif %}

    {% if section.settings.show_profile_link %}
    <div class="row {% unless section.settings.section_padding %}pb-4{% endunless %}">
      <div class="col text-center">
        <p class="lead mt-4 {% if section.settings.section_padding %}mb-0{% else %}mb-4{% endif %}">Follow <a href="https://www.instagram.com/{{section.settings.instagram_username}}" target="_blank" style="color: {{ section.settings.section_color }}">@{{section.settings.instagram_username}}</a> on Instagram</p>
      </div>
    </div>
    {% endif %}

  </div>
</section>




{% schema %}
  {
    "name": "Instagram Feed",
    "class": "index-instagram-feed",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "section_padding",
        "label": "Section Padding?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "section_no_gutters",
        "label": "No Gutters?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_profile_link",
        "label": "Show Profile Link?",
        "default": true
      },
      {
        "type": "range",
        "id": "instagram_view",
        "label": "Total Items to Show",
        "min": 0,
        "max": 48,
        "step": 1,
        "default": 12
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "instagram_heading_txt",
        "label": "Heading Text"
      },
      {
        "type": "text",
        "id": "instagram_sub_heading_txt",
        "label": "Sub Heading Text"
      },
      {
        "type": "textarea",
        "id": "instagram_caption_txt",
        "label": "Caption Text"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bgcolor",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "section_color",
        "label": "Text Color"
      },
      {
        "type": "header",
        "content": "Account Info"
      },
      {
        "type": "text",
        "id": "instagram_username",
        "label": "Username",
        "info": "Instagram username without the '@' symbol."
      },
      {
        "type": "text",
        "id": "instagram_token",
        "label": "Access Token [( ? )](\/\/goo.gl\/OypFlG)"
      }
    ],
    "presets": [
      {
        "name": "Instagram Feed",
        "category": "Content"
      }
    ]
  }
{% endschema %}
