{% if section.settings.enabled %}

<section data-section-id="{{ section.id }}" class="header-slider carousel-full {{section.settings.height}} {% if section.settings.is_hidden_on_mobile %}d-none d-sm-block{% endif %}">
  <div class="carousel"
        data-header-slider
        data-flickity='{
            "adaptiveHeight": false,
            "contain": false,
            "wrapAround": false,
            "accessibility": true,
            "dragThreshold": 20,
            "lazyLoad": false,
            "prevNextButtons": {{section.settings.nav_arrows}},
            "pageDots": {{section.settings.nav_dots}},
            {% if section.settings.auto_play > 0 %}"autoPlay": {{section.settings.auto_play}}000,{% endif %}
            "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
          }'>

  	 {% for block in section.blocks limit: section.blocks.limit %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}

        <div class="carousel-cell" {{ block.shopify_attributes }}
            data-block-id="{{ block.id }}"
            data-slide-type="{% if block.type == 'video' %}video{% else %}image{% endif %}">

          {% if block.type == 'image' %}
            {% if block.settings.image == blank %}
              {{'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg'}}
            {% else %}
              <img
                data-sizes="auto"
                src="{{ block.settings.image | img_url: 'small'}}"
                data-srcset="
                  {{ block.settings.image | img_url: '1024x' }} 576w,
                  {{ block.settings.image | img_url: '1280x' }} 768w,
                  {{ block.settings.image | img_url: '1440x' }} 992w,
                  {{ block.settings.image | img_url: '1920x' }} 1200w
                  "
                class="lazyload d-none d-md-block w-100" alt="{{ block.settings.heading | escape }}" />
                <img
                data-sizes="auto"
                src="{{ block.settings.mobile_image | img_url: 'small'}}"
                data-srcset="
                  {{ block.settings.mobile_image | img_url: '1024x' }} 576w,
                  {{ block.settings.mobile_image | img_url: '1280x' }} 768w,
                  {{ block.settings.mobile_image | img_url: '1440x' }} 992w,
                  {{ block.settings.mobile_image | img_url: '1920x' }} 1200w
                  "
                class="lazyload d-block d-md-none w-100" alt="{{ block.settings.heading | escape }}" />
            {% endif %}
          {% endif %}

          {% if block.type == 'video' %}
            <div class="video-container d-none d-md-block w-100">
              <div data-video-slide data-video-id="{{ block.settings.video_id }}"></div>
            </div>
            {% comment %} Video fallbacks as image for mobile {% endcomment %}
            <img
              data-sizes="auto"
              src="{{ block.settings.video_image_fallback | img_url: 'large' }}"
              data-srcset="{{ block.settings.video_image_fallback | img_url: '1024x' }} 576w,"
              class="lazyload d-md-none"
              alt="{{ block.settings.heading | escape }}"
              />
          {% endif %}
          
          <h3 class="heading-txt-alt heading-txt display-4" style="font-size: {{block.settings.heading_font_size}}rem; font-weight: {{block.settings.heading_font_weight}}; letter-spacing: {{block.settings.heading_spacing}}px; color: {{block.settings.heading_txt_color}};">{{ block.settings.heading | escape }}</h3>
          <h4 class="sub-txt-alt mb-4 mb-lg-6">{{block.settings.sub_heading}}</h4>

          {% if block.settings.heading !=  blank or block.settings.caption !=  blank %}
          <div class="slider-content justify-content-center t-50 transform-t-50 pt-6 pb-3 pt-md-0 pb-md-0">
            <div class="container {{block.settings.alignment}}">
              <div class="row">
              <div class="col-12 col-md-9 col-lg-7 col-xl-5 text-center mx-auto">
                  <h3 class="heading-txt display-4" style="font-size: {{block.settings.heading_font_size}}rem; font-weight: {{block.settings.heading_font_weight}}; letter-spacing: {{block.settings.heading_spacing}}px; color: {{block.settings.heading_txt_color}};">{{ block.settings.heading | escape }}</h3>
                  <h4 class="sub-txt mb-4 mb-lg-6">{{block.settings.sub_heading}}</h4>
                  <p class="caption-txt mb-4 mb-lg-7" style="font-size: {{ block.settings.caption_font_size }}rem; font-weight: {{block.settings.caption_font_weight}}; color: {{ block.settings.caption_txt_color }};">{{ block.settings.caption | escape }}</p>
                  <div class="d-flex align-items-center justify-content-center">
                    {% if block.settings.btn_txt != '' %}
                      <a {% if block.settings.btn_link %} href="{{ block.settings.btn_link }}" {% endif %} class="btn mr-3 mr-lg-4 btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{{ block.settings.btn_txt }}</a>
                    {% endif %}
					{% if block.settings.btn_txt_other != '' %}
                      <a {% if block.settings.btn_link_other %} href="{{ block.settings.btn_link_other }}" {% endif %} class="btn btn{% if block.settings.btn_type_other == 'outline' %}-{% endif %}{{ block.settings.btn_type_other }}-{{ block.settings.btn_variant_other }} {{ block.settings.btn_size_other }}">{{ block.settings.btn_txt_other }}</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          {% if block.settings.enable_overlay %}
            <div class="overlay" style="background-color: {{ block.settings.overlay_bg_color }}!important; opacity: {{block.settings.overlay_opacity}}!important; {% unless block.settings.overlay_pattern_img == 'none' %}background-image: url({{ block.settings.overlay_pattern_img | append: '.png' | asset_url }}){% endunless %} "></div>
          {% endif %}
        </div>
    {% endfor %}
  </div>
</section>
{% endif %}


{% schema %}
  {
    "name": "Header Slider",
    "max_blocks": 4,
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enabled?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "is_hidden_on_mobile",
        "label": "Hidden on Mobile?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "nav_arrows",
        "label": "Arrows Navigation",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "nav_dots",
        "label": "Dots Navigation",
        "default": true
      },
      {
        "type": "select",
        "id": "height",
        "label": "Slider Height",
        "options": [{
            "value": "shortheight",
            "label": "Short"
          },
          {
            "value": "tallheight",
            "label": "Tall"
          },
          {
            "value": "fullheight",
            "label": "Full Height"
          }
        ],
        "default": "tallheight"
      },
      {
        "type": "range",
        "id": "auto_play",
        "label": "Autoplay",
        "info": "Duration of animation between slides (in seconds). Select the value of 0 if you don't want the slider to autoplay.",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      }
    ],
    "blocks": [{
      "type": "image",
      "name": "Image Slide",
      "settings": [
        {
          "type": "header",
          "content": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Select mobile Image"
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "checkbox",
          "id": "enable_overlay",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "color",
          "id": "overlay_bg_color",
          "label": "Overlay Background Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay Opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "default": 0.5
        },
        {
          "type": "select",
          "id": "overlay_pattern_img",
          "label": "Overlay Pattern Image",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "overlay-pattern-1",
              "label": "Pattern 1"
            },
            {
              "value": "overlay-pattern-2",
              "label": "Pattern 2"
            },
            {
              "value": "overlay-pattern-3",
              "label": "Pattern 3"
            },
            {
              "value": "overlay-pattern-4",
              "label": "Pattern 4"
            },
            {
              "value": "overlay-pattern-5",
              "label": "Pattern 5"
            },
            {
              "value": "overlay-pattern-6",
              "label": "Pattern 6"
            },
            {
              "value": "overlay-pattern-7",
              "label": "Pattern 7"
            }
          ],
          "default": "none"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [{
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-center"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub Heading"
        },
        {
          "type": "textarea",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "header",
          "content": "Heading - Typography"
        },
        {
          "type": "color",
          "id": "heading_txt_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 2
        },
        {
          "type": "range",
          "id": "heading_font_weight",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 600
        },
        {
          "type": "range",
          "id": "heading_spacing",
          "min": 0,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "Letter Spacing",
          "default": 0
        },
        {
          "type": "header",
          "content": "Caption - Typography"
        },
        {
          "type": "color",
          "id": "caption_txt_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "caption_font_size",
          "min": 1,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 1
        },
        {
          "type": "range",
          "id": "caption_font_weight",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "primary"
            },
            {
              "value": "dark",
              "label": "dark"
            },
            {
              "value": "light",
              "label": "light"
            }
          ],
          "default": "light"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "text",
          "id": "btn_txt_other",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link_other",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "btn_type_other",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant_other",
          "label": "Button Variant",
          "options": [
            {
              "value": "secondary",
              "label": "secondary"
            },
            {
              "value": "dark",
              "label": "dark"
            },
            {
              "value": "light",
              "label": "light"
            }
          ],
          "default": "light"
        },
        {
          "type": "select",
          "id": "btn_size_other",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
      ]
    },
    {
      "type": "video",
      "name": "Video Slide",
      "settings": [
        {
          "type": "header",
          "content": "Background Video"
        },
        {
          "type": "select",
          "id": "video_provider",
          "label": "Video Provider",
          "options": [
            {
              "value": "youtube",
              "label": "YouTube"
            }
          ],
          "default": "youtube"
        },
        {
          "type": "text",
          "id": "video_id",
          "label": "Video Id"
        },
        {
          "type": "image_picker",
          "id": "video_image_fallback",
          "label": "Select Image Fallback for Mobile"
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "checkbox",
          "id": "enable_overlay",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "color",
          "id": "overlay_bg_color",
          "label": "Overlay Background Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay Opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "default": 0.5
        },
        {
          "type": "select",
          "id": "overlay_pattern_img",
          "label": "Overlay Pattern Image",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "overlay-pattern-1",
              "label": "Pattern 1"
            },
            {
              "value": "overlay-pattern-2",
              "label": "Pattern 2"
            },
            {
              "value": "overlay-pattern-3",
              "label": "Pattern 3"
            },
            {
              "value": "overlay-pattern-4",
              "label": "Pattern 4"
            },
            {
              "value": "overlay-pattern-5",
              "label": "Pattern 5"
            },
            {
              "value": "overlay-pattern-6",
              "label": "Pattern 6"
            },
            {
              "value": "overlay-pattern-7",
              "label": "Pattern 7"
            }
          ],
          "default": "none"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [{
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-center"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "header",
          "content": "Heading - Typography"
        },
        {
          "type": "color",
          "id": "heading_txt_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 2
        },
        {
          "type": "range",
          "id": "heading_font_weight",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 600
        },
        {
          "type": "range",
          "id": "heading_spacing",
          "min": 0,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "Letter Spacing",
          "default": 0
        },
        {
          "type": "header",
          "content": "Caption - Typography"
        },
        {
          "type": "color",
          "id": "caption_txt_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "caption_font_size",
          "min": 1,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 1
        },
        {
          "type": "range",
          "id": "caption_font_weight",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "primary"
            },
            {
              "value": "dark",
              "label": "dark"
            },
            {
              "value": "light",
              "label": "light"
            }
          ],
          "default": "light"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
      ]
    }],
    "default": {
      "settings": {},
      "blocks": [{
          "type": "image"
        }
      ]
    }
  }
{% endschema %}
