<section class="section-content weekly-section-alt weekly-section d-none" data-section-id="{{ section.id }}" style="background:#ececec !important; color:#353a3f;">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            <div class="col-16 col-md-12">
                <div class="row weekly-content">
                    <div class="col-12 col-lg-12 py-sm-4 pb-3 pb-md-0 text-center text-md-left">
                        {% if section.settings.heading_txt != '' %}
                        <h2 class="mb-3">{{ section.settings.heading_txt | escape }}</h2>
                        {% endif %}

                        {% if section.settings.lead_txt != '' %}
                        <p class="font-size-lg uppercase">Enjoy fresh flowers every single week</p>
                      <ul class="weekly-list font-size-lg">
                        <li><img width="16" src="//cdn.shopify.com/s/files/1/0084/0617/1763/t/35/assets/icon-check.png?122770"> Ideal for keeping any space beautiful & bright week after week.</li>
                        <li><img width="16" src="//cdn.shopify.com/s/files/1/0084/0617/1763/t/35/assets/icon-check.png?122770"> Simplify your life by saving trips to the store.</li>
                        <li><img width="16" src="//cdn.shopify.com/s/files/1/0084/0617/1763/t/35/assets/icon-check.png?122770"> Enjoy the beauty that farm-fresh flowers bring into your home.</li>
                      </ul>
                        {% endif %}
                        {% if section.settings.btn_txt != blank %}
                        <a href="{{ section.settings.btn_url }}" class="btn btn-primary px-md-7">Get Started</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="deliveries-second align-items-stretch justify-content-around">
                      <div class="banner-img2 position-relative shadow-lg">
                        <img src="//cdn.shopify.com/s/files/1/0084/0617/1763/t/35/assets/img-weekly_deliveries-01.jpg?122770">
                      </div>
                    </div>
                    <div class="deliveries-third align-items-stretch justify-content-around">
                      <div class="banner-img3 position-relative shadow-lg">
                        <img src="//cdn.shopify.com/s/files/1/0084/0617/1763/t/35/assets/img-weekly_deliveries-02.jpg?122770">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-gradient-primary section-content weekly-section" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }}">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            {% for block in section.blocks limit: section.blocks.size %}
                {% if forloop.index == 1 %}
                    {% assign banner1_img = block.settings.banner_img  %}
                    {% assign grid_size = block.settings.grid_size  %}
                {% endif %}

                {% if forloop.index == 2 %}
                    {% assign banner2_img = block.settings.banner_img  %}
                    {% assign grid_size_2 = block.settings.grid_size  %}
                {% endif %}

                {% if forloop.index == 3 %}
                    {% assign banner3_img = block.settings.banner_img  %}
                    {% assign grid_size_3 = block.settings.grid_size  %}
                {% endif %}
                
            {% endfor %}
            {% if grid_size == '3' or grid_size_2 == '3' or grid_size_3 == '3' %}
            <div class="col-md-3 d-none d-md-block">
              <div class="banner-img1 position-relative shadow-lg">
                {% if banner1_img and grid_size == '3' %}
                
                    <img
                    data-sizes="auto"
                    src="{{ banner1_img | img_url: 'small'}}"
                    data-srcset="
                    {{ banner1_img | img_url: '1024x' }} 576w,
                    {{ banner1_img | img_url: '1280x' }} 768w,
                    {{ banner1_img | img_url: '1440x' }} 992w,
                    {{ banner1_img | img_url: '1920x' }} 1200w
                    "
                    class="lazyload h-100 object-fit-cover position-absolute t-0 l-0 b-0 r-0" alt="{{ section.settings.heading_txt | escape }}" />
                
                {% elsif banner2_img and grid_size_2 == '3' %}
                
                    <img
                    data-sizes="auto"
                    src="{{ banner2_img | img_url: 'small'}}"
                    data-srcset="
                    {{ banner2_img | img_url: '1024x' }} 576w,
                    {{ banner2_img | img_url: '1280x' }} 768w,
                    {{ banner2_img | img_url: '1440x' }} 992w,
                    {{ banner2_img | img_url: '1920x' }} 1200w
                    "
                    class="lazyload img-fluid" alt="{{ section.settings.heading_txt | escape }}" />
                
                {% elsif banner3_img and grid_size_3 == '3' %}
                
                    <img
                    data-sizes="auto"
                    src="{{ banner3_img | img_url: 'small'}}"
                    data-srcset="
                    {{ banner3_img | img_url: '1024x' }} 576w,
                    {{ banner3_img | img_url: '1280x' }} 768w,
                    {{ banner3_img | img_url: '1440x' }} 992w,
                    {{ banner3_img | img_url: '1920x' }} 1200w
                    "
                    class="lazyload h-100 object-fit-cover position-absolute t-0 l-0 b-0 r-0" alt="{{ section.settings.heading_txt | escape }}" />
                
                {% endif %}
                {% unless banner1_img %}
                    <div class="d-flex h-100">
                      {{ 'product-1' | append: current | placeholder_svg_tag: 'svg-placeholder' }}
                    </div>
                  {% endunless %}
              </div>
            </div>
            {% endif %}
            <div class="col-12 col-md-9">
                <div class="row">
                    <div class="col-12 col-lg-8 py-sm-4 pl-lg-7 pb-3 pb-md-0 text-center text-md-left">
                        {% if section.settings.heading_txt != '' %}
                        <h2 class="text-white mb-3">{{ section.settings.heading_txt | escape }}</h2>
                        {% endif %}

                        {% if section.settings.lead_txt != '' %}
                        <p class="text-white font-size-lg mb-4 mb-md-6 mb-lg-7">
                            {{ section.settings.lead_txt }}
                        </p>
                        {% endif %}
                        {% if section.settings.btn_txt != blank %}
                        <a href="{{ section.settings.btn_url }}" class="btn {% if section.settings.btn_variant == 'light' %}{% endif %} btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }} px-md-7">{{section.settings.btn_txt}}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 pt-sm-7 d-none d-md-block">
                      <div class="banner-img2 position-relative shadow-lg">
                        {% if banner1_img and grid_size == '4' %}
                        
                            <img
                            data-sizes="auto"
                            src="{{ banner1_img | img_url: 'small'}}"
                            data-srcset="
                            {{ banner1_img | img_url: '1024x' }} 576w,
                            {{ banner1_img | img_url: '1280x' }} 768w,
                            {{ banner1_img | img_url: '1440x' }} 992w,
                            {{ banner1_img | img_url: '1920x' }} 1200w
                            "
                            class="lazyload h-100 object-fit-cover position-absolute t-0 l-0 b-0 r-0" alt="{{ section.settings.heading_txt | escape }}" />
                        
                        {% elsif banner2_img and grid_size_2 == '4' %}
                        
                            <img
                            data-sizes="auto"
                            src="{{ banner2_img | img_url: 'small'}}"
                            data-srcset="
                            {{ banner2_img | img_url: '1024x' }} 576w,
                            {{ banner2_img | img_url: '1280x' }} 768w,
                            {{ banner2_img | img_url: '1440x' }} 992w,
                            {{ banner2_img | img_url: '1920x' }} 1200w
                            "
                            class="lazyload h-100 object-fit-cover position-absolute t-0 l-0 b-0 r-0" alt="{{ section.settings.heading_txt | escape }}" />
                        
                        {% elsif banner3_img and grid_size_3 == '4' %}
                       
                            <img
                            data-sizes="auto"
                            src="{{ banner3_img | img_url: 'small'}}"
                            data-srcset="
                            {{ banner3_img | img_url: '1024x' }} 576w,
                            {{ banner3_img | img_url: '1280x' }} 768w,
                            {{ banner3_img | img_url: '1440x' }} 992w,
                            {{ banner3_img | img_url: '1920x' }} 1200w
                            "
                            class="lazyload h-100 object-fit-cover position-absolute t-0 l-0 b-0 r-0" alt="{{ section.settings.heading_txt | escape }}" />
                        
                        {% endif %}
                        {% unless banner2_img %}
                            <div class="d-flex h-100">
                            {{ 'product-1' | append: current | placeholder_svg_tag: 'svg-placeholder' }}
                            </div>
                        {% endunless %}
                      </div>
                    </div>
                    <div class="col-12 col-md-8 mt-4 deliveries-third">
                      <div class="banner-img3 position-relative shadow-lg">
                        {% if banner1_img and grid_size == '8' %}
                            <img
                            data-sizes="auto"
                            src="{{ banner1_img | img_url: 'small'}}"
                            data-srcset="
                            {{ banner1_img | img_url: '1024x' }} 576w,
                            {{ banner1_img | img_url: '1280x' }} 768w,
                            {{ banner1_img | img_url: '1440x' }} 992w,
                            {{ banner1_img | img_url: '1920x' }} 1200w
                            "
                            class="lazyload h-100 object-fit-cover position-absolute t-0 l-0 b-0 r-0" alt="{{ section.settings.heading_txt | escape }}" />
                        
                        {% elsif banner2_img and grid_size_2 == '8' %}
                            <img
                            data-sizes="auto"
                            src="{{ banner2_img | img_url: 'small'}}"
                            data-srcset="
                            {{ banner2_img | img_url: '1024x' }} 576w,
                            {{ banner2_img | img_url: '1280x' }} 768w,
                            {{ banner2_img | img_url: '1440x' }} 992w,
                            {{ banner2_img | img_url: '1920x' }} 1200w
                            "
                            class="lazyload h-100 object-fit-cover position-absolute t-0 l-0 b-0 r-0" alt="{{ section.settings.heading_txt | escape }}" />
                        {% elsif banner3_img and grid_size_3 == '8' %}
                            <img
                            data-sizes="auto"
                            src="{{ banner3_img | img_url: 'small'}}"
                            data-srcset="
                            {{ banner3_img | img_url: '1024x' }} 576w,
                            {{ banner3_img | img_url: '1280x' }} 768w,
                            {{ banner3_img | img_url: '1440x' }} 992w,
                            {{ banner3_img | img_url: '1920x' }} 1200w
                            "
                            class="lazyload h-100 object-fit-cover position-absolute t-0 l-0 b-0 r-0" alt="{{ section.settings.heading_txt | escape }}" />
                        {% endif %}
                        {% unless banner3_img %}
                            <div class="d-flex h-100">
                            {{ 'product-1' | append: current | placeholder_svg_tag: 'svg-placeholder' }}
                            </div>
                        {% endunless %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
  {
    "name": "Banners Image Grid",
    "class": "index-banners-grid",
    "max_blocks": 3,
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Heading Text"
      },
      {
        "type": "textarea",
        "id": "lead_txt",
        "label": "Lead Text"
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color",
        "default": "#343a40"
      },
      {
        "type": "select",
        "id": "btn_type",
        "label": "Button Type",
        "options": [{
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "",
            "label": "Solid"
          }
        ],
        "default": "outline"
      },
      {
        "type": "select",
        "id": "btn_variant",
        "label": "Button Variant",
        "options": [{
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "gray-900",
            "label": "Dark"
          }
        ],
        "default": "primary"
      },
      {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "options": [{
            "value": "",
            "label": "Default"
          },
          {
            "value": "btn-sm",
            "label": "Small"
          },
          {
            "value": "btn-lg",
            "label": "Large"
          }
        ],
        "default": ""
      }
    ],
    "presets": [
      {
        "name": "Features Banner Grid",
        "category": "Image"
      }
    ],
    "blocks": [
      {
        "type": "banner-block",
        "name": "Banner Block",
        "settings": [
            {
                "type": "select",
                "id": "grid_size",
                "label": "Image Size",
                "options": [{
                        "value": "4",
                        "label": "1:1 Column"
                    },
                    {
                        "value": "3",
                        "label": "1:2 Columns"
                    },
                    {
                        "value": "8",
                        "label": "2:1 Columns"
                    }
                ]
            },
          {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Select Image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
