<div class="collection-banner" style=" background-image: url('{{ section.settings.col_bnr | img_url:"original" }}')">
<!--   <img class="col-bnr" src=""> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="bnr-log-text-btn w-100 l-0 r-0 m-auto">
                <img src="{{ section.settings.col_logo | img_url:"180x180" }}">
                <p class="text-center text-white">{{ section.settings.heading }}</p>
                <a href="{{ section.settings.btn_link }}">
                {{ section.settings.btn_nam }}
                </a>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Matha Subscribe",
    "settings": [
    {
        "type":"image_picker",
        "id":"col_bnr",
        "label":"Banner Image"
    },
    {
        "type":"image_picker",
        "id":"col_logo",
        "label":"Banner Logo"
    },
    {
        "type":"text",
        "id":"heading",
        "label":"Heading"
    },
    {
        "type":"text",
        "id":"btn_nam",
        "label":"Button Name"
    },
    {
        "type":"url",
        "id":"btn_link",
        "label":"link"
    },
    {
        "type": "header",
        "content": "Heading"
    },
    {
        "type": "color",
        "id": "heading_txt_color",
        "label": "Color"
    }
  ],
    "presets": [
      {
        "name": "Martha Subscribe",
        "category": "image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
