{% assign main_menu = section.settings.main_menu_linklist  %}
{% assign secondary_menu = section.settings.secondary_menu_linklist  %}


<div data-section-id="{{ section.id }}" class="mobile-nav-drawer d-flex flex-column" :class="{'opened shadow-lg': isMobileNavDrawerOpen}">

  <div class="drawer-header bg-white d-flex justify-content-between align-items-center px-4 py-2 border-bottom border-gray-200">  

    {% if section.settings.mobile_nav_show_logo %}
      <a href="/" class="navbar-brand" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
        {% assign logo = section.settings.main_logo %}
        {% if logo contains 'no-image' %}
          {% comment %}
            <span class="h5 text-primary"><i class="ion-pound text-warning"></i> {{ shop.name | escape }}</span>
          {% endcomment %}
        {% else %}
          <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ section.settings.logo_max_width }}px">
        {% endif %}
      </a>
    {% endif %}

    <a href="#" class="btn-close ml-auto float-right" @click.prevent="_toggleMobileNavDrawer" rel="nofollow" aria-label="Close"><i class="icon ion-md-close"></i></a>
  </div>
  <div class="drawer-body" data-touch-moveable></div> 
  
  <div id="mean-menu">
    {% assign menu_handle = section.settings.megamenu_handle %}
    {% assign menu = section.settings.main_menu_linklist | escape %}
    <ul class="list-unstyled flex-grow-1 justify-content-around">
        {% for link in linklists[menu].links %}
            {% if link.handle  contains menu_handle %}
            {% assign collectionMain = link.title | handleize %}
              <li class="mega-menu menu-item {% if link.active %}active {% if link.child_active %}child-active{% endif %}{% endif %}">
                <a href="{{ link.url }}"  class="font-weight-medium  text-uppercase">{{ link.title }}</a>
                <ul class="menu_dropdown list-unstyled pb-8 pt-5">
                  <div class="container">
                    <div class="row">
                      {% for child_link in link.links %}
                          {% if child_link.links != blank %}
                              {% assign levelClass = child_link.links.size %}
                          {% endif %}
                          <div class="{% if levelClass > 2 %}col-7{% else %}col-4 ml-9{% endif %}">
                              {% if child_link.links != blank %}
                              <h5>{{ child_link.title }}</h5>
                              {% else %}
                                  <li><a href="{{ child_link.url }}"  class="position text-uppercase">{{ child_link.title }}</a></li>
                              {% endif %}
                              <div class="card-group row">
                                  {% for grandchild_link in child_link.links %}  
                                      <li class="{% if levelClass > 2 %}col-3{% else %}col-4 col-custom-width{% endif %}">
                                          {% assign handleProduct = grandchild_link.url | remove:'/products/' %}
                                          {% assign product = all_products[handleProduct] %}
                                          {% assign filter = '' %}
                                          {% for tag in product.tags %}
                                              {% if tag contains 'filter-' %}
                                                  {% assign filterName = tag | remove:'filter-' %}
                                                  {% assign filter = filter | append: filterName %}
                                              {% endif %}
                                          {% endfor %}
                                          <div class="card border-0 shadow menu-product">
                                              <a href="{{ grandchild_link.url }}" class="card-img position-relative"> 
                                                  {% if product.images[1].src != blank %}
                                                      <img src="{{ product.images[1].src | img_url:'160x' }}" alt="{{ product.title }}" class="img-fluid top-0 left-0 position-absolute" />    
                                                  {% else %}
                                                      <img src="{{ product.featured_image.src | img_url:'160x' }}" alt="{{ product.title }}" class="img-fluid top-0 left-0 position-absolute" />
                                                  {% endif %}
                                              </a>            
                                              <div class="card-body p-0 p-3">
                                                  <a href="{{ grandchild_link.url }}" class="h6 text-capitalize">{% if grandchild_link.title contains 'Bloomsy' %}BLOOMSY {{grandchild_link.title | remove:'Bloomsy'}}{% else %}{{grandchild_link.title}}{% endif %}</a>
                                                  {% if filter == 'monthly' %}
                                                      {% assign filter = 'mo' %}
                                                  {% elsif filter == 'weekly' %}
                                                      {% assign filter = 'week' %}
                                                  {% endif %}
                                                  <p class="card-text mt-1 d-none d-block">{{ product.price | money }}/{{ filter }}</p> 
                                              </div>
                                          </div>
                                      </li>
                                  {% endfor %}
                              </div>
                          </div>
                      {% endfor %}                                
                    </div>
                  </div>
                </ul>
            </li>
            {% else %}
            {% if link.links != blank %}
                <li class="menu-item sub-menu {% if link.active %} active {% if link.child_active %}child-active{% endif %}{% endif %}">
                  <a href="{{ link.url }}" class="font-weight-medium text-uppercase">{{ link.title }}</a>
                  <ul class="third_level">
                    {% for child_link in link.links %}  
                      {% if child_link.links != blank %}
                        <li class="sub-menu {% if child_link.active %} active {% if child_link.child_active %}child-active{% endif %}{% endif %}">
                          <a href= "{{ child_link.url }}" class="font-weight-medium text-uppercase text-primary">{{ child_link.title }}</a>
                          <ul class="fourth_level">
                            {% for grandchild_link in child_link.links %}  
                              <li {% if grandchild_link.active %}class="active {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a class="font-weight-medium text-uppercase" href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% else %}
                        <li class="{% if link.active %}active{% endif %}">
                          <a href="{{ child_link.url }}">
                            {{ child_link.title }} 
                          </a>
                        </li>
                      {% endif %}   
                    {% endfor %}
                  </ul> 
                </li>
            {% else %}
                <li class="menu-item {% if link.active %}active{% endif %}">
                  <a href="{{ link.url }}" class="font-weight-medium  text-uppercase">
                    {{ link.title }} 
                  </a>
                </li>
            {% endif %} 
            {% endif %}
        {% endfor %}  
          {% if shop.customer_accounts_enabled %}
          <ul class="mobile_nav list-unstyled pt-7"> 
            <li class="menu-item">
                <a href="/account" class="font-weight-medium d-flex align-items-center">
                    <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/user-icon.svg?6504540595843720491" class="ml-1 mr-3 menu-icon user-icon">{{ 'layout.customer.account' | t }}
                </a>
            </li>
            {% endif %}
            <li class="menu-item">
                <a href="" class="font-weight-medium d-flex align-items-center">
                    <img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/mobile-icon.svg?6504540595843720491" class="ml-1 mr-3 menu-icon">Contact us</a>
            </li>
            <li class="menu-item">
                <a href="" class="font-weight-medium d-flex align-items-center"><img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/faq-icon.svg?6504540595843720491" class="ml-1 mr-3 menu-icon">FAQ’s</a>
            </li>
          </ul>
    </ul>
  </div>

</div>


{% schema %}
  {
    "name": "Sidebar Mobile Navigation",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "checkbox",
        "id": "mobile_nav_show_logo",
        "label": "Show Logo?",
        "default": true
      },
      {
        "type": "text",
        "id": "main_logo",
        "label": "Select Image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 5,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 180
      },
      {
        "type": "header",
        "content": "Menus"
      },
      {
        "type": "link_list",
        "id": "main_menu_linklist",
        "label": "Select Main Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "secondary_menu_linklist",
        "label": "Select Secondary Menu"
      },
      {
        "type": "header",
        "content": "Social Networks"
      },
      {
        "type": "checkbox",
        "id": "mobile_nav_show_social_links",
        "label": "Show Socials?",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Select Networks"
      },
      {
        "type": "checkbox",
        "id": "social_icon_facebook",
        "label": "Facebook",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_twitter",
        "label": "Twitter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_googleplus",
        "label": "Google+",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_instagram",
        "label": "Instagram",
        "default": true
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}
