<input type="hidden" data-customer-email value="{{ customer.email }}" />
<input type="hidden" data-customer-id value="{{ customer.id }}" />
<div class="martha-sweart-funnel" data-ms-funnel>
    
    <div id="martha-hero-banner" class="new_sub-py-10" style="background:url('{{section.settings.hero_banner_img | img_url:'master'}}') top center no-repeat;background-size:cover;padding: 35px 0px 46px;">
        <div class="martha-details wave-border white-wave" class="shadow-1 position-relative">    
          {% comment %}  
          <img
                data-sizes="100vw"
                src="{{ section.settings.hero_banner_img | img_url: 'small'}}"
                data-srcset="
                {{ section.settings.hero_banner_img | img_url: '1024x' }} 576w,
                {{ section.settings.hero_banner_img | img_url: '1280x' }} 768w,
                {{ section.settings.hero_banner_img | img_url: '1440x' }} 992w,
                {{ section.settings.hero_banner_img | img_url: '1920x' }} 1200w"
                class="lazyload d-none d-md-block  w-100" alt="{{ section.settings.work_heading_txt | escape }}" />
            <img
                data-sizes="100vw"
                src="{{ section.settings.mobile_hero_banner_img | img_url: 'small'}}"
                data-srcset="
                {{ section.settings.mobile_hero_banner_img | img_url: '1024x' }} 576w,
                {{ section.settings.mobile_hero_banner_img | img_url: '1280x' }} 768w,
                {{ section.settings.mobile_hero_banner_img | img_url: '1440x' }} 992w,
                {{ section.settings.mobile_hero_banner_img | img_url: '1920x' }} 1200w"
                class="lazyload d-block d-md-none  w-100" alt="{{ section.settings.work_heading_txt | escape }}" />
          {% endcomment %}  
          <div class="no-gutters row h-100 align-items-md-center">
              <div class="col-sm-12 col-md-12 col-lg-12 align-items-center pb-xs-0"> 
                <div class="martha-captions text-center px-2 px-md-0"> 
                  {% if section.settings.marth_logo != blank %} 
                    <img src="{{ section.settings.marth_logo | img_url:'large' }}" style="max-width:{{ section.settings.marth_logo_width }}px" class="martha-logo banner_logo_margin" />     
                   {% endif %}
                  {% if section.settings.lead_txt != blank %}
                    <div class="banner_text_block display-5 line-height-lg text-miller-semibold text-gray-700">{{ section.settings.lead_txt }}</div>  
                  {% endif %}
                </div>  
              </div>
            </div>
           
            
        </div>
    </div>

    <div class="py-md-6 py-5 select-gift martha-funnel" data-step="2"> 
      <div class="container">
        <div class="p-3 gift-border position-relative">
          <p class="h3 text-center mt-4 mb-4 text-trade-gothic text-gray-700">SELECT PRODUCT</p> 
          <div class="row">
            {% for block in section.blocks %}
                {% if block.type contains 'product' %}
                    {% assign chooseProduct = block.settings.product %}
                    {% assign product = all_products[chooseProduct] %}
                    {% assign filter = '' %}
                    {% for tag in product.tags %}
                        {% if tag contains 'filter-' %}
                            {% assign filterName = tag | remove:'filter-' %}
                            {% assign filter = filter | append: filterName %}
                        {% endif %}
                    {% endfor %}
                    {% if filter == 'monthly' %}
                        {% assign filter = 'month' %}
                    {% elsif filter == 'weekly' %}
                        {% assign filter = 'week' %}
                    {% endif %}
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card bg-transparent gift-card text-left border-0 rounded-0 h-100">
                            <div class="card-img product-img text-center border-0">
                                <img
                                    data-sizes="100vw"
                                    src="{{ product.featured_image | img_url: 'small'}}"
                                    data-srcset="
                                    {{ product.featured_image | img_url: '1024x' }} 576w,
                                    {{ product.featured_image | img_url: '1280x' }} 768w,
                                    {{ product.featured_image | img_url: '1440x' }} 992w,
                                    {{ product.featured_image | img_url: '1920x' }} 1200w"
                                    class="lazyload img-fluid  mw-100" alt="{{ product.title | escape }}" />
                            </div>
                            <div class="card-body text-center px-3 px-lg-4 pb-0">
                                <h2 class="mb-3 text-trade-gothic text-gray-700 text-uppercase">{{ product.selected_or_first_available_variant.price | money }} {% if filter %}/ {{filter}}{% endif %}</h2> 
                                <h3 class="mb-2 text-trade-gothic text-uppercase text-pink">{{ product.title | remove:'Martha Stewart ' }}</h3> 
                                <p class="mb-3 mx-60 text-miller-semibold font-size-lg line-height-sm">{{ product.description }}</p>  
                            </div> 
                            <div class="card-footer text-center p-2 border-0 bg-transparent">
                                <a href="javascript:void(0);" @click.prevent="_msSelectSubscribeProduct($event,'{{product.handle}}')" class="btn martha-btn btn-sm btn-pink">Select</a>
                            </div>
                        </div>
                    </div>
                    <script type="application/json" data-{{ product.handle }}-json>
                    {
                        "product": {{ product | json }},
                        "metafields":{ {% for field in product.metafields.subscriptions %}"{{ field | first }}": "{{ field | last }}"{% unless forloop.last %},{% endunless %}{% endfor %} }
                    }
                    </script>
                    {% for variant in product.variants %}
                        {% if variant.metafields.subscription.charge_internal_frequency != blank %}
                            <script type="application/json" data-{{variant.id}}-charge-frq-json>
                                {{ variant.metafields.subscription.charge_internal_frequency | json }}
                            </script>
                        {% endif %}
                        {% if variant.metafields.subscription.is_hidden != blank %}
                            <script type="application/json" data-{{variant.id}}-visible-json>
                                {{ variant.metafields.subscription.is_hidden }}
                            </script>
                        {%- endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <template v-if="!isChoosePlan == false">
    <section class="funnelSection py-md-6 py-5 select-gift select-plan funnelSection" data-step="3">
        <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
            <div class="p-3 pb-5 gift-border position-relative">
                <div class="text-center">
                    <p class="h3 text-center mt-4 mb-2 text-trade-gothic text-gray-700">CHOOSE PLAN</p>
                </div>
                <div class="position-relative pt-3">
                    <div class="go-back text-center text-md-left mb-0"> 
                        <a href="#" class="mb-0 text-trade-gothic text-gray-700 font-size-lg" @click.prevent="_prevStage($event, 3, 2)"><i class="ion-ios-arrow-back mr-2 font-size-lg align-text-top d-inline-block"></i>GO BACK</a>
                    </div>
                    <div class="payment-silder row align-items-end">
                        <template v-if="marthaFunnel.choosePlan.product.variants != ''">
                            <div v-for="variant in marthaFunnel.choosePlan.product.variants" v-if="variant.is_hidden != true" class="mt-6 col-12 col-sm-6 col-md-3 h-auto">
                                <div class="card border-0 shadow rounded-0 h-100">
                                    <p v-if="variant.save && variant.save != '0' " class="text-trade-gothic text-white bg-pink mb-0 text-center py-1" v-text="'YOU SAVE '+_formatMoney(variant.save)"></p>
                                    <div class="card-body p-3 p-lg-3 text-center">
                                        <h4 class="text-pink mb-1 text-trade-gothic" v-text="variant.public_title"></h4>
                                        <h3 v-if="variant.each_month && variant.each_month != '0'" class="display-2 mb-3 mb-lg-4 text-trade-gothic"  v-text="_formatMoney(variant.each_month)+'/'+marthaFunnel.choosePlan.product.filter"></h3>
                                        <p class="mb-0 text-miller-semibold"><b class="text-miller-semibold">Total Price:</b> <span v-text="_formatMoney(variant.price)"></span></p>
                                        <p v-if="variant.public_title != null" class="mb-0 text-miller-semibold"  v-text="'Recurring '+variant.public_title"></p>
                                    </div>
                                    <div class="card-footer p-3 p-lg-4 border-0 bg-transparent">
                                        <a href="#"  @click.prevent="_msSelectedPlan(variant)" class="btn martha-btn btn-sm w-100 btn-outline-pink">Select</a>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </template>

    <template v-if="!isPayment == false">
        <section class="pt-3 pb-6 funnelSection" data-product data-step="4">  
            <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">

            <form data-form-product :data-productid="marthaFunnel.choosePlan.product.id" action="/cart/add" method="post" enctype="multipart/form-data" class="" name="">
                <input type="hidden" name="id" :value="funnel.payment.id" :data-productid="marthaFunnel.choosePlan.product.id" />
                <input name="properties[subscription_id]" type="hidden" :value="marthaFunnel.choosePlan.metafields.subscription_id" />
                <input name="properties[shipping_interval_frequency]" type="hidden" :value="marthaFunnel.choosePlan.metafields.shipping_interval_frequency" />
                <input name="properties[shipping_interval_unit_type]" type="hidden" :value="marthaFunnel.choosePlan.metafields.shipping_interval_unit_type" />
                <input name="properties[charge_interval_frequency]" type="hidden" :value="marthaFunnel.payment.charge_internal_frequency" />
                <div class="text-center">
                    <h2 class="mb-0 text-trade-gothic text-gray-700 text-uppercase">Order Review</h2>
                </div>
                <div class="position-relative py-6">
                    <div class="go-back text-center text-md-left mb-0">
                        <a href="#" @click.prevent="_prevStage($event, 4, 3)" class="mb-0 text-trade-gothic text-gray-700 font-size-lg"><i class="ion-ios-arrow-back mr-2 font-size-lg align-text-top d-inline-block"></i>GO BACK</a>
                    </div>
                    <div class="border-gray-400 border-bottom">  
                        <div class="row align-items-stretch">
                            <div class="col-12 col-lg-6">
                                <div class="row align-items-stretch">
                                    <div class="col-12 col-sm-6 my-3">
                                        <div class="card text-left border-0 shadow rounded-0 pt-4 h-100">
                                            <div class="card-img product-img monthly-plans-img text-center border-0">  
                                                <img v-if="marthaFunnel.choosePlan.product.images[1]" :src="_getSizedImageUrl(marthaFunnel.choosePlan.product.images[1], 'large')" :alt="funnel.choosePlan.title" alt="" class="mw-100" />
                                                <img v-else-if="marthaFunnel.choosePlan.product.featured_image" :src="_getSizedImageUrl(marthaFunnel.choosePlan.product.featured_image, 'large')" :alt="marthaFunnel.choosePlan.product.title" alt="" class="mw-100" />
                                                <img v-else :src="_getSizedImageUrl(marthaFunnel.choosePlan.product.featured_image, '300x')" :alt="marthaFunnel.choosePlan.product.title" alt="" class="mw-100" />
                                            </div>
                                            <div class="offer-tag right bg-gray-100 text-gray-400 p-2">
                                                <a href="#" @click.prevent="_prevStage($event, 4, 2)"><img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/edite-icon.svg?10372617106714625492" alt="" /></a>
                                            </div>
                                            <div class="card-body px-3 px-xl-5">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <h4 class="mb-0 text-pink text-trade-gothic" v-text="_remove(marthaFunnel.choosePlan.product.title, 'Martha Stewart')"></h4>
                                                    <p class="mb-0 font-size-lg text-miller-semibold" v-if="marthaFunnel.payment.each_month && marthaFunnel.payment.each_month != '0'" class="display-2 mb-4"  v-text="_formatMoney(marthaFunnel.payment.each_month)+'/'+marthaFunnel.choosePlan.product.filter"></p>
                                                    <p class="mb-0 font-size-lg text-miller-semibold" v-else-if="marthaFunnel.choosePlan.product.price == 0" v-text="_formatMoney(marthaFunnel.choosePlan.product.price_max)+'/'+marthaFunnel.choosePlan.product.filter"></p>
                                                    <p class="mb-0 font-size-lg text-miller-semibold" v-else v-text="_formatMoney(marthaFunnel.choosePlan.product.price)+'/'+marthaFunnel.choosePlan.product.filter"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 my-3">
                                        <div class="card text-left border-0 shadow rounded-0 pt-4 h-100  d-flex align-items-center flex-row">
                                            <div class="offer-tag right bg-gray-100 text-gray-400 p-2">
                                                <a href="#" @click.prevent="_prevStage($event, 4, 3)"><img src="https://cdn.shopify.com/s/files/1/0084/0617/1763/files/edite-icon.svg?10372617106714625492" alt="" /></a>
                                            </div>
                                            <div class="card-body px-3 px-lg-4 text-center">
                                                <h4 class="text-pink mb-1 text-trade-gothic" v-text="marthaFunnel.payment.public_title"></h4>
                                                <h3 v-if="marthaFunnel.payment.each_month && marthaFunnel.payment.each_month != '0'" class="display-2 mb-4 text-trade-gothic"  v-text="_formatMoney(marthaFunnel.payment.each_month)+'/'+marthaFunnel.choosePlan.product.filter"></h3>
                                                <p class="mb-0 text-miller-semibold"><b class="text-miller-semibold">Total Price:</b> 
                                                    <span v-if="marthaFunnel.choosePlan.product.price == '0'" v-text="_formatMoney(marthaFunnel.payment.price_max)"></span>
                                                    <span v-else v-text="_formatMoney(marthaFunnel.payment.price)"></span>
                                                </p>
                                                <p v-if="marthaFunnel.payment.public_title != null" class="mb-5 text-miller-semibold"  v-text="'Recurring '+marthaFunnel.payment.public_title"></p>
                                                {% comment %} <div class="text-center">
                                            <p class="font-size-lg mb-2 text-RobotoCondensed text-uppercase font-weight-normal">Your first box will Arrive:</p>
                                            <div class="mb-3 mb-md-0 date--picker">
                                                <flat-pickr
                                                    value="{{ cart.attributes.date }}"
                                                    id="subScriptionDateConfig"
                                                    :required="false"
                                                    placeholder="Select Delivery Date"
                                                    name="attributes[Delivery_Date]"
                                                    ref="datePickerWrap"
                                                    readonly
                                                    class="form-control bg-white secondary-placeholder">
                                                </flat-pickr>                                              
                                            </div>
                                        </div> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 my-4 my-lg-0">
                                <div class="border-left border-none-md border-gray-400 pl-lg-5 pl-xl-7 pb-5 pb-lg-7 ml-xl-5">
                                    <div class="d-flex align-items-end mb-1">
                                        <div class="d-flex align-items-center">
                                            <div class="custom-checkbox">
                                                <input type="checkbox" id="gift" name="properties[isGift]" data-gift v-bind="{'checked': !isGiftcartForm}" v-on:click="isGiftcartForm = !isGiftcartForm;_giftCartForm($event);"/>
                                                <label for="gift" class="mb-0">
                                                    <span class="mr-3 d-inline-block position-relative align-middle"></span>
                                                    <h4 class="display-3 mb-0 text-pink d-inline-block align-middle text-trade-gothic">Is This a gift?</h4>
                                                    <p class="mb-0 text-miller-italic text-gray-500 d-inline-block align-bottom">Optional</p>
                                                </label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="gift-details" data-giftForm :class="{'disabled': isGiftcartForm}">
                                        <div class="form-row">
                                            {% comment %} <div class="col-12 col-sm-6 py-3">
                                                <input type="text" class="form-control martha-placeholder"  data-name-to name="attributes[To]" placeholder="To" :class="{'disabled': isGiftcartForm}" v-bind="{'required': !isGiftcartForm}">
                                            </div>
                                            <div class="col-12 col-sm-6 py-3">
                                                <input type="text" class="form-control martha-placeholder" data-name-from name="attributes[From]" placeholder="From" :class="{'disabled': isGiftcartForm}" v-bind="{'required': !isGiftcartForm}">
                                            </div> {% endcomment %}
                                            <div class="col-12 py-3">
                                                    <textarea rows="6" maxlength="280" class="form-control martha-placeholder" data-name-message name="attributes[Gift_Message]" placeholder="Gift Message" :class="{'disabled': isGiftcartForm}" v-bind="{'required': !isGiftcartForm}"></textarea>
                                            </div>
                                            <div class="col-12 py-3 custom-checkbox">
                                                <input type="checkbox" id="GiftAutoRenew"  v-on:click="_giftCartAutoRenew($event)" class="form-control martha-placeholder" value="once" name="properties[gift_renew]"  :class="{'disabled': isGiftcartForm}">
                                                <label for="GiftAutoRenew" class="mb-0 text-miller-semibold pl-4">
                                                    <span class="d-inline-block align-middle position-absolute l-0 t-10"></span>
                                                    This will make your gift subscription auto-renew.<small class="text-gray-500">(Can cancel if needed)</small> 
                                                </label>
                                            </div>
                                        </div>
                                        <div class="mt-4 text-center text-sm-left">
                                            <h5 class="text-trade-gothic">Gifting Faq’s</h5>
                                            <div class="row align-items-start faq-fonts">
                                                <div class="col-12 col-sm-7">
                                                    <p class="mb-0 font-size-sm text-miller-semibold">Sending your gift directly to the recipient?</p>
                                                    <p class="mb-0 font-size-sm text-miller-semibold">Fill in recipient address during checkout.</p>
                                                </div>
                                                <div class="col-12 col-sm-5 mt-3 mt-sm-0">
                                                    <p class="mb-0 font-size-sm text-miller-semibold">Sending gifts to multiple people?</p>
                                                    <p class="mb-0 font-size-sm text-miller-semibold">Please place a separate order for each address.</p>
                                                </div>
                                            </div>
                                            <p class="mb-0 font-size-sm text-trade-gothic">Need Help? <a href="/pages/contact" class="text-pink"><u>Contact Us</u></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p v-show="isGiftMsg" class="text-danger text-right">Please enter a gift message to continue</p>
                    <div class="d-flex align-items-center justify-content-end pb-3">
                        <h3 class="subtotal-text px-3 mb-0 text-trade-gothic">Subtotal:  <span class="font-weight-light" v-if="marthaFunnel.choosePlan.product.price == '0'" v-text="_formatMoney(marthaFunnel.payment.price_max)"></span>
                        <span class="font-weight-light" v-else v-text="_formatMoney(marthaFunnel.payment.price)"></span>
                        </h3>
                        <div class="col-4 col-md-5 mb-3 quantity-column d-none">
                            <div class="quantity-wrapper" data-qty-container>
                            <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <a href="#" class="btn-decrease" data-qty-decrease @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Decrease" title="Decrease"><i class="icon ion-md-remove"></i></a>
                                </span>
                                </div>
                                <input type="number" name="quantity" value="1" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                                <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="#" class="btn-increase" data-qty-increase @click.prevent="_updateQty($event)" rel="nofollow" aria-label="Increase" title="Increase"><i class="icon ion-md-add"></i></a>
                                </span>
                                </div>
                            </div>
                            </div>
                        </div>
                        <button class="btn martha-btn px-lg-8 btn-pink"
                        type="submit"
                        name="add"
                        :disabled="!marthaFunnel.payment.available"
                        @click.prevent="_addToCartSubscription($event, marthaFunnel.payment.id)">
                            <template v-if="isLoading && loadingEvent == 'cartAdding'">
                                <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
                            </template>
                            <template v-else>
                            <span v-if="marthaFunnel.payment.available">
                                Checkout
                            </span>
                            <span v-else>
                                {{ 'products.product.sold_out' | t }}
                            </span>
                            </template>
                        </button>
                    </div>
                    <p class="mb-0 text-gray-600 text-right text-miller-semibold">Shipping &amp; tax are applied during checkout.</p>
                </form>
            </div>
        </section>
    </template>
  <div class="bg_color_div">
{% assign count = 0 | plus: 0 %}
    {% assign blockId = '' %}
    <div id="how-it-works" class="pb-7">      
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-4">
            {% if section.settings.work_heading_txt != blank %}
            <h2 class="text-uppercase text-trade-gothic mb-3 text-gray-700 line-height-sm">{{ section.settings.work_heading_txt }}</h2>   
            {% endif %}
            {% for block in section.blocks %}
                {% if block.type == 'workFlow' and count < 1 %}
                {% assign count = count | plus: 1 %}
                {% assign blockId = blockId | append: block.id %}
                <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                    <h2 class="font-italic display-4 text-chronicle-italic text-gray-700 line-height-sm mb-0">{{ count }}</h2>
                </div>
                <div class="col-12 col-md-10"> 
                    <div class="works_step row">
                    <div class="col-12">
                        <div class="step-img mb-4 mb-md-2">
                            {% if block.settings.banner_img != blank %}
                            <img
                                data-sizes="100vw"
                                src="{{ block.settings.banner_img | img_url: 'small'}}"
                                data-srcset="
                                {{ block.settings.banner_img | img_url: '1024x' }} 576w,
                                {{ block.settings.banner_img | img_url: '1280x' }} 768w,
                                {{ block.settings.banner_img | img_url: '1440x' }} 992w,
                                {{ block.settings.banner_img | img_url: '1920x' }} 1200w"
                                class="lazyload img-fluid mw-100 mb-2" alt="{{ block.settings.heading_txt_1 | escape }}" />
                            {% else %}
                                {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="step-caption text-miller-semibold font-size-lg text-gray-700 line-height-base font-weight-semiBold">  
                        {% if block.settings.heading_txt_1 != blank %}
                        <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_1 }}</h4>
                        {% endif %}
                        {% if block.settings.lead_txt_1 != blank %}
                        {{ block.settings.lead_txt_1 }}
                        {% endif %}
                        {% if block.settings.heading_txt_2 != blank %}
                        <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_2 }}</h4>
                        {% endif %}
                        {% if block.settings.lead_txt_2 != blank %}
                        {{ block.settings.lead_txt_2 }}
                        {% endif %}
                        {% if block.settings.heading_txt_3 != blank %}
                        <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_3 }}</h4>   
                        {% endif %}
                        {% if block.settings.lead_txt_3 != blank %}
                        {{ block.settings.lead_txt_3 }}
                        {% endif %}                  
                        </div>
                    </div>   
                    </div>
                </div>
                </div>
                {% endif %}
            {% endfor %}  
          </div>
          <div class="col-12 col-md-7 col-lg-8">  
            {% for block in section.blocks %}
                {% if block.type == 'workFlow' and count >= 1 %}
                    {% unless blockId contains block.id %}
                    {% assign count = count | plus: 1 %}
                    <div class="works_step row mb-5">                
                        <div class="col-12 col-lg-5 col-md-7">
                            <div class="step-img mb-4 mb-md-0">
                                {% if block.settings.banner_img != blank %}
                                <img
                                    data-sizes="100vw"
                                    src="{{ block.settings.banner_img | img_url: 'small'}}"
                                    data-srcset="
                                    {{ block.settings.banner_img | img_url: '1024x' }} 576w,
                                    {{ block.settings.banner_img | img_url: '1280x' }} 768w,
                                    {{ block.settings.banner_img | img_url: '1440x' }} 992w,
                                    {{ block.settings.banner_img | img_url: '1920x' }} 1200w"
                                    class="lazyload img-fluid mw-100 mb-2" alt="{{ block.settings.heading_txt_1 | escape }}" />
                                {% else %}
                                    {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-lg-7 col-md-5">
                            <h2 class="font-italic text-chronicle-italic text-gray-700 display-4 line-height-sm mb-0 d-none d-md-block">{{ count }}</h2>
                            <div class="step-caption text-miller-semibold font-size-lg text-gray-700 line-height-base font-weight-semiBold">
                            {% if block.settings.heading_txt_1 != blank %}
                            <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_1 }}</h4>
                            {% endif %}
                            {% if block.settings.lead_txt_1 != blank %}
                            {{ block.settings.lead_txt_1 }}
                            {% endif %}
                            {% if block.settings.heading_txt_2 != blank %}
                            <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_2 }}</h4>
                            {% endif %}
                            {% if block.settings.lead_txt_2 != blank %}
                            {{ block.settings.lead_txt_2 }}
                            {% endif %}
                            {% if block.settings.heading_txt_3 != blank %}
                            <h4 class="mb-0 text-pink text-trade-gothic display-5 text-uppercase font-weight-bold">{{ block.settings.heading_txt_3 }}</h4>
                            {% endif %}
                            {% if block.settings.lead_txt_3 != blank %}
                            {{ block.settings.lead_txt_3 }}
                            {% endif %}  
                            </div>
                        </div> 
                    </div> 
                    {% endunless %}          
                {% endif %}
            {% endfor %}
                 
          </div>
        </div>
        <div class="select-options mt-7 text-center"> 
          {% if section.settings.work_btn_txt != blank and section.settings.work_btn_url != blank %}
                <a href="{{ section.settings.work_btn_url }}" class="btn martha-btn {% if section.settings.work_btn_variant == 'light' %}text-pink{% endif %} btn{% if section.settings.work_btn_type == 'outline' %}-{% endif %}{{ section.settings.work_btn_type }}-{{ section.settings.work_btn_variant }} {{ section.settings.work_btn_size }} mx-2">{{section.settings.work_btn_txt}}</a> 
            {% endif %}
            {% if section.settings.work_btn_txt_other != blank and section.settings.work_btn_url_other != blank %}
                <a href="{{ section.settings.work_btn_url_other }}" class="btn martha-btn {% if section.settings.work_btn_variant_other == 'light' %}text-pink{% endif %} btn{% if section.settings.work_btn_type_other == 'outline' %}-{% endif %}{{ section.settings.work_btn_type_other }}-{{ section.settings.work_btn_variant_other }} {{ section.settings.work_btn_size_other }} mx-2">{{section.settings.work_btn_txt_other}}</a>
            {% endif %}
        </div>
      </div>
    </div>
<div class="py-md-6 py-5 varieties-banner">
      <div class="container">
        <div class="carousel-cell position-relative">
            {% if  section.settings.sign_banner_img %}
            <img
                data-sizes="100vw"
                src="{{ section.settings.sign_banner_img | img_url: 'small'}}"
                data-srcset="
                {{ section.settings.sign_banner_img | img_url: '1024x' }} 576w,
                {{ section.settings.sign_banner_img | img_url: '1280x' }} 768w,
                {{ section.settings.sign_banner_img | img_url: '1440x' }} 992w,
                {{ section.settings.sign_banner_img | img_url: '1920x' }} 1200w"
                class="lazyload img-fluid h-100 object-fit-cover" alt="{{ section.settings.sign_subheading_txt | escape }}" />
            {% endif %}
           <div class="position-absolute l-0 r-0 t-50 transform-t-50 z-index-990 px-4">
            <div class="row">
              <div class="col-12 offset-md-5 col-md-5 offset-xl-7 col-xl-4 text-center">
                {% if section.settings.sign_subheading_txt != blank %}
                    <p class="text-white display-5 line-height-lg text-miller-semibold">"{{ section.settings.sign_subheading_txt }}"</p> 
                {% endif %}
                {% if section.settings.sign_img != blank %}
                    <img src="{{ section.settings.sign_img | img_url:'255x' }}" class="mw-100" alt="" />
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-md-6 py-5 expect-banner">
      <div class="container">
        <div class="border border-gray-700 p-3">
          <div class="bg-white">
            <div class="row align-items-center">
              <div class="col-12 col-md-6 col-lg-5 pl-6 pr-6 pr-md-0 pl-md-7 my-4">
                {% if section.settings.fpo_heading_txt != blank %}
                    <h2 class="text-uppercase text-trade-gothic mb-4 text-gray-700 line-height-sm">{{section.settings.fpo_heading_txt}} </h2>
                {% endif %}
                <div class="dividers bg-pink ml-0 pt-2 mb-6 col-1"></div>
                {% for block in section.blocks %}
                    {% if block.type == 'blockExpect' %}
                        <div class="expect-option text-gray-700 font-weight-semiBold text-miller-semibold mb-3 font-size-lg line-height-base">
                            <h3 class="text-gray-700 text-trade-gothic mb-1">{{ block.settings.heading_txt }}</h3>
                            {{ block.settings.lead_txt }}
                        </div>
                    {% endif %}
                {% endfor %}
              </div>
              <div class="col-12 col-md-6 col-lg-7">
                <div class="carousel-cell product-img position-relative">
                    {% if  section.settings.fpo_banner_img %}
                    <img
                        data-sizes="100vw"
                        src="{{ section.settings.fpo_banner_img | img_url: 'small'}}"
                        data-srcset="
                        {{ section.settings.fpo_banner_img | img_url: '1024x' }} 576w,
                        {{ section.settings.fpo_banner_img | img_url: '1280x' }} 768w,
                        {{ section.settings.fpo_banner_img | img_url: '1440x' }} 992w,
                        {{ section.settings.fpo_banner_img | img_url: '1920x' }} 1200w"
                        class="lazyload img-fluid h-100 object-fit-cover" alt="{{ section.settings.fpo_banner_txt | escape }}" />
                    {% endif %}
                  <div class="position-absolute l-0 r-0 b-0 z-index-990 expect-title">
                    {% if section.settings.fpo_banner_txt != blank %}
                        <h1 class="text-trade-gothic text-white mb-5">{{section.settings.fpo_banner_txt}}</h1>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .bg_color_div { background-color:grey;}

</style>
{% schema %}
  {
    "name": "Martha stewart gift",
    "settings": [ 
        {
          "type": "header",
          "content": "Banner"
        },
        {
            "type": "image_picker",
            "id": "hero_banner_img",
            "label": "Image"
        },   
        {
            "type": "image_picker",
            "id": "mobile_hero_banner_img",
            "label": "Mobile Image"
        },              
        {
          "type": "image_picker",
          "id": "marth_logo",
          "label": "Martha Logo"
        },
        {
          "type": "range",
          "id": "marth_logo_width",
          "min": 5,
          "max": 300,
          "step": 5,
          "unit": "px",
          "label": "Martha Logo width",
          "default": 180
        },
        {
            "type": "richtext",
            "id": "lead_txt",
            "label": "Lead Text"
        },    
        {
          "type": "header",
          "content": "FPO"
        },
        {
            "type": "text",
            "id": "fpo_heading_txt",
            "label": "Heading Text"
        },
        {
            "type": "text",
            "id": "fpo_banner_txt",
            "label": "Banner Text"
        },
        {
            "type": "image_picker",
            "id": "fpo_banner_img",
            "label": "Image"
        },
        {
          "type": "header",
          "content": "How it Work Flow"
        },
        
        {
            "type": "text",
            "id": "work_heading_txt",
            "label": "Heading Text"
        },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "text",
          "id": "work_btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "work_btn_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "work_btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "work_btn_variant",
          "label": "Button Variant",
          "options": [{
              "value": "pink",
              "label": "pink"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "pink"
        },
        {
          "type": "select",
          "id": "work_btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "header",
          "content": "Button Style"
        },
        {
          "type": "text",
          "id": "work_btn_txt_other",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "work_btn_url_other",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "work_btn_type_other",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "work_btn_variant_other",
          "label": "Button Variant",
          "options": [{
              "value": "pink",
              "label": "pink"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "pink"
        },
        {
          "type": "select",
          "id": "work_btn_size_other",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },

       {
          "type": "header",
          "content": "Marth stewart Banner"
        },
        {
            "type": "textarea",
            "id": "sign_subheading_txt",
            "label": "Sub Heading Text"
        },
        {
            "type": "image_picker",
            "id": "sign_banner_img",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "sign_img",
            "label": "Sign Image"
        }
        
    ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 3,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    },
{
        "type": "workFlow",
        "name": "Work Flow",
        "limit": 3,
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Select Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "heading_txt_1",
            "label": "Heading Text"
          },
          {
            "type": "richtext",
            "id": "lead_txt_1",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "heading_txt_2",
            "label": "Heading Text"
          },
          {
            "type": "richtext",
            "id": "lead_txt_2",
            "label": "Lead Text"
          },
          {
            "type": "text",
            "id": "heading_txt_3",
            "label": "Heading Text"
          },
          {
            "type": "richtext",
            "id": "lead_txt_3",
            "label": "Lead Text"
          }
        ]
      },
      {
        "type": "blockExpect",
        "name": "FPO",
        "limit": 3,
        "settings": [
          {
            "type": "text",
            "id": "heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "textarea",
            "id": "lead_txt",
            "label": "Lead Text"
          }
        ]
      }
  ]
}
{% endschema %}