{% assign items_per_page = section.settings.items_per_page %}
{% assign filters_enabled = section.settings.enable_filters %}
{% assign filters_type = section.settings.filters_type %}
{% assign sidebar_is_sticky = section.settings.sidebar_is_sticky %}
{% assign filters_ajaxed = section.settings.filters_ajaxed %}
{% assign product_card_type = section.settings.product_card_type %}
{% assign pagination_type = section.settings.pagination_type %}

<div data-section-id="{{ section.id }}" data-collection data-filters-ajaxed="{% if filters_enabled and filters_ajaxed %}true{% else %}false{% endif %}">
  {% if  section.settings.template_type == "grid" %}
        {% assign collection = collections['new-collection'] %}
        {% paginate collection.products by items_per_page %}
            <section class="section-content pb-5"> 
                <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">

                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="fancy-heading active">
                                <h1 class="page-title">{{ collection.title }}</h1>
                                <h3 class="text-muted">{{ collection.description }}</h3>
                            </div>
                        </div>
                    </div>

                    {% if filters_enabled and filters_type == 'sidebar' %}

                        {% comment %} Template with Sidebar {% endcomment %}

                        <a class="btn btn-outline-primary btn-sm d-sm-inline-block d-block d-lg-none mb-3 filtersCollapse" data-toggle="collapse" href="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
                        <i class="ion-wand"></i> Collection Filters
                        </a>

                        <div class="row">
                        <div class="col-lg-3 collapse d-lg-block" id="filtersCollapse">                
                            {% include 'sidebar-collection-filters' %}
                        </div>

                        <div class="col-lg-9">
                            {% if filters_ajaxed %}
                            <transition-group name="collection-tween" tag="div" class="row justify-content-center">
                                <div v-for="(product, index, key) in collProducts" :key="index" class="col-sm-6 col-lg-6 col-xl-4 my-3 d-flex align-items-stretch justify-content-around">
                                    {% include 'card-product-style-1-ajaxed' %}
                                </div>
                            </transition-group>
                            <div v-if="!isLoading && collProducts.length == 0" class="row mt-5">
                                <div class="col-12 text-center">
                                <i class="ion-information-circled display-4 text-gray-400"></i>
                                <h5>{{ 'collections.general.no_matches_within_filters' | t }}</h5>
                                <p>{{ 'collections.general.refine_search' | t }} <a href="#" @click.prevent="_clearAllFilters()" rel="nofollow" aria-label="{{ 'collections.general.reset_filters' | t }}" title="{{ 'collections.general.reset_filters' | t }}">{{ 'collections.general.reset_filters' | t }}</a></p>
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                                {% for product in collection.products %}
                                <div class="col-12 col-sm-6 col-md-4 my-3 my-md-4 d-flex">
                                    {% case product_card_type %}
                                    {% when 'type_1' %}
                                        {% include 'card-product-style-1' %}
                                    {% when 'type_2' %}
                                        {% include 'card-product-style-2' %}
                                    {% else %}
                                        {% include 'card-product-style-1' %}
                                    {% endcase %}
                                    {% if forloop.last %}
                                    <a href="{{ section.settings.btn_link }}">
                                        <img src="{{ section.settings.shpal_img | img_url:"500x200" }}">
                                        <h3>{{ section.settings.btn_name }}</h3>
                                    </a>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                {% if collection.products.size == 0 %}
                                <div class="col-12 text-center mt-5">
                                    <i class="ion-information-circled display-4 text-gray-400"></i>
                                    <h5>{{ 'collections.general.no_matches_within_filters' | t }}</h5>
                                    <p>{{ 'collections.general.refine_search' | t }} <a href="#" @click.prevent="_clearAllFilters()" rel="nofollow" aria-label="{{ 'collections.general.reset_filters' | t }}" title="{{ 'collections.general.reset_filters' | t }}">{{ 'collections.general.reset_filters' | t }}</a></p>
                                </div>
                                {% else %}
                                    
                                {% endif %}
                            </div>
                            {% endif %}

                            {% if paginate.pages > 1 %}
                            <div class="row">
                                <div class="col-12 text-center mt-5">
                                {% if filters_ajaxed %}
                                    {% include 'collection-pagination-ajaxed' %}
                                {% else %}
                                    {% include 'pagination' %}
                                {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        </div>
                        {% comment %} END Template with Sidebar {% endcomment %}

                    {% else %}

                        {% comment %} Template full - without Sidebar {% endcomment %}
                        {% comment %} <div class="row mb-3">
                        <div class="col-lg-3 ml-auto mr-auto">
                            {% include 'form-collection-sorting' %}
                        </div>
                        </div> {% endcomment %}

                        <div class="row">
                            {% for product in collection.products %}
                            <div class="col-12 col-sm-6 col-md-4 d-flex my-3 my-md-4">
                            {% case product_card_type %}
                                {% when 'type_1' %}
                                {% include 'card-product-style-1' %}
                                {% when 'type_2' %}
                                {% include 'card-product-style-2' %}
                                {% else %}
                                {% include 'card-product-style-1' %}
                            {% endcase %}
                            </div>
                                {% if forloop.last %}
                                <div class="col-12 col-sm-6 col-md-4 d-flex my-3 my-md-4 position-relative">
                                    <a href="{{ section.settings.btn_link }}">
                                        <img src="{{ section.settings.shpal_img | img_url:'500x' }}">
                                        <h3 class="position-absolute t-0 l-0 r-0 b-0 m- auto d-flex align-items-center justify-content-center text-white text-tradegothic text-uppercase">{{ section.settings.btn_name }}</h3>
                                    </a>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% if paginate.pages > 1 %}
                        <div class="row">
                            <div class="col-12 text-center mt-5">
                                {% include 'pagination' %}
                            </div>
                        </div>
                        {% endif %}

                    {% endif %}

                </div>
            </section>

            {% endpaginate %}
  {% elsif section.settings.template_type == "list" %}
  {% include "template-collection-list" %}
  {% endif %}
</div>



{% schema %}
  {
    "name": "Collection Template",
    "settings": [
      {
        "type": "header",
        "content": "Template"
      },
      {
        "type": "select",
        "id": "template_type",
        "label": "Template Type",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          }
        ],
        "default": "grid"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "select",
        "id": "product_card_type",
        "label": "Product Card Type",
        "options": [
          {
            "value": "type_1",
            "label": "Type 1 (simple)"
          },
          {
            "value": "type_2",
            "label": "Type 2 (with color swatches)"
          }
        ],
        "default": "type_1"
      },
      {
        "type": "range",
        "id": "items_per_page",
        "label": "Products Per Page",
        "min": 1,
        "max": 50,
        "step":1,
        "default": 12
      },
      {
        "type": "header",
        "content": "Filter Settings"
      },
      {
        "type": "checkbox",
        "id": "enable_filters",
        "label": "Enable Filters?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "filters_ajaxed",
        "label": "Ajax Filters?",
        "default": false
      },
      {
        "type": "select",
        "id": "filters_type",
        "label": "Filters Layout",
        "options": [{
            "value": "sidebar",
            "label": "Sidebar"
          }
        ],
        "default": "sidebar"
      },
      {
        "type": "checkbox",
        "id": "sidebar_is_sticky",
        "label": "Sticky Sidebar?",
        "default": false
      },
      {
        "type": "select",
        "id": "pagination_type",
        "label": "Pagination Type (only for ajaxed filters)",
        "options": [{
            "value": "page_numbers",
            "label": "Page Numbers"
          },
          {
            "value": "load_more",
            "label": "Load More"
          }
        ],
        "default": "page_numbers"
      },
      {
        "type": "paragraph",
        "content": "Use the section below to add and customize the filters."
      },
      {
      "type":"image_picker",
      "id":"shpal_img",
      "label":"Shop All Image"
      },
      {
      "type":"text",
      "id":"btn_name",
      "label":"Button Name"
      },
      {
      "type":"url",
      "id":"btn_link",
      "label":"Button Link"
      }
    ],
    "blocks": [
      {
        "type": "collections-filter",
        "name": "Collections Filter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_collections_filter",
            "label": "Enable Filter?",
            "default": false
          },
          {
            "type": "text",
            "id": "collections_filter_title",
            "label": "Title",
            "default": "Collections"
          },
          {
            "type": "link_list",
            "id": "collection_link_list",
            "label": "Select Collection Menu"
          }
        ]
      },
      {
        "type": "colors-filter",
        "name": "Colors Filter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_colors_filter",
            "label": "Enable Filter?",
            "default": true
          },
          {
            "type": "text",
            "id": "colors_filter_title",
            "label": "Title",
            "default": "Colors"
          },
          {
          "type": "textarea",
          "id": "colors_list",
          "label": "List of Colors",
          "info": "List of colors with name and hex code (e.g. red: #ff0000). Each entry must be on a new line. You can also custom images for complex colors (e.g. gradient: gradient.png). Images must be uploaded to assets folder and have the same name as being referenced to this list."
          }
        ]
      },
      {
        "type": "prices-filter",
        "name": "Prices Filter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_prices_filter",
            "label": "Enable Filter?",
            "default": true
          },
          {
            "type": "text",
            "id": "prices_filter_title",
            "label": "Title",
            "default": "Price Range"
          },
          {
          "type": "textarea",
          "id": "prices_list",
          "label": "List of Price Ranges",
          "info": "List of price ranges (e.g. 0-100). Each entry must be on a new line."
          }
        ]
      },
      {
        "type": "tags-filter",
        "name": "Tags Filter",
        "limit": 5,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_tags_filter",
            "label": "Enable Filter?",
            "default": true
          },
          {
            "type": "text",
            "id": "tags_filter_title",
            "label": "Title",
            "default": "Tags"
          },
          {
          "type": "textarea",
          "id": "tags_list",
          "label": "List of Tags",
          "info": "List of tags. Each entry must be on a new line."
          }
        ]
      }
    ]
  }
{% endschema %}
