{% assign menu_handle = section.settings.collection_navbar %}
<section class="section-content-collections" data-section-id="{{ section.id }}" style="background:{{ section.settings.section_bg_color }};color: {{ section.settings.section_txt_color }}">
<div class="bg-gray-100 mb-4 collection-filter {% if section.settings.sidebar_is_sticky %}fixed-top{% endif %}" {% if section.settings.sidebar_is_sticky %}data-collection-bar{% endif %} id="navbar-example2">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            <div class="col-12">
                <ul class="nav-pills-custom list-unstyled text-lato text-uppercase d-flex align-items-center justify-content-sm-center justify-content-between mb-0"> 
                    {% for link in linklists[menu_handle].links %}
                        {% assign linkHandle = link.url | remove: '/collections/' %}
                        {% if collections[linkHandle].products.count > 0 %}
                            <li class="py-lg-1 px-2 px-sm-4 nav-item"><a href="#{{linkHandle}}" class="{% if forloop.first %}active {% endif %}nav-link bg-transparent text-gray-700 font-weight-normal px-0 p-sm-2 d-block">{{ link.title }}</a></li>
                        {% endif %} 
                    {% endfor %}
                </ul>
            </div>
        </div> 
    </div>
</div>
<div >
{% for link in linklists[menu_handle].links %}
    {% assign linkHandle = link.url | remove: '/collections/' %}

      {% if collections[linkHandle].products.count > 0 %}
      <div class="py-4" id="{{linkHandle}}">
          <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
              <div class="heading-full text-center mb-4">
                  <span class="display-3 text-RobotoCondensed text-uppercase mb-0">{{link.title}}</span>
              </div>
              <div class="row">
              {% for product in collections[linkHandle].products %}
                {% unless product.type contains 'hidden_product' %}
                  {% assign current_variant = product.selected_or_first_available_variant %}
                  <div class="col-12 col-sm-6 col-md-4 my-2 my-sm-3"> 
                      <div class="card text-left border-0 shadow-lg rounded-0 h-100"> 
                          <div class="card-img text-center rounded-0">  
                              <a href="{{ product.url | within: collection }}"  class="product-img">
                                  <img
                                      data-sizes="100vw"
                                      src="{{ product.featured_image | img_url: 'pico' }}"
                                      data-srcset="
                                      {{ product.featured_image | img_url: 'large' }} 576w,
                                      {{ product.featured_image | img_url: '600x' }} 768w,
                                      {{ product.featured_image | img_url: '600x' }} 992w,
                                      {{ product.featured_image | img_url: '600x' }} 1200w
                                      "
                                      class="lazyload m-auto position-absolute l-0 t-0 r-0 b-0 mh-100"
                                      alt="{{ product.featured_image.alt | escape }}"/>
                              </a>
                          </div>
                          {% if current_variant.compare_at_price > current_variant.price %}
                          <div class="offer-tag bg-gray-100 text-primary py-2 px-3">
                              <h5 class="text-lato text-uppercase my-1">{{ 'products.product.on_sale' | t | escape }}</h5>
                          </div>
                          {% endif %}
                          <div class="card-body p-3 p-xl-4 mx-lg-1 d-flex align-items-center justify-content-between">
                              <div class="pr-2">
                                  <a href="{{ product.url | within: collection }}" class="d-block mb-2">
                                      <h5 class="card-title text-Roboto font-weight-bold text-capitalize m-0">
                                          {{ product.title }}
                                      </h5>
                                  </a>
                                  <p class="h5 text-Roboto font-weight-light mb-0 text-primary">{{ product.price | money_without_trailing_zeros }}<strike class="text-gray-600 ml-2">{{ product.compare_at_price | money_without_trailing_zeros }}</strike></p>
                              </div>
                              <a href="{{ product.url | within: collection }}" class="btn btn-sm btn-primary">Shop</a>
                          </div>
                      </div>
                  </div>
                  {% endunless %}
              {% endfor %}
              </div>
          </div>
      </div>
      {% endif %}
  {% endfor %}
  </div>
{% comment %} 
  {% for collection in collections %}
    {% if collection.products.count > 0 %}

      <div class="row no-gutters my-5">
        <div class="col">

        {% unless collection.handle == 'frontpage' %}

          <div class="d-flex justify-content-between align-items-center">
            <h3 class="">{{ collection.title }}</h3>
            <a href="{{ collection.url }}" class="font-italic" title="{{ 'collections.general.link_title' | t: title: title }}">
              View All <i class="icon ion-md-arrow-forward"></i>
            </a>
          </div>

          <hr>

          <div class="carousel mb-md-5"
             data-flickity='{
               "adaptiveHeight": true,
               "contain": true,
               "wrapAround": false,
               "freeScroll": false,
               "groupCells": "100%",
               "cellAlign": "left",
               "accessibility": true,
               "setGallerySize": true,
               "dragThreshold": 20,
               "prevNextButtons": false,
               "pageDots": true,
               "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
             }'>

              {% for product in collection.products limit: 9 %}
                <div class="carousel-cell d-flex equal-height col-6 col-sm-6 col-md-4 col-lg-3 p-2">
                  {% include 'card-product-style-1' %}
                </div>
              {% endfor %}
          </div>
        {% endunless %}
        </div>
      </div>

    {% else %}

    <div class="row">
      <div class="col-12 text-center">
        <p class="lead">{{ 'collections.general.empty' | t }}</p>
      </div>
    </div>
    {% break %}

    {% endif %}
  {% endfor %} {% endcomment %}
</section>

{% schema %}
  {
    "name": "Collection Template",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "select",
        "id": "product_card_type",
        "label": "Product Card Type",
        "options": [
          {
            "value": "type_1",
            "label": "Type 1 (simple)"
          },
          {
            "value": "type_2",
            "label": "Type 2 (with color swatches)"
          }
        ],
        "default": "type_1"
      },
      {
        "type": "checkbox",
        "id": "sidebar_is_sticky",
        "label": "Sticky collection bar?",
        "default": false
      },
      {
        "type": "link_list",
        "id": "collection_navbar",
        "label": "Choose Collection?"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color"
      }
    ]
  }
{% endschema %}
