
<section data-section-id="{{ section.id }}" class="section-content custom-height d-flex align-items-center">
  <div class="container my-6">
    <div class="row">
      <div class="col-sm-12 text-center">
        <i class="{{ section.settings.icon_class }} display-1 text-gray-400" style="color:{{ section.settings.icon_color }}!important"></i>
        <h1 class="my-4">{{ 'general.404.title' | t }}</h1>
        <p class="mb-5">{{ section.settings.general_text }}</p>
        <p><a href="{{ section.settings.btn_link }}" class="btn btn-primary">{{ section.settings.btn_label }}</a> </p> 
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "404 Template",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "icon_class",
        "label": "Icon Class",
        "default": "icon ion-md-compass"
      },
      {
        "type": "text",
        "id": "general_text",
        "label": "General Text" 
      },
      {
        "type": "text",
        "id": "btn_label",
        "label": "Button label" 
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link" 
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "icon_color",
        "label": "Icon Color",
        "default": "#ced4da"
      }
    ]
  }
{% endschema %}
