
{% assign fluid_layout = section.settings.fluid_layout %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign show_vendor = section.settings.show_vendor %}
{% assign addons_enabled = section.settings.enable_product_addons %}
{% assign addons_type = section.settings.addons_type %}
{% assign enable_color_swatches = settings.enable_color_swatches %}
{% assign enable_size_swatches = settings.enable_size_swatches %}

<div
  data-section-id="{{ section.id }}"
  data-template="product"
  data-enable-history-state="true"
  class="{% if product.has_only_default_variant %}only-default-variant{% endif %}">

  {% include 'template-product-subscription-classic' %}
  {% if product.metafields.global %}
    {% include 'subscription-products' %}
  {% endif %}  


  {% if section.settings.enable_mobile_toolbar %}
    {% include 'product-toolbar-mobile' %}
  {% endif %}

  {% for block in section.blocks %}
    {% case block.type %} 
    {% when 'footer-banner' %}        
      {% if block.settings.enable_footer_banner%}
        {% include 'subscription-product-footer-banner' %}
      {% endif %}
    {% when 'product-tabs' %}
      {% if block.settings.enable_product_tabs %}  
        {% include 'subscription-products' %}
      {% endif %}
    {% when 'related-products' %}
      {% if block.settings.enable_related_products %}
        {% include 'block-related-products' %}
      {% endif %}
    {% when 'recently-viewed' %}
      {% if block.settings.enable_recently_viewed_products %}
        {% include 'block-recently-viewed-products' %}
      {% endif %}
    {% when 'instagram-feed' %}
      {% if block.settings.enable_instagram %}
        {% include 'block-instagram-feed' %}
      {% endif %}
    {% endcase %}
  {% endfor %}
   
  <!-- {% include 'app-utilities-related-products' %} -->

  {% unless product == empty %}
  <script type="application/json" data-product-json>
  {
    "product": {{ product | json }},
    "options_with_values": {{ product.options_with_values | json }}
  }
  </script>
  {% endunless %}
</div>

{% schema %}
  {
    "name": "subscription product page",
    "settings": [
      {
        "type": "header",
        "content": "layout"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
          "type": "color",
          "id": "section_txt_color",
          "label": "Text Color",
          "default": "#343a40"
      },
      {
        "type": "header",
        "content": "Features"
      },
      {
        "type": "checkbox",
        "id": "show_quntity_box",
        "label": "Show quntity box?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_options",
        "label": "Show options?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_mobile_toolbar",
        "label": "Enable Mobile Toolbar?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_images_zoom",
        "label": "Enable Images Zoom?",
        "default": false
      },
      {
        "type": "header",
        "content": "product header"
      },
      {
        "type": "text",
        "id": "title_text",
        "label": "title text"
      },
      {
        "type": "text",
        "id": "shipping_text",
        "label": "shipping text"
      },
      {
        "type": "text",
        "id": "cancel_text",
        "label": "cancle text"
      },
      {
        "type": "text",
        "id": "description_title",
        "label": "description title"
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      },
     
      {
        "type": "select",
        "id": "btn_type",
        "label": "Button Type",
        "options": [{
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "",
            "label": "Solid"
          }
        ],
        "default": "outline"
      },
      {
        "type": "select",
        "id": "btn_variant",
        "label": "Button Variant",
        "options": [{
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "light", 
            "label": "Light"
          },
          {
            "value": "gray-900",
            "label": "Dark"
          }
        ],
        "default": "primary"
      },
      {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "options": [{
            "value": "",
            "label": "Default"
          },
          {
            "value": "btn-sm",
            "label": "Small"
          },
          {
            "value": "btn-lg",
            "label": "Large"
          }
        ],
        "default": ""
      },
      {
        "type": "text",
        "id": "info_text",
        "label": "info text"
      }
     
    ],
    "blocks": [
    {
      "type": "footer-banner",
      "name": "footer banner",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_footer_banner",
          "label": "Enable footer banner"
        },
        {
          "type": "text",
          "id": "footer_banner_header",
          "label": "add footer banner header text"
        },
        {
          "type": "text",
          "id": "footer_banner_content",
          "label": "add footer banner content text"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        },
       
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [{
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "white",
              "label": "Light" 
            },
            {   
              "value": "gray-900",
              "label": "Dark"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
      ]  
    },
      {
        "type": "product-tabs",
        "name": "Product Tabs",
        "limit": 1,
        "settings": [
          
          {
            "type": "checkbox",
            "id": "enable_reviews_tab",
            "label": "Enable Product Reviews Tab?",
            "info": "You must install our [Product Reviews](https:\/\/reviews.hulkapps.com) app."
          }
        ]  
      },
      {
        "type": "related-products",
        "name": "Related Products",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_related_products",
            "label": "Enabled?"
          },
          {
            "type": "checkbox",
            "id": "related_products_fluid_layout",
            "label": "Full Width Layout?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "related_products_section_padding",
            "label": "Section Padding?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "related_products_section_no_gutters",
            "label": "No Gutters?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "related_products_nav_arrows",
            "label": "Arrows Navigation",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "related_products_nav_dots",
            "label": "Dots Navigation",
            "default": true
          },
          {
            "type": "range",
            "id": "related_products_view",
            "label": "Total Items to Show",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 9
          },
          {
            "type": "range",
            "id": "related_products_auto_play",
            "label": "Autoplay",
            "info": "Duration of animation between slides (in seconds). Set to zero if you don't want the slider to autoplay.",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "related_products_heading_txt",
            "label": "Heading Text",
            "default": "Related Products"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "related_products_section_bg_color",
            "label": "Background Color",
            "default": "#F8F9FA"
          },
          {
            "type": "color",
            "id": "related_products_section_color",
            "label": "Text Color",
            "default": "#343a40"
          }
        ]
      },
      {
        "type": "recently-viewed",
        "name": "Recently Viewed",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_recently_viewed_products",
            "label": "Enabled?"
          },
          {
            "type": "checkbox",
            "id": "recently_viewed_products_fluid_layout",
            "label": "Full Width Layout?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "recently_viewed_products_section_padding",
            "label": "Section Padding?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "recently_viewed_products_section_no_gutters",
            "label": "No Gutters?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "recently_viewed_products_nav_arrows",
            "label": "Arrows Navigation",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "recently_viewed_products_nav_dots",
            "label": "Dots Navigation",
            "default": true
          },
          {
            "type": "range",
            "id": "recently_viewed_products_view",
            "label": "Total Items to Show",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 9
          },
          {
            "type": "range",
            "id": "recently_viewed_products_auto_play",
            "label": "Autoplay",
            "info": "Duration of animation between slides (in seconds). Set to zero if you don't want the slider to autoplay.",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "recently_viewed_products_heading_txt",
            "label": "Heading Text",
            "default": "Recently Viewed"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "recently_viewed_products_section_bg_color",
            "label": "Background Color",
            "default": "#F8F9FA"
          },
          {
            "type": "color",
            "id": "recently_viewed_products_section_color",
            "label": "Text Color",
            "default": "#343a40"
          }
        ]
      },
      {
        "type": "instagram-feed",
        "name": "Instagram Feed",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_instagram",
            "label": "Enabled?"
          },
          {
            "type": "checkbox",
            "id": "instagram_fluid_layout",
            "label": "Full Width Layout?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "instagram_section_padding",
            "label": "Section Padding?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "instagram_section_no_gutters",
            "label": "No Gutters?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_profile_link",
            "label": "Show Profile Link?",
            "default": false
          },
          {
            "type": "range",
            "id": "instagram_view",
            "label": "Total Items to Show",
            "min": 0,
            "max": 48,
            "step": 1,
            "default": 12
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "instagram_heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "instagram_section_bg_color",
            "label": "Background Color"
          },
          {
            "type": "color",
            "id": "instagram_section_txt_color",
            "label": "Text Color"
          },
          {
            "type": "header",
            "content": "Account Info"
          },
          {
            "type": "text",
            "id": "instagram_username",
            "label": "Username",
            "info": "Instagram username without the '@' symbol."
          },
          {
            "type": "text",
            "id": "instagram_token",
            "label": "Access Token [( ? )](\/\/goo.gl\/OypFlG)"
          }
        ]
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}

{% stylesheet 'scss' %}
{% endstylesheet %}
