<section data-section-id="{{ section.id }}" class="section-content bg-gray-100"> 
  <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="page-title">{{ page.title }}</h1>
      </div>
    </div>
    <div class="faq-type mb-md-8 mb-6">         
      <h3 class="mb-md-5 mb-3">All About BloomsyBox.com</h3>
      <div id="accordion">
          {% for block in section.blocks %}   
            {% if block.type == 'all-about' %}  
              <div class="card-heading mt-3" role="tab" id="heading{{ forloop.index }}"> 
                <button class="card-header w-100 text-left h5 mb-0 border-0 bg-white border-radius-0 collapsed pr-6" type="button" data-toggle="collapse"  data-target="#collapse{{ forloop.index }}" aria-expanded="true" aria-controls="collapse{{ forloop.index }}">{{ block.settings.heading }}<span class="cross"></span></button>
              </div>
              <div id="collapse{{ forloop.index }}" class="collapse in bg-white" data-parent="#accordion" aria-labelledby="heading{{ forloop.index }}">
                <div class="card-body">{{ block.settings.txt }}</div>
              </div>   
            {% endif %}         
          {% endfor %}  
      </div>
    </div>

    <div class="faq-type mb-md-8 mb-6">         
      <h3 class="mb-md-5 mb-3">Billing and Payment</h3>
      <div id="accordion-billing">
          {% for block in section.blocks %}   
            {% if block.type == 'billing-payment' %}  
              <div class="card-heading mt-3" role="tab" id="heading{{ forloop.index }}"> 
                <button class="card-header w-100 text-left h5 mb-0 border-0 bg-white border-radius-0 collapsed pr-6" type="button" data-toggle="collapse"  data-target="#collapse{{ forloop.index }}" aria-expanded="true" aria-controls="collapse{{ forloop.index }}">{{ block.settings.heading }}<span class="cross"></span></button>
              </div>
              <div id="collapse{{ forloop.index }}" class="collapse in bg-white" data-parent="#accordion-billing" aria-labelledby="heading{{ forloop.index }}">
                <div class="card-body">{{ block.settings.txt }}</div>
              </div>   
            {% endif %}         
          {% endfor %}  
      </div>
    </div> 

    <div class="faq-type mb-md-8 mb-6">         
      <h3 class="mb-md-5 mb-3">Updating your Subscription</h3>
      <div id="accordion-update">
          {% for block in section.blocks %}   
            {% if block.type == 'update-subscription' %}  
              <div class="card-heading mt-3" role="tab" id="heading{{ forloop.index }}"> 
                <button class="card-header w-100 text-left h5 mb-0 border-0 bg-white border-radius-0 collapsed pr-6" type="button" data-toggle="collapse"  data-target="#collapse{{ forloop.index }}" aria-expanded="true" aria-controls="collapse{{ forloop.index }}">{{ block.settings.heading }}<span class="cross"></span></button>
              </div>
              <div id="collapse{{ forloop.index }}" class="collapse in bg-white" data-parent="#accordion-update" aria-labelledby="heading{{ forloop.index }}">
                <div class="card-body">{{ block.settings.txt }}</div>
              </div>   
            {% endif %}         
          {% endfor %}  
      </div>
    </div> 

    <div class="faq-type mb-3">         
      <h3 class="mb-md-5 mb-3">Shipping</h3>
      <div id="accordion-shipping">
          {% for block in section.blocks %}   
            {% if block.type == 'shipping' %}  
              <div class="card-heading mt-3" role="tab" id="heading{{ forloop.index }}"> 
                <button class="card-header w-100 text-left h5 mb-0 border-0 bg-white border-radius-0 collapsed pr-6" type="button" data-toggle="collapse"  data-target="#collapse{{ forloop.index }}" aria-expanded="true" aria-controls="collapse{{ forloop.index }}">{{ block.settings.heading }}<span class="cross"></span></button>
              </div>
              <div id="collapse{{ forloop.index }}" class="collapse in bg-white" data-parent="#accordion-shipping" aria-labelledby="heading{{ forloop.index }}">
                <div class="card-body">{{ block.settings.txt }}</div>
              </div>   
            {% endif %}         
          {% endfor %}  
      </div>
    </div> 

  </div>
</section>

{% schema %}
  {
    "name": "FAQs Template",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "select",
        "id": "grid_size",
        "label": "Grid Size",
        "options": [{
            "value": "12",
            "label": "1 Column"
          },
          {
            "value": "6",
            "label": "2 Columns"
          }
        ],
        "default": "6"
      }
    ],
    "blocks": [
      {
        "type": "all-about",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "txt",
            "label": "Text"
          }
        ]
      },
       {
        "type": "billing-payment",
        "name": "Billing and Payment",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "txt",
            "label": "Text"
          }
        ]
      },
      {
        "type": "update-subscription",
        "name": "Updating Subscription",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "txt",
            "label": "Text"
          }
        ]
      },
      {
        "type": "shipping",
        "name": "Shipping",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "txt",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
